<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition >
        <style>
            .alert {
                padding: 15px;
                margin-bottom: 20px;
                border: 1px solid transparent;
                border-radius: 4px;
            }
            .alert-info {
                color: #31708f;
                background-color: #d9edf7;
                border-color: #bce8f1;
            }
            .alert-warning {
                color: #8a6d3b;
                background-color: #fcf8e3;
                border-color: #faebcc;
            }
            h1,h2{
                direction: ltr;text-align: left;font-family: Arial
            }
            .container{
                margin-top: 50px
            }
        </style>
        <div class="container">
            <h1 class="alert alert-warning">Error 403!</h1>
            <h2>Forbidden! Access denied.</h2>
        </div>
    </ui:composition>
</html>