<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:panelGroup rendered="#{marketingController.currentUser!=null and marketingController.currentUser.hasRole('MARKETING')}">
                <h:outputStylesheet library="css" name="bootstrap.min.css"/>
                <h:outputStylesheet library="css" name="font-awesome.min.css"/>  
                <h:outputScript library="js" name="jquery-2.2.3.min.js"/>
                <ui:include src="section_marketing/type.xhtml" />
            </h:panelGroup>
            <h:panelGroup rendered="#{marketingController.currentUser==null or !marketingController.currentUser.hasRole('MARKETING')}">
                <ui:include src="/error/403.xhtml" />
            </h:panelGroup>
        </ui:define>
    </ui:composition>
</html>