<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="/template.xhtml">
        
        <ui:define name="body">
            <p:growl id='growl' />
            <bnu:tabView  id="tabview">
                <bnu:tab title="انواع بازار" >
                    <h:panelGroup id="markettypecontent">
                        <ui:include src="markettype/#{markrttypeController.page}.xhtml" />
                    </h:panelGroup>
                </bnu:tab>
                <bnu:tab title="مشخصات پایه" >
                    <ui:include src="baseattribute/List.xhtml" />
                </bnu:tab>
                <bnu:tab title="اطلاعات پایه" >
                    <ui:include src="province/List.xhtml" />
                </bnu:tab>
            </bnu:tabView>
        </ui:define>
    </ui:composition>
</html>
