<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"

      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition>

        <h:form id="MarkrttypeCreateForm" >
            <h:panelGroup id="display" rendered="#{markrttypeController.selected != null}">
                <fieldset>
                    <legend>تعریف بازار</legend>
                    <bnu:row>
                        <bnu:column colLg="6" colMd="6" colSm="12" colXs="12" >
                            <fieldset>
                                <legend>عنوان بازار</legend>
                                <p:panelGrid style="width:100%" columns="2" rendered="#{markrttypeController.selected != null}">
                                    <p:outputLabel value="عنوان" for="name" />
                                    <bnu:inputText renderLabel="false" id="name" value="#{markrttypeController.selected.name}" title="عنوان" required="true" requiredMessage="عنوان را وارد کنید"/>
                                    <p:outputLabel  value="توضیحات" for="meta" />
                                    <bnu:inputTextarea rows="2"  renderLabel="false" id="meta" value="#{markrttypeController.selected.meta}" title="توضیحات" />
                                </p:panelGrid>
                            </fieldset>
                        </bnu:column>
                        <bnu:column colLg="6" colMd="6" colSm="12" colXs="12" >
                            <fieldset>
                                <legend>اطلاعات اولیه</legend>
                                <p:pickList id="p1" value="#{markrttypeController.l1}" var="base" required="true" requiredMessage="اطلاعات اولیه را تکمیل نمایید"
                                            addAllLabel="افزودن همه" addLabel="افزودن" removeAllLabel="حذف همه" removeLabel="حذف"
                                            itemValue="#{base}" itemLabel="#{base}" showTargetControls="true" responsive="true"
                                            showSourceFilter="true"   showTargetFilter="true" filterMatchMode="contains" converter="baseConverter">
                                    <f:facet name="sourceCaption">ویژگی ها پایه</f:facet>
                                    <f:facet name="targetCaption">ویژگی تخصیص یافته</f:facet>
                                    <p:column>
                                        <h:outputText value="#{base}" />
                                    </p:column>
                                </p:pickList>
                            </fieldset>
                        </bnu:column>
                        <bnu:column colLg="6" colMd="6" colSm="12" colXs="12" >
                            <fieldset>
                                <legend>اطلاعات منابع انسانی</legend>
                                <p:pickList id="p2" value="#{markrttypeController.l2}" var="base" 
                                            addAllLabel="افزودن همه" addLabel="افزودن" removeAllLabel="حذف همه" removeLabel="حذف"
                                            itemValue="#{base}" itemLabel="#{base}" showTargetControls="true" responsive="true"
                                            showSourceFilter="true"   showTargetFilter="true" filterMatchMode="contains"  converter="baseConverter">
                                    <f:facet name="sourceCaption">ویژگی ها پایه</f:facet>
                                    <f:facet name="targetCaption">ویژگی تخصیص یافته</f:facet>
                                    <p:column>
                                        <h:outputText value="#{base}" />
                                    </p:column>
                                </p:pickList>
                            </fieldset>
                        </bnu:column>
                        <bnu:column colLg="6" colMd="6" colSm="12" colXs="12" >
                            <fieldset>
                                <legend>اطلاعات رقابتی</legend>
                                <p:pickList id="p3"  value="#{markrttypeController.l3}" var="base" 
                                            addAllLabel="افزودن همه" addLabel="افزودن" removeAllLabel="حذف همه" removeLabel="حذف"
                                            itemValue="#{base}" itemLabel="#{base}" showTargetControls="true" responsive="true"
                                            showSourceFilter="true"   showTargetFilter="true" filterMatchMode="contains"  converter="baseConverter">
                                    <f:facet name="sourceCaption">ویژگی ها پایه</f:facet>
                                    <f:facet name="targetCaption">ویژگی تخصیص یافته</f:facet>
                                    <p:column>
                                        <h:outputText value="#{base}" />
                                    </p:column>
                                </p:pickList>
                            </fieldset>
                        </bnu:column>
                        <bnu:column style="text-align: center" colLg="12" colMd="12" colSm="12" colXs="12" >
                            <p:commandLink styleClass="btn btn-info btn-lg" actionListener="#{markrttypeController.preCreate()}" value="تعریف نوع اطلاعات"  update=":markettypecontent,:growl"  action="#{markrttypeController.setPage('InputType')}" />
                            <p:commandLink styleClass="btn btn-danger btn-lg" partialSubmit="true" process="@this" update=":markettypecontent" value="#{bundle.Cancel}" action="#{markrttypeController.setPage('List')}"/>
                        </bnu:column>
                    </bnu:row>
                </fieldset>
            </h:panelGroup>
        </h:form>
    </ui:composition>
</html>
