<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MarkrttypeEditDlg" widgetVar="MarkrttypeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditMarkrttypeTitle}">
            <h:form id="MarkrttypeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{markrttypeController.selected != null}">
                        <p:outputLabel value="#{bundle.EditMarkrttypeLabel_id}" for="id" />
                        <p:inputText id="id" value="#{markrttypeController.selected.id}" title="#{bundle.EditMarkrttypeTitle_id}" required="true" requiredMessage="#{bundle.EditMarkrttypeRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditMarkrttypeLabel_name}" for="name" />
                        <p:inputText id="name" value="#{markrttypeController.selected.name}" title="#{bundle.EditMarkrttypeTitle_name}" required="true" requiredMessage="#{bundle.EditMarkrttypeRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditMarkrttypeLabel_status}" for="status" />
                        <p:inputText id="status" value="#{markrttypeController.selected.status}" title="#{bundle.EditMarkrttypeTitle_status}" required="true" requiredMessage="#{bundle.EditMarkrttypeRequiredMessage_status}"/>
                        <p:outputLabel value="#{bundle.EditMarkrttypeLabel_meta}" for="meta" />
                        <p:inputText id="meta" value="#{markrttypeController.selected.meta}" title="#{bundle.EditMarkrttypeTitle_meta}" />
                        <p:outputLabel value="#{bundle.EditMarkrttypeLabel_updateat}" for="updateat" />
                        <p:calendar id="updateat" pattern="MM/dd/yyyy HH:mm:ss" value="#{markrttypeController.selected.updateat}" title="#{bundle.EditMarkrttypeTitle_updateat}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditMarkrttypeLabel_employee}" for="employee" />
                        <p:selectOneMenu id="employee" value="#{markrttypeController.selected.employee}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                           var="employeeItem"
                                           itemValue="#{employeeItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{markrttypeController.update}" value="#{bundle.Save}" update="display,:MarkrttypeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'MarkrttypeEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MarkrttypeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
