<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>

        <h:form id="MarkrttypeCreateForm">
            <h:panelGroup id="display" rendered="#{markrttypeController.selected != null}">
                <fieldset>
                    <legend>تعریف نوع ورودی</legend>
                    <ui:repeat rendered="#{markrttypeController.selected!=null}" value="#{markrttypeController.selected.baseattributeMarkrttypeCollection}" var="attr">
                        <bnu:row>
                            <h:panelGroup rendered="#{attr.group != markrttypeController.groupSection}" style="border-bottom: 1px #ccc solid;font-size: medium;display: inline-block;width: 100%;margin-bottom: 5px">
                                <h:outputText value="اطلاعات اولیه" rendered="#{attr.group==1}" />
                                <h:outputText value="اطلاعات منابع انسانی" rendered="#{attr.group==2}" />
                                <h:outputText value="اطلاعات رقابتی" rendered="#{attr.group==3}" />
                                #{markrttypeController.setGroupSection(attr.group)}
                            </h:panelGroup>
                        </bnu:row>
                        <bnu:row>
                            <bnu:column colLg="3" colMd="3" colSm="6" colXs="12" >
                                #{attr.baseattribute}
                            </bnu:column>
                            <bnu:column colLg="1" colMd="1" colSm="3" colXs="6" >
                                <p:selectBooleanCheckbox value="#{attr.required}" itemLabel="اجباری" />
                            </bnu:column>
                            <bnu:column colLg="2" colMd="2" colSm="3" colXs="6" >
                                <p:selectBooleanCheckbox value="#{attr.multiple}" itemLabel="قابلیت تکرار" />
                            </bnu:column>
                            <bnu:column colLg="3" colMd="3" colSm="6" colXs="12" >
                                <p:panelGrid columns="2">
                                    <p:outputLabel value="نوع پاسخ" />
                                    <h:selectOneMenu styleClass="form-control" value="#{attr.datatype}">
                                        <p:ajax update="tags" />
                                        <f:selectItem itemLabel="متن" itemValue="#{0}" />
                                        <f:selectItem itemLabel="عدد" itemValue="#{1}" />
                                        <f:selectItem itemLabel="بله/خیر" itemValue="#{2}" />
                                        <f:selectItem itemLabel="چند گزینه ای" itemValue="#{3}" />
                                        <f:selectItem itemLabel="متن طولانی" itemValue="#{4}" />
                                    </h:selectOneMenu>
                                </p:panelGrid>
                            </bnu:column>
                            <bnu:column  id='tags' colLg="3" colMd="3" colSm="6" colXs="12" >
                                <bnu:inputText  rendered="#{attr.datatype==3}" tags="true" value="#{attr.meta}" tiny-screen="full-width"
                                               placeholder="گزینه ها را با «,» جدا کنید"/>
                            </bnu:column>
                        </bnu:row>
                    </ui:repeat>
                    <bnu:column style="text-align: center" colLg="12" colMd="12" colSm="12" colXs="12" >
                        <p:commandLink styleClass="btn btn-info btn-lg" actionListener="#{markrttypeController.preCreate()}" value="#{bundle.Save}"  update=":markettypecontent,:growl"  action="#{markrttypeController.create()}" />
                        <p:commandLink styleClass="btn btn-danger btn-lg" partialSubmit="true" process="@this" update=":markettypecontent" value="بازگشت" action="#{markrttypeController.setPage('Create')}"/>
                    </bnu:column>
                </fieldset>
            </h:panelGroup>
        </h:form>
    </ui:composition>
</html>
