<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition >

        <h:form id="MarkrttypeListForm">
            <p:dataTable id="datalist" value="#{markrttypeController.items}" var="item"
                         paginator="true"
                         rowKey="#{item.id}"
                         rows="10"
                         reflow="true"
                         paginatorPosition="bottom"
                         paginatorAlwaysVisible="false"
                         emptyMessage="رکوردی درج نشده."
                         rowsPerPageTemplate="10,20,30,40,50"
                         >
                <p:column  width="40">
                    <f:facet name="header">
                        <h:outputText value="ردیف"/>
                    </f:facet>
                    <h:outputText value="#{markrttypeController.items.indexOf(item)+1}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="نام"/>
                    </f:facet>
                    <h:outputText value="#{item.name}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="مشخصات"/>
                    </f:facet>
                    <ui:repeat varStatus="l" value="#{item.baseattributeMarkrttypeCollection}" var="base">
                        <h:outputText rendered="#{l.index!=0}" value=", " />
                        <h:outputText value="#{base.baseattribute}" />
                    </ui:repeat>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="توضیحات"/>
                    </f:facet>
                    <h:outputText value="#{item.meta}"/>
                </p:column>
                <p:column>
                    <p:commandLink styleClass="btn btn-info btn-xs" update=":markettypecontent" title="#{bundle.Edit}" actionListener="#{markrttypeController.setSelected(item)}" action="#{markrttypeController.prepareUpdate()}">
                        <span class="fa fa-pencil-square-o"></span>
                    </p:commandLink>
                    <p:commandLink styleClass="btn btn-success btn-xs" update=":iconForm" oncomplete="PF('iconForm').show();" title="آیکون" actionListener="#{markrttypeController.setSelected(item)}" >
                        <span class="fa fa-image"></span>
                    </p:commandLink>
                    <p:commandLink styleClass="btn btn-danger btn-xs" title="#{bundle.Delete}" actionListener="#{markrttypeController.setSelected(item)}"  action="#{markrttypeController.destroy}" update=":growl,datalist" >
                        <p:confirm message="آیا از حذف اطمینان دارید؟" />
                        <span class="fa fa-trash"></span>
                    </p:commandLink>
                </p:column>
                <f:facet name="header">
                    <bnu:row>
                        <bnu:column colLg="6" colMd="6" colSm="6" colXs="6">
                            <h4 class="title">
                                بازارها
                            </h4>
                        </bnu:column>
                        <bnu:column style="text-align: left" colLg="6" colMd="6" colSm="6" colXs="6">
                            <p:commandLink styleClass="btn btn-primary" actionListener="#{markrttypeController.prepareCreate()}" update=":markettypecontent" >
                                <span class="fa fa-plus"></span> #{bundle.Create}
                            </p:commandLink>
                        </bnu:column>
                    </bnu:row>
                </f:facet>
            </p:dataTable>

        </h:form>
        <p:dialog widgetVar="iconForm" appendTo="@(body)" modal="true">
            <h:form  id="iconForm" enctype="multipart/form-data">
                <h:panelGrid columns="1" rendered="#{markrttypeController.selected!=null}">
                    <p:outputLabel value="آیکون" for="file" />
                    <o:inputFile id='file' value="#{markrttypeController.part}" accept="image/*" maxsize="#{100*1024}" maxsizeMessage="حجم آیکون نباید بیشتر از ۱۰۰ کیلو بایت باشد.">
                        <f:ajax execute="@this" render="icon" listener="#{markrttypeController.upload()}"/>
                    </o:inputFile>
                    <h:panelGroup id="icon">
                        <h:graphicImage style="margin: 10px" rendered="#{not empty markrttypeController.selected.icon}" value="/media/L1#{markrttypeController.selected.icon}" />
                    </h:panelGroup>
                    <h:commandLink style="margin-top: 20px" type="button" styleClass="btn btn-danger btn-lg" onclick="PF('iconForm').hide()">
                        بستن
                        <span class="fa fa-remove"></span>
                    </h:commandLink>
                </h:panelGrid>
            </h:form>
        </p:dialog>
    </ui:composition>

</html>
