<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MarkrttypeViewDlg" widgetVar="MarkrttypeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewMarkrttypeTitle}">
            <h:form id="MarkrttypeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{markrttypeController.selected != null}">
                        <h:outputText value="#{bundle.ViewMarkrttypeLabel_id}"/>
                        <h:outputText value="#{markrttypeController.selected.id}" title="#{bundle.ViewMarkrttypeTitle_id}"/>
                        <h:outputText value="#{bundle.ViewMarkrttypeLabel_name}"/>
                        <h:outputText value="#{markrttypeController.selected.name}" title="#{bundle.ViewMarkrttypeTitle_name}"/>
                        <h:outputText value="#{bundle.ViewMarkrttypeLabel_status}"/>
                        <h:outputText value="#{markrttypeController.selected.status}" title="#{bundle.ViewMarkrttypeTitle_status}"/>
                        <h:outputText value="#{bundle.ViewMarkrttypeLabel_meta}"/>
                        <h:outputText value="#{markrttypeController.selected.meta}" title="#{bundle.ViewMarkrttypeTitle_meta}"/>
                        <h:outputText value="#{bundle.ViewMarkrttypeLabel_updateat}"/>
                        <h:outputText value="#{markrttypeController.selected.updateat}" title="#{bundle.ViewMarkrttypeTitle_updateat}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewMarkrttypeLabel_employee}"/>
                        <h:outputText value="#{markrttypeController.selected.employee}" title="#{bundle.ViewMarkrttypeTitle_employee}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="MarkrttypeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
