<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o='http://omnifaces.org/ui'
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>
        <h:form id="CategoryListForm">
            <style>
                .category-label{
                    border:1px solid #ea454b;position: relative;display: inline-block;width:100px;height: 50px
                }
                .category-label .label{
                    position: absolute;top: 0;font-size: large;display: inline-block;right:0
                }
                .ui-colorpicker-container{
                    z-index: 999999!important
                }
                .row{
                    margin-bottom: 10px
                }
            </style>
            <bnu:row  styleClass="ui-widget-header" style="padding-bottom: 3px">
                <bnu:column colLg="6" colMd="6" colSm="6" colXs="6">
                    <h4 class="title">
                        دسته بندی ها
                    </h4>
                </bnu:column>
                <bnu:column style="text-align: left" colLg="6" colMd="6" colSm="6" colXs="6">
                    <p:commandLink styleClass="btn btn-info" actionListener="#{productController.setPage('product/List')}" update=":empanel">
                        <span class="fa fa-product-hunt"></span> محصولات
                    </p:commandLink>
                </bnu:column>
            </bnu:row>
            <p:tree id="tree1" value="#{categoryController.root}" var="node" selectionMode="single" selection="#{categoryController.selectedNode}"
                    draggable="true" droppable="true" >
                <p:ajax event="dragdrop" update=":growl" listener="#{categoryController.onDragDrop}"  />
                <p:treeNode>
                    <div class="category-label" style="background: ##{node.color}">
                        <p:graphicImage rendered="#{not empty node.image}" value="/images/thumb/#{node.image}" style="width:100%" />
                        <h:outputText rendered="#{empty node.image}" styleClass="label" value="#{node.name}" />
                    </div>
                </p:treeNode>
            </p:tree>
            <p:contextMenu for="tree1">
                <p:menuitem value="#{bundle.Edit}" update=":CategoryEditForm" oncomplete="$('.editModal').modal()" icon="fa fa-pencil-square-o" />
                <p:menuitem value="تصویر" update=":imageForm" oncomplete="$('.imageModal').modal()" icon="fa fa-image" />
                <p:menuitem value="#{bundle.Delete}" update="tree1" actionListener="#{categoryController.destroy}" icon="fa fa-trash">
                    <p:confirm />
                </p:menuitem>
            </p:contextMenu>
        </h:form>
        <bnu:modal  closable="true" closeOnEscape="true" styleClass="imageModal" >
            <bnu:row>
                <bnu:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
                    <h:form  enctype="multipart/form-data">
                        <div class="upload-button">
                            <div class="bg-button">
                                <span class="fa fa-upload fa-4x"></span>
                            </div>
                            <o:inputFile id='image' accept="image/png" value="#{categoryController.part}" >
                                <f:ajax execute="@form"  onevent="showProgress"  render=":imageForm:cropper" listener="#{categoryController.uploadImage()}" />
                            </o:inputFile>
                            <h:message for="image" />
                            <div class="imageLoading">
                                <span class="fa fa-spinner fa-pulse fa-4x fa-fw"></span>
                            </div>
                        </div>
                    </h:form>
                </bnu:column>
                <bnu:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
                    <h:form id='imageForm'>
                        <h:panelGroup rendered="#{categoryController.selected!=null}">
                            <div class='file-shower' style="text-align: center">
                                <h:panelGroup id='cropper'>
                                    <p:imageCropper rendered="#{not empty categoryController.temp}" value="#{categoryController.cropper}" image="/resources/temp/#{categoryController.temp.name}" aspectRatio="2" initialCoords="0,0,300,150" />
                                </h:panelGroup>
                            </div>
                        </h:panelGroup>
                        <p:commandLink styleClass="btn btn-info" actionListener="#{categoryController.update}" value="#{bundle.Save}"  update=":CategoryListForm:tree1,:growl" oncomplete="handleSubmitModal(args,'imageModal');"  />
                        <p:commandLink value="بستن" type='button' styleClass="btn btn-danger" onclick="$('.imageModal').modal('hide');" />
                    </h:form>
                </bnu:column>
            </bnu:row> 
        </bnu:modal>
        <ui:include src="Create.xhtml"/>
        <ui:include src="Edit.xhtml"/>
        <script>
            $.ajaxPrefilter(function (options, original_Options, jqXHR) {
                options.async = true;
            });
            function showProgress(data) {
                switch (data.status) {
                    case "begin": // This is called right before ajax request is been sent.
                        $('.imageLoading').show();
                        break;

                    case "complete": // This is called right after ajax response is received.
                        $('.imageLoading').hide();
                        break;

                    case "success": // This is called when ajax response is successfully processed.

                        break;
                }
            }
        </script>
    </ui:composition>

</html>
