<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MarketplaceCreateDlg" widgetVar="MarketplaceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMarketplaceTitle}">
            <h:form id="MarketplaceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{marketplaceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateMarketplaceLabel_id}" for="id" />
                        <p:inputText id="id" value="#{marketplaceController.selected.id}" title="#{bundle.CreateMarketplaceTitle_id}" required="true" requiredMessage="#{bundle.CreateMarketplaceRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateMarketplaceLabel_latitude}" for="latitude" />
                        <p:inputText id="latitude" value="#{marketplaceController.selected.latitude}" title="#{bundle.CreateMarketplaceTitle_latitude}" required="true" requiredMessage="#{bundle.CreateMarketplaceRequiredMessage_latitude}"/>
                        <p:outputLabel value="#{bundle.CreateMarketplaceLabel_longitude}" for="longitude" />
                        <p:inputText id="longitude" value="#{marketplaceController.selected.longitude}" title="#{bundle.CreateMarketplaceTitle_longitude}" required="true" requiredMessage="#{bundle.CreateMarketplaceRequiredMessage_longitude}"/>
                        <p:outputLabel value="#{bundle.CreateMarketplaceLabel_updateat}" for="updateat" />
                        <p:calendar id="updateat" pattern="MM/dd/yyyy HH:mm:ss" value="#{marketplaceController.selected.updateat}" title="#{bundle.EditMarketplaceTitle_updateat}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateMarketplaceLabel_status}" for="status" />
                        <p:inputText id="status" value="#{marketplaceController.selected.status}" title="#{bundle.CreateMarketplaceTitle_status}" />
                        <p:outputLabel value="#{bundle.CreateMarketplaceLabel_priorty}" for="priorty" />
                        <p:inputText id="priorty" value="#{marketplaceController.selected.priorty}" title="#{bundle.CreateMarketplaceTitle_priorty}" />
                        <p:outputLabel value="#{bundle.CreateMarketplaceLabel_city}" for="city" />
                        <p:selectOneMenu id="city" value="#{marketplaceController.selected.city}" >
                            <f:selectItems value="#{cityController.itemsAvailableSelectOne}"
                                           var="cityItem"
                                           itemValue="#{cityItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateMarketplaceLabel_employee}" for="employee" />
                        <p:selectOneMenu id="employee" value="#{marketplaceController.selected.employee}" >
                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                           var="employeeItem"
                                           itemValue="#{employeeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateMarketplaceLabel_province}" for="province" />
                        <p:selectOneMenu id="province" value="#{marketplaceController.selected.province}" >
                            <f:selectItems value="#{provinceController.itemsAvailableSelectOne}"
                                           var="provinceItem"
                                           itemValue="#{provinceItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{marketplaceController.create}" value="#{bundle.Save}" update="display,:MarketplaceListForm:datalist,:growl" oncomplete="handleSubmit(args,'MarketplaceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MarketplaceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
