<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MarketplaceEditDlg" widgetVar="MarketplaceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditMarketplaceTitle}">
            <h:form id="MarketplaceEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{marketplaceController.selected != null}">
                        <p:outputLabel value="#{bundle.EditMarketplaceLabel_id}" for="id" />
                        <p:inputText id="id" value="#{marketplaceController.selected.id}" title="#{bundle.EditMarketplaceTitle_id}" required="true" requiredMessage="#{bundle.EditMarketplaceRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditMarketplaceLabel_latitude}" for="latitude" />
                        <p:inputText id="latitude" value="#{marketplaceController.selected.latitude}" title="#{bundle.EditMarketplaceTitle_latitude}" required="true" requiredMessage="#{bundle.EditMarketplaceRequiredMessage_latitude}"/>
                        <p:outputLabel value="#{bundle.EditMarketplaceLabel_longitude}" for="longitude" />
                        <p:inputText id="longitude" value="#{marketplaceController.selected.longitude}" title="#{bundle.EditMarketplaceTitle_longitude}" required="true" requiredMessage="#{bundle.EditMarketplaceRequiredMessage_longitude}"/>
                        <p:outputLabel value="#{bundle.EditMarketplaceLabel_updateat}" for="updateat" />
                        <p:calendar id="updateat" pattern="MM/dd/yyyy HH:mm:ss" value="#{marketplaceController.selected.updateat}" title="#{bundle.EditMarketplaceTitle_updateat}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditMarketplaceLabel_status}" for="status" />
                        <p:inputText id="status" value="#{marketplaceController.selected.status}" title="#{bundle.EditMarketplaceTitle_status}" />
                        <p:outputLabel value="#{bundle.EditMarketplaceLabel_priorty}" for="priorty" />
                        <p:inputText id="priorty" value="#{marketplaceController.selected.priorty}" title="#{bundle.EditMarketplaceTitle_priorty}" />
                        <p:outputLabel value="#{bundle.EditMarketplaceLabel_city}" for="city" />
                        <p:selectOneMenu id="city" value="#{marketplaceController.selected.city}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{cityController.itemsAvailableSelectOne}"
                                           var="cityItem"
                                           itemValue="#{cityItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditMarketplaceLabel_employee}" for="employee" />
                        <p:selectOneMenu id="employee" value="#{marketplaceController.selected.employee}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                           var="employeeItem"
                                           itemValue="#{employeeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditMarketplaceLabel_province}" for="province" />
                        <p:selectOneMenu id="province" value="#{marketplaceController.selected.province}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{provinceController.itemsAvailableSelectOne}"
                                           var="provinceItem"
                                           itemValue="#{provinceItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{marketplaceController.update}" value="#{bundle.Save}" update="display,:MarketplaceListForm:datalist,:growl" oncomplete="handleSubmit(args, 'MarketplaceEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MarketplaceEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
