<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListMarketplaceTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="MarketplaceListForm">
                <p:panel header="#{bundle.ListMarketplaceTitle}">
                    <p:dataTable id="datalist" value="#{marketplaceController.items}" var="item"
                                 selectionMode="single" selection="#{marketplaceController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMarketplaceTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMarketplaceTitle_latitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.latitude}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMarketplaceTitle_longitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.longitude}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMarketplaceTitle_updateat}"/>
                            </f:facet>
                            <h:outputText value="#{item.updateat}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMarketplaceTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMarketplaceTitle_priorty}"/>
                            </f:facet>
                            <h:outputText value="#{item.priorty}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMarketplaceTitle_city}"/>
                            </f:facet>
                            <h:outputText value="#{item.city}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMarketplaceTitle_employee}"/>
                            </f:facet>
                            <h:outputText value="#{item.employee}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMarketplaceTitle_province}"/>
                            </f:facet>
                            <h:outputText value="#{item.province}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{marketplaceController.prepareCreate}" update=":MarketplaceCreateForm" oncomplete="PF('MarketplaceCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":MarketplaceViewForm" oncomplete="PF('MarketplaceViewDialog').show()" disabled="#{empty marketplaceController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":MarketplaceEditForm" oncomplete="PF('MarketplaceEditDialog').show()" disabled="#{empty marketplaceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{marketplaceController.destroy}" update=":growl,datalist" disabled="#{empty marketplaceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
