<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MarketplaceViewDlg" widgetVar="MarketplaceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewMarketplaceTitle}">
            <h:form id="MarketplaceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{marketplaceController.selected != null}">
                        <h:outputText value="#{bundle.ViewMarketplaceLabel_id}"/>
                        <h:outputText value="#{marketplaceController.selected.id}" title="#{bundle.ViewMarketplaceTitle_id}"/>
                        <h:outputText value="#{bundle.ViewMarketplaceLabel_latitude}"/>
                        <h:outputText value="#{marketplaceController.selected.latitude}" title="#{bundle.ViewMarketplaceTitle_latitude}"/>
                        <h:outputText value="#{bundle.ViewMarketplaceLabel_longitude}"/>
                        <h:outputText value="#{marketplaceController.selected.longitude}" title="#{bundle.ViewMarketplaceTitle_longitude}"/>
                        <h:outputText value="#{bundle.ViewMarketplaceLabel_updateat}"/>
                        <h:outputText value="#{marketplaceController.selected.updateat}" title="#{bundle.ViewMarketplaceTitle_updateat}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewMarketplaceLabel_status}"/>
                        <h:outputText value="#{marketplaceController.selected.status}" title="#{bundle.ViewMarketplaceTitle_status}"/>
                        <h:outputText value="#{bundle.ViewMarketplaceLabel_priorty}"/>
                        <h:outputText value="#{marketplaceController.selected.priorty}" title="#{bundle.ViewMarketplaceTitle_priorty}"/>
                        <h:outputText value="#{bundle.ViewMarketplaceLabel_city}"/>
                        <h:outputText value="#{marketplaceController.selected.city}" title="#{bundle.ViewMarketplaceTitle_city}"/>
                        <h:outputText value="#{bundle.ViewMarketplaceLabel_employee}"/>
                        <h:outputText value="#{marketplaceController.selected.employee}" title="#{bundle.ViewMarketplaceTitle_employee}"/>
                        <h:outputText value="#{bundle.ViewMarketplaceLabel_province}"/>
                        <h:outputText value="#{marketplaceController.selected.province}" title="#{bundle.ViewMarketplaceTitle_province}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="MarketplaceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
