<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        
<h:form id="CartexForm" enctype="multipart/form-data">
                <p:dataTable widgetVar="dataCartex" id="dataCartex" value="#{inventoryController.cartexList}" var="item" 
                             paginator="true"
                             sortMode="multiple"
                             rows="10"
                             reflow="true"
                             rowStatePreserved="true" 
                             currentPageReportTemplate="(تعداد رکورد: {startRecord} تا {endRecord} از {totalRecords}, صفحه: {currentPage}/{totalPages})"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} " 
                             paginatorPosition="bottom"
                             paginatorAlwaysVisible="false"
                             emptyMessage="رکوردی ثبت نشده"
                             rowsPerPageTemplate="10,20,30,40,50"
                             rowStyleClass="#{item.remain==0?'red':''}"
                             >
                    <p:column width="100">
                        <f:facet name="header">
                            <h:outputText value="ردیف"/>
                        </f:facet>
                        <h:outputText value="#{inventoryController.cartexList.indexOf(item)+1}"/>
                    </p:column>
                    <p:column  sortBy="#{item.product.partnumber}" filterBy="#{item.product.partnumber}" >
                        <f:facet name="header">
                            <h:outputText value="کد کالا"/>
                        </f:facet>
                        <h:outputText value="#{item.product.partnumber}"/>
                    </p:column>
                    <p:column  sortBy="#{item.product.name}"  filterBy="#{item.product.name}" >
                        <f:facet name="header">
                            <h:outputText value="نام کالا"/>
                        </f:facet>
                        <h:outputText value="#{item.product.name}"/>
                    </p:column>
                    <p:column >
                        <f:facet name="header">
                            <h:outputText value="دسته بندی والد"/>
                        </f:facet>
                        <h:outputText value="#{item.product.category.name}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="قیمت"/>
                        </f:facet>
                        <h:outputText value="#{item.product.price}">
                            <f:convertNumber integerOnly="true" maxFractionDigits="0" />
                        </h:outputText>
                    </p:column>
                    <p:column sortBy="#{item.input}" filterBy="#{item.input}" filterMatchMode="exact">
                        <f:facet name="header">
                            <h:outputText value="ورودی"/>
                        </f:facet>
                        <h:outputText value="#{item.input}"/>
                    </p:column>
                    <p:column  sortBy="#{item.output}" filterBy="#{item.output}" filterMatchMode="exact">
                        <f:facet name="header">
                            <h:outputText value="خروجی"/>
                        </f:facet>
                        <h:outputText value="#{item.output}"/>
                    </p:column>
                    <p:column  sortBy="#{item.remain}" filterBy="#{item.remain}" filterMatchMode="exact">
                        <f:facet name="header">
                            <h:outputText value="موجودی"/>
                        </f:facet>
                        <h:outputText style="display: inline-block;direction: ltr" value="#{item.remain}"/>
                    </p:column>
                </p:dataTable>
            </h:form>
    </ui:composition>
</html>
