<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition>

        <bnu:panel rendered="#{!inventoryController.financialYears.end}"  collapsed="true"  title="#{inventoryController.type==0?'ثبت ورودی':'ثبت حواله'}">
            <h:form id="InventoryCreateForm" enctype="multipart/form-data">
                
                <h:panelGroup id="display" styleClass="form" >
                    <bnu:row >
                        <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                            <bnu:row >
                                <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                    <p:outputLabel value="کالا" for="product" />
                                </bnu:column>
                                <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                    <h:selectOneMenu binding="#{product}" style="width:100%" styleClass="form-control" requiredMessage="کالای مورد نظر را انتخاب کنید." required="true" id="product" value="#{inventoryController.selected.product}" >
                                        <f:selectItems value="#{productController.itemsAvailableSelectOne}"
                                                       var="productItem" itemLabel="#{productItem.name} - #{productItem.category.name} - #{productItem.partnumber}"
                                                       itemValue="#{productItem}"/>
                                    </h:selectOneMenu>
                                </bnu:column>
                            </bnu:row>
                        </bnu:column>
                        <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                            <bnu:row >
                                <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                    <p:outputLabel value="تعداد کالا" for="number" />
                                </bnu:column>
                                <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                    <p:inputNumber validator="#{inventoryController.validateNumber}"  decimalPlaces="0" inputStyleClass="form-control" id="number" value="#{inventoryController.selected.number}" title="تعداد کالا" >
                                        <f:attribute name="product" value="#{product}" />
                                    </p:inputNumber>
                                </bnu:column>
                            </bnu:row>
                        </bnu:column>

                    </bnu:row >
                    <bnu:row>
                        <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                            <bnu:row >
                                <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                    <p:outputLabel value="تاریخ" for="realDate" />
                                </bnu:column>
                                <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                    <p:inputText converterMessage="فرمت تاریخ وارد شده صحیح نیست." required="true" requiredMessage="تاریخ ورود کالا را وارد کنید." style="direction: ltr;text-align: left" styleClass="form-control" id="realDate" value="#{inventoryController.selected.realDate}" title="تاریخ"  >
                                        <f:converter converterId="persian_date" />
                                        <f:attribute name="pattern" value="yyyy/MM/dd HH:mm" />
                                    </p:inputText>
                                </bnu:column>
                            </bnu:row>
                        </bnu:column>
                        <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                            <bnu:row >
                                <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                    <p:outputLabel value="#{inventoryController.type==0?'تحویل دهنده':'تحویل گیرنده'}" for="receiver" />
                                </bnu:column>
                                <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                    <h:selectOneMenu style="width: 100%" requiredMessage="شخص تحویل گیرنده از انبار را انتخاب کنید" required="true"  styleClass="form-control"  id="receiver" value="#{inventoryController.selected.receiver}" >
                                        <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                                       var="emItem" itemLabel="#{emItem.name} #{emItem.family}"
                                                       itemValue="#{emItem}"/>
                                    </h:selectOneMenu>
                                </bnu:column>
                            </bnu:row>
                        </bnu:column>
                    </bnu:row >
                    <bnu:row>
                        <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                            <bnu:row >
                                <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                    <p:outputLabel value="پیوست" for="doc" />
                                </bnu:column>
                                <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                    <o:inputFile id="doc" value="#{inventoryController.filePart}" accept="application/msword, application/vnd.ms-excel,application/pdf, image/*"  acceptMessage="فرمت تصویر انتخابی صحیح نیست.">
                                    </o:inputFile>
                                </bnu:column>
                            </bnu:row>
                        </bnu:column>
                    </bnu:row>
                    <bnu:row>
                        <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                            <bnu:row >
                                <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                    <p:outputLabel value="سند اصلاحی" />
                                </bnu:column>
                                <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                    <p:selectBooleanCheckbox  value="#{inventoryController.selected.resolve}">
                                        <f:selectItem itemLabel="سند اصلاحی" itemValue="#{true}" />
                                    </p:selectBooleanCheckbox>
                                </bnu:column>
                            </bnu:row>
                        </bnu:column>
                        <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                            <bnu:row >
                                <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                    <p:outputLabel value="شماره سند اصلاحی" for="docNumber" />
                                </bnu:column>
                                <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                    <p:inputText styleClass="form-control" id="docNumber" value="#{inventoryController.selected.docNumber}" title="شماره سند اصلاحی" />
                                </bnu:column>
                            </bnu:row>
                        </bnu:column>
                    </bnu:row >
                    <bnu:row>
                        <bnu:column colLg="8" colMd="8" colSm="12" colXs="12">
                            <bnu:row >
                                <bnu:column colLg="2" colMd="2" colSm="2" colXs="12">
                                    <p:outputLabel value="شرح" for="comment" />
                                </bnu:column>
                                <bnu:column colLg="10" colMd="10" colSm="10" colXs="12">
                                    <p:inputTextarea styleClass="form-control" rows="2" cols="30" id="comment" value="#{inventoryController.selected.comment}" title="شرح" />
                                </bnu:column>
                            </bnu:row>
                        </bnu:column>
                    </bnu:row>
                    <bnu:row>
                        <bnu:column colLg="12" colMd="12" colSm="12" colXs="12" >
                            <h:commandButton styleClass="btn btn-info" actionListener="#{inventoryController.create}" value="#{bundle.Save}"    >
                                <f:ajax execute="@form" render=":InventoryListForm:datalist :growl @form :CartexForm" />
                            </h:commandButton>
                            <h:commandButton type="reset" style="margin-right: 5px" styleClass="btn btn-danger" value="پاک کردن فرم" />
                        </bnu:column>
                    </bnu:row>
                    <script>
                        $(document).ready(function () {
                            $("#InventoryCreateForm\\:realDate").pDatepicker({format: "YYYY/M/D HH:mm", autoClose: true, inline: true, timePicker: {enabled: true, showSeconds: false, showMeridian: false}});
                            $("#InventoryCreateForm\\:product,#InventoryCreateForm\\:receiver,#product,#receiver,#employee").select2({dir: "rtl"});
                        });
                    </script>
                </h:panelGroup>
            </h:form>
        </bnu:panel>

    </ui:composition>
</html>
