<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition >
        <div style="position: relative;height: 100vh;">
            <style>
                .help-green{
                    display: inline-block;
                    padding: 4px 10px;
                    border: 1px white solid;
                    background-color: rgb(230, 255, 230);
                    color:#000;
                    /*float: left;*/
                    margin-top: 2px
                }

                .form .row{
                    margin: 5px
                }
                .panel-group {
                    margin-bottom: 0px; 
                }
                .green{
                    background-color: rgba(0,255,0,0.1);
                }
                .red{
                    background-color: rgba(255,0,0,0.1);
                }
                .ui-button {
                    margin-top: 0px !important;
                }
            </style>
            <bnu:row styleClass="ui-widget-header">
                <bnu:column colLg="6" colMd="6" colSm="6" colXs="12">
                    <h4 class="title">
                        #{inventoryController.type==0?'ورودی انبار':'حواله ها'}
                        <h:outputText style="margin-right: 10px" value="سال انبار #{inventoryController.years}"/>
                        <h:panelGroup rendered="#{inventoryController.financialYears.end}" styleClass="fa fa-lock" />
                    </h4>
                </bnu:column>
                <bnu:column colLg="6" colMd="6" colSm="6" colXs="12">
                    <h:form>
                        <p:commandLink ajax="false"  styleClass="btn btn-primary pull-left">
                            خروجی اکسل ورودی/خروجی
                            <span class="fa fa-file-excel-o"></span>
                            <pe:exporter postProcessor="#{inventoryController.postProcessXLS}" type="xlsx" target=":InventoryListForm:datalist" fileName="inventory" />
                        </p:commandLink>
                        <p:commandLink ajax="false" styleClass="btn btn-primary pull-left">
                            خروجی اکسل کارتکس
                            <span class="fa fa-file-excel-o"></span>
                            <pe:exporter postProcessor="#{inventoryController.postProcessXLS}" type="xlsx" target=":CartexForm:dataCartex" fileName="cartex" />
                        </p:commandLink>
                        <h:outputText styleClass="help-green  pull-left" value="اسناد اصلاحی"/>

                    </h:form>
                </bnu:column>
            </bnu:row>
            <bnu:panel   collapsed="true"  title="کارتکس">
                <ui:include src="Cartex.xhtml"/>
            </bnu:panel>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Search.xhtml"/>
            <h:form id="InventoryListForm">
                <p:dataTable widgetVar="datalist" id="datalist" value="#{inventoryController}" var="item" lazy="true"
                             paginator="true"
                             rowKey="#{item.id}"
                             sortMode="multiple"
                             rows="10"
                             reflow="true"
                             rowStatePreserved="true" 
                             currentPageReportTemplate="(تعداد رکورد: {startRecord} تا {endRecord} از {totalRecords}, صفحه: {currentPage}/{totalPages})"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} " 
                             rowStyleClass="#{item.resolve?'green':''}"
                             paginatorPosition="bottom"
                             emptyMessage="رکوردی ثبت نشده"
                             rowsPerPageTemplate="10,20,30,40,50"
                             >

                    <p:column sortBy="#{item.id}" width="100">
                        <f:facet name="header">
                            <h:outputText value="ردیف"/>
                        </f:facet>
                        <h:outputText value="#{item.id}"/>
                    </p:column>
                    <p:column  sortBy="#{item.name}" >
                        <f:facet name="header">
                            <h:outputText value="کد کالا"/>
                        </f:facet>
                        <h:outputText value="#{item.product.partnumber} - #{item.product.name}"/>
                    </p:column>
                    <p:column visible="false">
                        <f:facet name="header">
                            <h:outputText value="دسته بندی والد"/>
                        </f:facet>
                        <h:outputText value="#{item.product.category.name}"/>
                    </p:column>
                    <p:column  sortBy="#{item.number}">
                        <f:facet name="header">
                            <h:outputText value="تعداد"/>
                        </f:facet>
                        <h:outputText value="#{item.number}"/>
                    </p:column>
                    <p:column  sortBy="#{item.realDate}">
                        <f:facet name="header">
                            <h:outputText value="تاریخ"/>
                        </f:facet>
                        <h:outputText value="#{item.realDate}">
                            <f:converter converterId="persian_date" />
                            <f:attribute name="pattern" value="yyyy/MM/dd HH:mm" />
                        </h:outputText>
                    </p:column>
                    <p:column visible="false" >
                        <f:facet name="header">
                            <h:outputText value="زمان درج"/>
                        </f:facet>
                        <h:outputText value="#{item.createdAt}">
                            <f:converter converterId="persian_date" />
                            <f:attribute name="pattern" value="yyyy/MM/dd HH:mm" />
                        </h:outputText>
                    </p:column>
                    <p:column >
                        <f:facet name="header">
                            <h:outputText value="انبار دار"/>
                        </f:facet>
                        <h:outputText value="#{item.employee.name} #{item.employee.family}"/>
                    </p:column>
                    <p:column >
                        <f:facet name="header">
                            <h:outputText value="#{inventoryController.type==0?'تحویل دهنده':'تحویل گیرنده'}"/>
                        </f:facet>
                        <h:outputText value="#{item.receiverName}"/>
                    </p:column>
                    <p:column visible="false">
                        <f:facet name="header">
                            <h:outputText value="نوع سند"/>
                        </f:facet>
                        <h:outputText value="#{item.resolve?'سند اصلاحی: ':''} #{item.docNumber}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="شرح"/>
                        </f:facet>
                        <h:outputText value="#{item.comment}"/>
                    </p:column>
                    <p:column exportable="false">
                        <p:commandButton id="viewButton" actionListener="#{inventoryController.setTemp(item)}"  icon="ui-icon-search" styleClass="btn btn-primary btn-xs" value="جزییات" update=":InventoryViewForm" oncomplete="$('.InventoryViewDialog').modal()" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </div>
        <ui:include src="View.xhtml"/>
    </ui:composition>

</html>
