<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <bnu:panel collapsed="true" title="جست و جو">
                <h:form prependId="false">

                    <h:panelGroup id="display" styleClass="form" >
                        <bnu:row >
                            <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                                <bnu:row >
                                    <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                        <p:outputLabel value="کالا" for="product" />
                                    </bnu:column>
                                    <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                        <h:selectOneMenu style="width:100%" styleClass="form-control" id="product" value="#{inventoryController.productFilter}" >
                                            <f:selectItem itemLabel="انتخاب کنید..." itemValue="#{null}" />
                                            <f:selectItems value="#{productController.itemsAvailableSelectOne}"
                                                           var="productItem" itemLabel="#{productItem.name} - #{productItem.category.name} - #{productItem.partnumber}"
                                                           itemValue="#{productItem}"/>
                                        </h:selectOneMenu>
                                    </bnu:column>
                                </bnu:row>
                            </bnu:column>
                        </bnu:row >
                        <bnu:row>
                            <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                                <bnu:row >
                                    <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                        <p:outputLabel value="تعداد کالا" for="number" />
                                    </bnu:column>
                                    <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                        <p:inputNumber  decimalPlaces="0" inputStyleClass="form-control" id="number" value="#{inventoryController.numberFilter}" title="تعداد کالا" />
                                    </bnu:column>
                                </bnu:row>
                            </bnu:column>
                            <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                                <bnu:row >
                                    <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                        <p:outputLabel value="نوع فیلتر" for="number" />
                                    </bnu:column>
                                    <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                        <h:selectOneMenu  styleClass="form-control" value="#{inventoryController.numberStateFilter}" >
                                            <f:selectItem itemLabel="مساوی" itemValue="#{0}" />
                                            <f:selectItem itemLabel="کمتر از" itemValue="#{-1}" />
                                            <f:selectItem itemLabel="بیشتر از" itemValue="#{1}" />
                                        </h:selectOneMenu>
                                    </bnu:column>
                                </bnu:row>
                            </bnu:column>
                        </bnu:row >
                        <bnu:row>
                            <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                                <bnu:row >
                                    <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                        <p:outputLabel value="تاریخ شروع" />
                                    </bnu:column>
                                    <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                        <script>
                                            var d1;
                                            function date1(val) {
                                                if (d1)
                                                    return;
                                                d1 = true;
                                                $(val).pDatepicker({format: "YYYY/M/D", autoClose: true});
                                            }
                                        </script>
                                        <p:inputText  onfocus='date1(this);' converterMessage="فرمت تاریخ وارد شده صحیح نیست."  style="direction: ltr;text-align: left" styleClass="form-control" value="#{inventoryController.startFilter}" title="تاریخ"  >
                                            <f:converter converterId="persian_date" />
                                            <f:attribute name="pattern" value="yyyy/MM/dd" />
                                        </p:inputText>
                                    </bnu:column>
                                </bnu:row>
                            </bnu:column>
                            <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                                <bnu:row >
                                    <bnu:column colLg="6" colMd="6" colSm="6" colXs="10">
                                        <p:outputLabel value="جست و جو فقط در زمان انتخاب شده" for="number" />
                                    </bnu:column>
                                    <bnu:column colLg="2" colMd="2" colSm="2" colXs="2">
                                        <p:selectBooleanCheckbox  value="#{inventoryController.dateStateFilter}" >
                                            <f:selectItem itemLabel="مساوی" itemValue="#{0}" />
                                        </p:selectBooleanCheckbox>
                                    </bnu:column>
                                </bnu:row>
                            </bnu:column>
                            <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                                <bnu:row >
                                    <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                        <p:outputLabel value="تاریخ انتهایی" />
                                    </bnu:column>
                                    <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                        <script>
                                            var d2;
                                            function date2(val) {
                                                if (d2)
                                                    return;
                                                d2 = true;
                                                $(val).pDatepicker({format: "YYYY/M/D", autoClose: true});
                                            }
                                        </script>
                                        <p:inputText onfocus='date2(this);' converterMessage="فرمت تاریخ وارد شده صحیح نیست." style="direction: ltr;text-align: left" styleClass="form-control" value="#{inventoryController.endFilter}" title="تاریخ"  >
                                            <f:converter converterId="persian_date" />
                                            <f:attribute name="pattern" value="yyyy/MM/dd" />
                                        </p:inputText>
                                    </bnu:column>
                                </bnu:row>
                            </bnu:column>
                        </bnu:row >
                        <bnu:row>
                            <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                                <bnu:row >
                                    <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                        <p:outputLabel value="#{inventoryController.type==0?'تحویل دهنده':'تحویل گیرنده'}" for="receiver" />
                                    </bnu:column>
                                    <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                        <h:selectOneMenu  style="width:100%" styleClass="form-control" id="receiver" value="#{inventoryController.employeeFilter}" >
                                            <f:selectItem itemLabel="انتخاب کنید..." itemValue="#{null}" />
                                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                                           var="emItem" itemLabel="#{emItem.name} #{emItem.family}"
                                                           itemValue="#{emItem}"/>
                                        </h:selectOneMenu>
                                    </bnu:column>
                                </bnu:row>
                            </bnu:column>
                            <bnu:column colLg="4" colMd="4" colSm="6" colXs="12">
                                <bnu:row >
                                    <bnu:column colLg="3" colMd="3" colSm="4" colXs="12">
                                        <p:outputLabel value="انباردار" for="employee" />
                                    </bnu:column>
                                    <bnu:column colLg="9" colMd="9" colSm="8" colXs="12">
                                        <h:selectOneMenu  style="width:100%" styleClass="form-control" id="employee" value="#{inventoryController.inventoryFilter}" >
                                            <f:selectItem itemLabel="انتخاب کنید..." itemValue="#{null}" />
                                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                                           var="emItem" itemLabel="#{emItem.name} #{emItem.family}"
                                                           itemValue="#{emItem}"/>
                                        </h:selectOneMenu>
                                    </bnu:column>
                                </bnu:row>
                            </bnu:column>
                        </bnu:row >
                        <bnu:row>
                            <bnu:column colLg="12" colMd="12" colSm="12" colXs="12" >
                                <h:commandButton styleClass="btn btn-info" value="جست و جو"    >
                                    <f:ajax execute="@form" render=":InventoryListForm:datalist" />
                                </h:commandButton>
                                <h:commandButton type="reset" style="margin-right: 5px" styleClass="btn btn-danger" value="پاک کردن فرم" />
                            </bnu:column>
                        </bnu:row>
                    </h:panelGroup>
                </h:form>
            </bnu:panel>

    </ui:composition>
</html>
