<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition>

        <bnu:modal styleClass="InventoryViewDialog" title="جزییات سند">
            <h:form id="InventoryViewForm">
                <h:panelGroup id="display">
                    <style>
                        @media print{
                            *{
                                direction: rtl;text-align: right;
                                font-family: 'B Koodak',arial
                            }
                        }
                    </style>
                    <p:panelGrid id="printer" columns="4" rendered="#{inventoryController.temp != null}">
                        <h:outputText value="شماره سند"/>
                        <h:outputText value="#{inventoryController.temp.id}"/>
                        <h:outputText value="کد کالا"/>
                        <h:outputText value="#{inventoryController.temp.product.partnumber}" />
                        <h:outputText value="نام کالا"/>
                        <h:outputText value="#{inventoryController.temp.product.name}" />
                        <h:outputText value="گروه والد"/>
                        <h:outputText value="#{inventoryController.temp.product.category.name}" />
                        <h:outputText value="تعداد"/>
                        <h:outputText value="#{inventoryController.temp.number}" />
                        <h:outputText value="تاریخ سند"/>
                        <h:outputText value="#{inventoryController.temp.realDate}" >
                            <f:converter converterId="persian_date" />
                            <f:attribute name="pattern" value="yyyy/MM/dd HH:mm" />
                        </h:outputText>
                        <h:outputText value="تاریخ ثبت در سیستم"/>
                        <h:outputText value="#{inventoryController.temp.createdAt}" >
                            <f:converter converterId="persian_date" />
                            <f:attribute name="pattern" value="yyyy/MM/dd HH:mm" />
                        </h:outputText>
                        <h:outputText value="نوع سند"/>
                        <h:outputText value="#{inventoryController.temp.resolve?'سند اصلاحی':'سند عادی'} #{inventoryController.temp.docNumber}" />
                        <h:outputText value="شرح"/>
                        <h:outputText value="#{inventoryController.temp.comment}" />
                        <h:outputText rendered="#{inventoryController.hasAttachment()}" value="پیوست"/>
                        <p:link value="دانلود" rendered="#{inventoryController.hasAttachment()}" href="/media/inventory/#{inventoryController.temp.doc}" target="_blank" />
                        <h:outputText value="انبار دار"/>
                        <h:outputText value="#{inventoryController.temp.employee.name} #{inventoryController.temp.employee.family}" />
                        <h:outputText value="#{inventoryController.type==0?'تحویل دهنده':'تحویل گیرنده'}"/>
                        <h:outputText value="#{inventoryController.temp.receiverName}" />
                    </p:panelGrid>
                    
                </h:panelGroup>
                <p:commandLink styleClass="btn btn-primary"  >
                        <p:printer target="display" />
                        پرینت
                        <span class="fa fa-print"></span>
                    </p:commandLink>
                    <p:commandLink styleClass="btn btn-danger" value="بستن" onclick="$('.InventoryViewDialog').modal('hide')"/>
            </h:form>
        </bnu:modal>
    </ui:composition>
</html>
