<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition>

        <p:dialog id="ProvinceCreateDlg" widgetVar="ProvinceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="افزودن استان">
            <h:form id="ProvinceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{provinceController.selected != null}">
                        <p:outputLabel value="نام استان" for="name" />
                        <p:inputText id="name" value="#{provinceController.selected.name}" title="نام" required="true" requiredMessage="نام استان را وارد کنید" />
                        <p:outputLabel value="پیش شماره" for="precode" />
                        <p:inputText id="precode" value="#{provinceController.selected.precode}" title="پیش شماره" required="true" requiredMessage="پیش شماره تلفن را وارد کنید"  />
                        <p:outputLabel value="ناحیه پستی" for="zone" />
                        <bnu:selectOneMenu renderLabel="false" id="zone" value="#{provinceController.selected.zone}">
                            <f:selectItem itemLabel="درون استانی" itemValue="#{0}" />
                            <f:selectItem itemLabel="استان مجاور" itemValue="#{1}" />
                            <f:selectItem itemLabel="استان غیر مجاور" itemValue="#{2}" />
                        </bnu:selectOneMenu>
                    </p:panelGrid>
                    <p:commandLink styleClass="btn btn-info" actionListener="#{provinceController.create}" value="#{bundle.Save}" update="display,:ProvinceListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProvinceCreateDialog');"/>
                    <p:commandLink styleClass="btn btn-danger" type="button" value="#{bundle.Cancel}" onclick="PF('ProvinceCreateDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
