<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition >
            <h:form id="ProvinceListForm">
                
                <bnu:row>
                    <bnu:column colLg="6" colMd="6" colSm="6" colXs="12" >
                        <p:dataTable id="datalist" value="#{provinceController.items}" var="item"
                                     paginator="true"
                                     rowKey="#{item.id}"
                                     rows="10"
                                     reflow="true"
                                     paginatorPosition="bottom"
                                     paginatorAlwaysVisible="false"
                                     emptyMessage="رکوردی درج نشده."
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >
                            <p:column  width="40">
                                <f:facet name="header">
                                    <h:outputText value="ردیف"/>
                                </f:facet>
                                <h:outputText value="#{provinceController.items.indexOf(item)+1}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="نام استان"/>
                                </f:facet>
                                <h:outputText value="#{item.name}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="پیش شماره"/>
                                </f:facet>
                                <h:outputText value="#{item.precode}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ناحیه پستی"/>
                                </f:facet>
                                <h:outputText rendered="#{item.zone==0}" value="درون استانی"/>
                                <h:outputText rendered="#{item.zone==1}" value="استان مجاور"/>
                                <h:outputText rendered="#{item.zone==2}" value="استان غیرمجاور"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#"/>
                                </f:facet>
                                <p:commandLink styleClass="btn btn-info btn-xs" title="#{bundle.Edit}" action="#{provinceController.setSelected(item)}" update=":ProvinceEditForm" oncomplete="PF('ProvinceEditDialog').show()">
                                    <span class="fa fa-pencil-square-o"></span>
                                </p:commandLink>
                                <p:commandLink styleClass="btn btn-success btn-xs" title="لیست شهرها" action="#{provinceController.setSelected(item)}" update=":ProvinceListForm:citysection" >
                                    <span class="fa fa-list"></span>
                                </p:commandLink>
                                <p:commandLink styleClass="btn btn-danger btn-xs" title="#{bundle.Delete}" actionListener="#{provinceController.setSelected(item)}"  action="#{provinceController.destroy}" update=":growl,datalist" >
                                    <p:confirm message="آیا از حذف اطمینان دارید؟" />
                                    <span class="fa fa-trash"></span>
                                </p:commandLink>
                            </p:column>
                            <f:facet name="header">
                                <bnu:row>
                                    <bnu:column colLg="6" colMd="6" colSm="6" colXs="6">
                                        <h4 class="title">
                                            استان ها
                                        </h4>
                                    </bnu:column>
                                    <bnu:column style="text-align: left" colLg="6" colMd="6" colSm="6" colXs="6">
                                        <p:commandLink styleClass="btn btn-primary" actionListener="#{provinceController.prepareCreate()}" update=":ProvinceCreateForm" oncomplete="PF('ProvinceCreateDialog').show()">
                                            <span class="fa fa-plus"></span> #{bundle.Create}
                                        </p:commandLink>
                                    </bnu:column>
                                </bnu:row>
                            </f:facet>
                        </p:dataTable>
                    </bnu:column>
                    <bnu:column id="citysection" colLg="6" colMd="6" colSm="6" colXs="12" >
                        <p:dataTable rendered="#{provinceController.selected!=null}" id="datalistCity" value="#{provinceController.selected.cityCollection}" var="item"
                                     paginator="true"
                                     rowKey="#{item.id}"
                                     rows="10"
                                     reflow="true"
                                     paginatorPosition="bottom"
                                     paginatorAlwaysVisible="false"
                                     emptyMessage="رکوردی درج نشده."
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >
                            <p:column  width="40">
                                <f:facet name="header">
                                    <h:outputText value="ردیف"/>
                                </f:facet>
                                <h:outputText value="#{cityController.items.indexOf(item)+1}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="نام شهر"/>
                                </f:facet>
                                <h:outputText value="#{item.name}"/>
                            </p:column>
                            <p:column>
                                <p:commandLink styleClass="btn btn-success btn-xs" title="#{bundle.Edit}" action="#{provinceController.setCitySelected(item)}" update=":CityEditForm" oncomplete="PF('CityEditDialog').show()" >
                                    <span class="fa fa-pencil-square-o"></span>
                                </p:commandLink>
                                <p:commandLink styleClass="btn btn-danger btn-xs" title="#{bundle.Delete}" actionListener="#{provinceController.setCitySelected(item)}"  action="#{provinceController.destroyCIty}" update=":growl,datalistCity" >
                                    <p:confirm message="آیا از حذف اطمینان دارید؟" />
                                    <span class="fa fa-trash"></span>
                                </p:commandLink>
                            </p:column>   
                            <f:facet name="header">
                                <bnu:row>
                                    <bnu:column colLg="6" colMd="6" colSm="6" colXs="6">
                                        <h4 class="title">
                                            شهر های استان #{provinceController.selected}
                                        </h4>
                                    </bnu:column>
                                    <bnu:column style="text-align: left" colLg="6" colMd="6" colSm="6" colXs="6">
                                        <p:commandLink styleClass="btn btn-primary" actionListener="#{provinceController.prepareCreateCity()}" update=":CityCreateForm" oncomplete="PF('CityCreateDialog').show()">
                                            <span class="fa fa-plus"></span> #{bundle.Create}
                                        </p:commandLink>
                                    </bnu:column>
                                </bnu:row>
                            </f:facet>
                        </p:dataTable>
                    </bnu:column>
                </bnu:row>
            </h:form>
        <ui:include src="Create.xhtml"/>
        <ui:include src="Edit.xhtml"/>
        <ui:include src="../city/Edit.xhtml"/>
        <ui:include src="../city/Create.xhtml"/>
    </ui:composition>

</html>
