<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProvinceViewDlg" widgetVar="ProvinceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProvinceTitle}">
            <h:form id="ProvinceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{provinceController.selected != null}">
                        <h:outputText value="#{bundle.ViewProvinceLabel_id}"/>
                        <h:outputText value="#{provinceController.selected.id}" title="#{bundle.ViewProvinceTitle_id}"/>
                        <h:outputText value="#{bundle.ViewProvinceLabel_name}"/>
                        <h:outputText value="#{provinceController.selected.name}" title="#{bundle.ViewProvinceTitle_name}"/>
                        <h:outputText value="#{bundle.ViewProvinceLabel_precode}"/>
                        <h:outputText value="#{provinceController.selected.precode}" title="#{bundle.ViewProvinceTitle_precode}"/>
                        <h:outputText value="#{bundle.ViewProvinceLabel_zone}"/>
                        <h:outputText value="#{provinceController.selected.zone}" title="#{bundle.ViewProvinceTitle_zone}"/>
                        <h:outputText value="#{bundle.ViewProvinceLabel_city}"/>
                        <h:outputText value="#{provinceController.selected.city}" title="#{bundle.ViewProvinceTitle_city}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProvinceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
