<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BaseattributeCreateDlg" widgetVar="BaseattributeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="افزودن مشخصات پایه">
            <h:form id="BaseattributeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{baseattributeController.selected != null}">
                        <p:outputLabel value="عنوان" for="name" />
                        <p:inputText id="name" value="#{baseattributeController.selected.name}" title="عنوان" />
                        <p:outputLabel value="توضیحات" for="meta" />
                        <p:inputText id="meta" value="#{baseattributeController.selected.meta}" title="توضیحات" />
                    </p:panelGrid>
                    <p:commandLink styleClass="btn btn-info" actionListener="#{baseattributeController.create}" value="#{bundle.Save}" update="display,:BaseattributeListForm:datalist,:growl" oncomplete="handleSubmit(args,'BaseattributeCreateDialog');"/>
                    <p:commandLink styleClass="btn btn-danger" type="button" value="#{bundle.Cancel}" onclick="PF('BaseattributeCreateDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
