<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition>
        <h:form id="BaseattributeListForm">
            <p:dataTable id="datalist" value="#{baseattributeController.items}" var="item"
                         paginator="true"
                         rowKey="#{item.id}"
                         rows="10"
                         reflow="true"
                         paginatorPosition="bottom"
                         paginatorAlwaysVisible="false"
                         emptyMessage="رکوردی درج نشده."
                         rowsPerPageTemplate="10,20,30,40,50"
                         >

                <p:column width="30">
                    <f:facet name="header">
                        <h:outputText value="ردیف"/>
                    </f:facet>
                    <h:outputText value="#{baseattributeController.items.indexOf(item)+1}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="عنوان"/>
                    </f:facet>
                    <h:outputText value="#{item.name}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="توضیحات"/>
                    </f:facet>
                    <h:outputText value="#{item.meta}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#"/>
                    </f:facet>
                    <p:commandLink styleClass="btn btn-info btn-xs" title="#{bundle.Edit}" action="#{baseattributeController.setSelected(item)}" update=":BaseattributeEditForm" oncomplete="PF('BaseattributeEditDialog').show()">
                        <span class="fa fa-pencil-square-o"></span>
                    </p:commandLink>
                    <p:commandLink styleClass="btn btn-danger btn-xs" title="#{bundle.Delete}" actionListener="#{baseattributeController.setSelected(item)}"  action="#{baseattributeController.destroy}" update=":growl,datalist" >
                        <p:confirm message="آیا از حذف اطمینان دارید؟" />
                        <span class="fa fa-trash"></span>
                    </p:commandLink>
                </p:column>
                <f:facet name="header">
                    <bnu:row>
                        <bnu:column colLg="6" colMd="6" colSm="6" colXs="6">
                            <h4 class="title">
                                مشخصات پایه
                            </h4>
                        </bnu:column>
                        <bnu:column style="text-align: left" colLg="6" colMd="6" colSm="6" colXs="6">
                            <p:commandLink styleClass="btn btn-primary" actionListener="#{baseattributeController.prepareCreate()}" update=":BaseattributeCreateForm" oncomplete="PF('BaseattributeCreateDialog').show()">
                                <span class="fa fa-plus"></span> #{bundle.Create}
                            </p:commandLink>
                        </bnu:column>
                    </bnu:row>
                </f:facet>
            </p:dataTable>
        </h:form>
        <ui:include src="Create.xhtml"/>
        <ui:include src="Edit.xhtml"/>
    </ui:composition>

</html>
