<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BaseattributeViewDlg" widgetVar="BaseattributeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBaseattributeTitle}">
            <h:form id="BaseattributeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{baseattributeController.selected != null}">
                        <h:outputText value="#{bundle.ViewBaseattributeLabel_id}"/>
                        <h:outputText value="#{baseattributeController.selected.id}" title="#{bundle.ViewBaseattributeTitle_id}"/>
                        <h:outputText value="#{bundle.ViewBaseattributeLabel_name}"/>
                        <h:outputText value="#{baseattributeController.selected.name}" title="#{bundle.ViewBaseattributeTitle_name}"/>
                        <h:outputText value="#{bundle.ViewBaseattributeLabel_status}"/>
                        <h:outputText value="#{baseattributeController.selected.status}" title="#{bundle.ViewBaseattributeTitle_status}"/>
                        <h:outputText value="#{bundle.ViewBaseattributeLabel_meta}"/>
                        <h:outputText value="#{baseattributeController.selected.meta}" title="#{bundle.ViewBaseattributeTitle_meta}"/>
                        <h:outputText value="#{bundle.ViewBaseattributeLabel_updateat}"/>
                        <h:outputText value="#{baseattributeController.selected.updateat}" title="#{bundle.ViewBaseattributeTitle_updateat}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBaseattributeLabel_employee}"/>
                        <h:outputText value="#{baseattributeController.selected.employee}" title="#{bundle.ViewBaseattributeTitle_employee}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BaseattributeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
