<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/inventory/template.xhtml">
        <ui:define name="body">

            <p:growl id='growl' />
            <b:container fluid="true" style="padding-top: 15px">
                
                <b:row>
                    <b:column col-lg="9" col-md="9" col-sm="12" col-xs="12" >
                        <b:row>
                            <b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" >
                                <b:panel >
                                    <ui:include src="input_output/Cartex.xhtml" />
                                </b:panel>
                            </b:column>
                            <b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" >
                                <b:panel look="danger" collapsible="false" >
                                    <h:form prependId="false">
                                        <b:row>
                                            <b:column colLg="1" colMd="1" colSm="1" colXs="12">
                                                <p:outputLabel value="سال" for="years" />
                                            </b:column>
                                            <b:column colLg="3" colMd="3" colSm="5" colXs="12">
                                                <h:selectOneMenu style="width:100%" styleClass="form-control" id="years" value="#{inventoryController.yearsSelected}" >
                                                    <f:ajax execute="@this" render="barchart" />
                                                    <f:selectItem itemLabel="انتخاب سال..." />
                                                    <f:selectItems value="#{settingInventoryController.items}"
                                                                   var="years" itemLabel="#{years.years}"
                                                                   itemValue="#{years.years}"/>
                                                </h:selectOneMenu>
                                            </b:column>
                                            <b:column colLg="1" colMd="1" colSm="1" colXs="12">
                                                <p:outputLabel value="کالا" for="product" />
                                            </b:column>
                                            <b:column colLg="3" colMd="3" colSm="5" colXs="12">
                                                <h:selectOneMenu style="width:100%" styleClass="form-control" id="product" value="#{inventoryController.productSelected}" >
                                                    <f:ajax execute="@this" render="barchart" />
                                                    <f:selectItem itemLabel="تمام کالاها" />
                                                    <f:selectItems value="#{productController.itemsAvailableSelectOne}"
                                                                   var="productItem" itemLabel="#{productItem.name} - #{productItem.category.name} - #{productItem.partnumber}"
                                                                   itemValue="#{productItem}"/>
                                                </h:selectOneMenu>
                                            </b:column>

                                        </b:row>
                                        <p:chart styleClass="chart"  responsive="true" id="barchart" type="bar" model="#{inventoryController.barModel}" style="height:300px"/>
                                        <script>
                                            $(document).ready(function () {
                                                $("#product").select2({dir: "rtl"});
                                            });
                                        </script>
                                    </h:form>
                                </b:panel>
                            </b:column>
                        </b:row> 
                    </b:column>
                    <b:column col-lg="3" col-md="3" col-sm="12" col-xs="12" >
                        <b:row>
                            <b:column col-lg="12" col-md="12" col-sm="6" col-xs="12" >
                                <b:panel>
                                    <p:chart type="pie" model="#{inventoryController.pieModel1}" style="height:300px"  responsive="true" />
                                </b:panel>
                            </b:column>
                            <b:column rendered="false" col-lg="12" col-md="12" col-sm="6" col-xs="12" >
                                <b:panel look="primary" title="کالاهای پیش خرید شده" >

                                </b:panel>
                            </b:column>
                            <b:column col-lg="12" col-md="12" col-sm="6" col-xs="12" >
                                <p:dataTable value="#{inventoryController.getLimitProductRemain()}" var="item" emptyMessage="موردی یافت نشده است.">
                                    <p:column headerText="کالا">
                                        #{item.product.name}
                                    </p:column>
                                    <p:column headerText="کد کالا">
                                        #{item.product.partnumber}
                                    </p:column>
                                    <p:column headerText="دسته بندی">
                                        #{item.product.category.name}
                                    </p:column>
                                    <p:column headerText="موجودی">
                                        #{item.remain}
                                    </p:column>
                                    <f:facet name="header">
                                        کالاهای در حال اتمام
                                    </f:facet>
                                </p:dataTable>
                            </b:column>
                            <b:column col-lg="12" col-md="12" col-sm="6" col-xs="12" >
                                <p:dataTable value="#{inventoryController.getZeroProductRemain()}" var="item" emptyMessage="موردی یافت نشده است.">
                                    <p:column headerText="کالا">
                                        #{item.product.name}
                                    </p:column>
                                    <p:column headerText="کد کالا">
                                        #{item.product.partnumber}
                                    </p:column>
                                    <p:column headerText="دسته بندی">
                                        #{item.product.category.name}
                                    </p:column>
                                    <f:facet name="header">
                                        کالاهای ناموجود
                                    </f:facet>
                                </p:dataTable>
                            </b:column>
                        </b:row>
                    </b:column>
                </b:row>
            </b:container>

            <h:form>
                <p:confirmDialog message="آیا از حذف اطمینان دارید؟" global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="بله" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
                    <p:commandButton value="خیر" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
                </p:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
