<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="/inventory/template.xhtml">
        <ui:define name="body">
            <p:growl id='growl' />
            <p:tooltip />
            <h:panelGroup id='empanel'>
                <ui:include src="/inventory/#{productController.page}.xhtml" />
            </h:panelGroup>
            <h:form>
                <p:confirmDialog message="آیا از حذف اطمینان دارید؟" global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="بله" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
                    <p:commandButton value="خیر" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
                </p:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
