<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/inventory/template.xhtml">
        <ui:define name="body">

            <p:growl id='growl' />
            <b:row  styleClass="ui-widget-header" style="margin-bottom: 20px">
                <b:column colLg="12" colMd="12" colSm="12" colXs="12">
                    <h4 class="title">
                        تنظیمات
                        <h:outputText style="margin-right: 10px" value="سال انبار #{inventoryController.years}"/>
                        <h:panelGroup rendered="#{inventoryController.financialYears.end}" styleClass="fa fa-lock" />
                    </h4>
                </b:column>
            </b:row>
            <b:container >

                <h:form id="YearsFormList">
                    <b:row>
                        <b:column col-lg="6" col-md="6" col-sm="6" col-xs="12" >
                            <p:outputLabel value="سال پیش فرض"  />
                            <p:selectOneMenu styleClass="form-control" label="سال پیش فرض" value="#{settingInventoryController.defaultSelected}" >
                                <p:ajax update="@form :growl" listener="#{settingInventoryController.setDefaultYears(null)}" />
                                <f:selectItems value="#{settingInventoryController.items}" var="years" itemLabel="#{years.years}" itemValue="#{years}" />
                            </p:selectOneMenu>
                        </b:column>
                        <b:column col-lg="6" col-md="6" col-sm="6" col-xs="12" >
                            <p:dataTable id="datalist" emptyMessage="رکوردی درج نشده است." value="#{settingInventoryController.items}" var="item">
                                <p:column width="90">
                                    <f:facet name="header">
                                        <h:outputText value="پیش فرض"/>
                                    </f:facet>
                                    <p:commandLink action="#{settingInventoryController.setDefaultYears(item)}" update="@form" >
                                        <h:outputText style="display: inline-block;width: 100%;height: 100%" rendered="#{item.status==0}"/>
                                        <h:outputText style="color:green" styleClass="fa fa-check" rendered="#{item.status==1}"></h:outputText>
                                        <h:outputText style="color:green" rendered="#{item.status==1}" value="پیش فرض" />
                                    </p:commandLink>
                                </p:column>
                                <p:column  width="90">
                                    <f:facet name="header">
                                        <h:outputText value="وضعیت"/>
                                    </f:facet>
                                    <h:outputText style="color:red" styleClass="fa fa-lock" rendered="#{item.end}"></h:outputText>
                                    <h:outputText style="color:red" rendered="#{item.end}" value=" بسته شده" />
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="سال کاری"/>
                                    </f:facet>
                                    <h:outputText value="#{item.years}"/>
                                </p:column>

                                <p:column>
                                    <p:commandLink  rendered="#{!item.end}" styleClass="btn btn-info btn-xs" title="#{bundle.Edit}"  update=":yearsFormAdd" action="#{settingInventoryController.prepareEdit(item)}" >
                                        <span class="fa fa-pencil-square-o"></span>
                                    </p:commandLink>

                                    <p:commandLink rendered="#{!item.end}" styleClass="btn btn-danger btn-xs" title="#{bundle.Delete}" update=":growl , @form" action="#{settingInventoryController.destroy(item)}" >
                                        <p:confirm message="آیا از حذف اطمینان دارید؟" />
                                        <span class="fa fa-trash"></span>
                                    </p:commandLink>
                                </p:column>
                                <f:facet name="header">
                                    <b:row>
                                        <b:column style="text-align: left" colLg="12" colMd="12" colSm="12" colXs="12">
                                            <p:commandLink styleClass="btn btn-primary" actionListener="#{settingInventoryController.prepareCreate()}" update=":yearsFormAdd" oncomplete="$('.createModal').modal()">
                                                <span class="fa fa-plus"></span> #{bundle.Create}
                                            </p:commandLink>
                                        </b:column>
                                    </b:row>
                                </f:facet>
                            </p:dataTable>
                        </b:column>
                    </b:row>
                </h:form>
                <b:modal styleClass="createModal">
                    <h:form id="yearsFormAdd">
                        <h:panelGroup rendered="#{settingInventoryController.selected!=null}">
                            <b:row rendered="#{!settingInventoryController.firstYears()}">
                                <b:column colLg="12" colMd="12" colSm="12" colXs="12">
                                    <h:selectOneRadio layout="pageDirection" value="#{settingInventoryController.transferInventory}">
                                        <f:selectItem itemLabel="بستن انبار سال جاری و انتقال انبار به سال جدید." itemValue="#{true}" />
                                        <f:selectItem itemLabel="بستن انبار سال جاری و صفر کردن انبار سال جدید." itemValue="#{false}" />
                                    </h:selectOneRadio>
                                </b:column>
                            </b:row>
                            <b:row >
                                <b:column colLg="2" colMd="2" colSm="4" colXs="12">
                                    <p:outputLabel value="سال کاری جدید"  />
                                </b:column>
                                <b:column colLg="10" colMd="10" colSm="8" colXs="12">
                                    <b:inputText validator="#{settingInventoryController.validateNumber}" validator-message="سال کاری وارد شده معتبر نیست" value="#{settingInventoryController.selected.years}">
                                        <f:validateRegex pattern="^[1-9]{1}[0-9]{3}$" />
                                    </b:inputText>
                                </b:column>
                            </b:row>

                            <b:row>
                                <b:column colLg="12" colMd="12" colSm="12" colXs="12" >
                                    <p:commandLink styleClass="btn btn-info btn-lg" actionListener="#{settingInventoryController.create}" value="#{bundle.Save}"  update="@form,:YearsFormList:datalist,:growl" oncomplete="handleSubmitModal(args,'createModal');"  />
                                    <p:commandLink styleClass="btn btn-danger btn-lg" value="#{bundle.Cancel}" onclick="$('.createModal').modal('hide')" />
                                </b:column>
                            </b:row>
                        </h:panelGroup>
                    </h:form>
                </b:modal>
            </b:container>
            <h:form>
                <p:confirmDialog message="آیا از حذف اطمینان دارید؟" global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="بله" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
                    <p:commandButton value="خیر" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
                </p:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
