<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">سامانه بازاریابی ریبوم ایران</ui:insert></title>
        <h:outputStylesheet library="css" name="select2.min.css"/> 
        <h:outputStylesheet library="css" name="persian-datepicker-0.4.5.min.css" />
        <h:outputStylesheet library="css" name="jsfcrud.css"/>  

    </h:head>

    <h:body style="background: #fafafa;margin: 0">
        <h:outputScript library="omnifaces" name="fixviewstate.js" />    
        <div class="leftSide close-nav" style="z-index: 999;">
            <div style="background: #b9565a;overflow: hidden;border-bottom: solid 2px #ccc;direction: ltr" >
                <table>
                    <tr>
                        <td style="width: 30px;text-align: center">
                            <i data-toggle="leftSide" class="toggler fa fa-bars fa-2x" />
                        </td>
                        <td>
                            <div>
                                <h4 style="margin: 0;line-height: 1.2em">
                                    <h:outputText value="کاربر: #{inventoryController.currentUser}" /><br/>
                                    <h:outputText value="سال انبار: #{inventoryController.years}" /><br/>
                                    تاریخ: <h:outputText value="#{now}" >
                                        <f:converter converterId="persian_date" />
                                        <f:attribute name="pattern" value="E, dd MMMM yyyy" />
                                    </h:outputText><br/>
                                    ساعت: <p:clock  pattern="HH:mm" />
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <h:form>
                    <ul class="navlinks" >
                        <li>
                            <a class="#{view.viewId == '/inventory/index.xhtml'?'active':''}" href="#{request.contextPath}/inventory/index.xhtml"><i class="s-i fa fa-bar-chart fa-2x"/><span>گزارشات</span>&nbsp;</a>
                        </li>
                        <li>
                            <a class="#{(view.viewId == '/inventory/inventory.xhtml' and inventoryController.type==1)?'active':''}" href="#{request.contextPath}/inventory/inventory.xhtml?type=input"><i class="s-i fa fa-sign-out fa-2x"/><span>حواله</span>&nbsp;</a>
                        </li>
                        <li>
                            <a class="#{(view.viewId == '/inventory/inventory.xhtml' and inventoryController.type==0)?'active':''}" href="#{request.contextPath}/inventory/inventory.xhtml?type=output"><i class="s-i fa fa-sign-in fa-2x"/><span>ورودی انبار</span>&nbsp;</a>
                        </li>
                        <li>
                            <a class="#{view.viewId == '/inventory/products.xhtml'?'active':''}" href="#{request.contextPath}/inventory/products.xhtml"><i class="s-i fa fa-product-hunt fa-2x"/><span>محصولات</span>&nbsp;</a>
                        </li>
                        <li>
                            <a class="#{view.viewId == '/inventory/setting.xhtml'?'active':''}" href="#{request.contextPath}/inventory/setting.xhtml"><i class="s-i fa fa-gear fa-2x"/><span>تنظیمات</span>&nbsp;</a>
                        </li>
                        <li>
                            <h:commandLink action="#{authController.logout()}"><i class="fa fa-unlock fa-2x s-i"/><span>خروج</span>&nbsp;</h:commandLink>
                        </li>
                    </ul>
                </h:form>

            </div>
        </div>
        <div style="height: 100vh;margin-right: 50px">
            <ui:insert name="body" />
        </div>
        <h:outputScript library="js" name="select2.full.min.js" />

        <h:outputScript library="js" name="persian-datepicker-0.4.5.min.js" />
        <h:outputScript library="js" name="persian-date.js" />
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:body>

</html>
