<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition>

        <bnu:modal  rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_ADD')}" closable="true" styleClass="EmployeeCreateDialog" size="modal-lg" title="افزودن کارمند">
            <h:form id="EmployeeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid layout="grid" columnClasses="col-sm-4,col-sm-8,col-sm-4,col-sm-8" style="width: 100%" columns="4" rendered="#{employeeController.selected != null}">
                        <p:outputLabel value="نام" for="name" />
                        <p:inputText styleClass="form-control" id="name" value="#{employeeController.selected.name}" title="نام" required="true" requiredMessage="نام را وارد کنید" />
                        <p:outputLabel value="نام خانوادگی" for="family" />
                        <p:inputText styleClass="form-control" id="family" value="#{employeeController.selected.family}" title="نام خانوادگی" required="true" requiredMessage="نام خانوادگی را وارد کنید"  />
                        <p:outputLabel value="تلفن ثابت" for="phone" />
                        <p:inputText styleClass="form-control" id="phone" value="#{employeeController.selected.phone}" title="تلفن ثابت" />
                        <p:outputLabel value="شماره موبایل" for="mobile" />
                        <p:inputText styleClass="form-control" id="mobile" value="#{employeeController.selected.mobile}" title="شماره موبایل"  required="true" requiredMessage="شماره موبایل را وارد منید" />
                        <p:outputLabel value="ایمیل" for="email" />
                        <p:inputText styleClass="form-control" id="email" value="#{employeeController.selected.email}" title="ایمیل" />
                        <p:outputLabel value="جنسیت" for="sex" />
                        <h:selectOneMenu  styleClass="form-control" id="sex" value="#{employeeController.selected.sex}" > 
                            <f:selectItem itemLabel="آقا" itemValue="آقا" />
                            <f:selectItem itemLabel="خانم" itemValue="خانم" />
                        </h:selectOneMenu>
                        <p:outputLabel value="استان" for="province" />
                        <h:selectOneMenu styleClass="form-control" id="province" value="#{employeeController.selected.provinceTmp}"  required="true" requiredMessage="استان را انتخاب کنید" >
                            <f:ajax render="city" execute="@this" />
                            <f:selectItem itemLabel="استان ..." itemValue="" />
                            <f:selectItems value="#{provinceController.itemsAvailableSelectOne}"
                                           var="provinceItem"
                                           itemValue="#{provinceItem}" itemLabel="#{provinceItem.name}"/>
                        </h:selectOneMenu>
                        <p:outputLabel value="شهر" for="city" />
                        <h:selectOneMenu styleClass="form-control" id="city" value="#{employeeController.selected.city}"  required="true" requiredMessage="شهر را انتخاب کنید" >
                            <f:selectItems value="#{employeeController.selected.provinceTmp.cityCollection}"
                                           var="cityItem"
                                           itemValue="#{cityItem.name}" itemLabel="#{cityItem.name}"/>
                        </h:selectOneMenu>
                        <p:outputLabel value="سمت" for="position" />
                        <h:selectOneMenu styleClass="form-control" id="position" value="#{employeeController.selected.position}"  required="true" requiredMessage="سمت را انتخاب کنید" >
                            <f:selectItem itemLabel="سمت ..." itemValue="" />
                            <f:selectItems value="#{employeeTypeController.itemsAvailableSelectOne}"
                                           var="position"
                                           itemValue="#{position}" itemLabel="#{position.name}"/>
                        </h:selectOneMenu>
                        <p:outputLabel value="کد پستی" for="nationcode" />
                        <p:inputText styleClass="form-control" id="nationcode" value="#{employeeController.selected.nationcode}" title="کد پستی" />

                        <p:outputLabel value="نشانی" for="address" />
                        <p:inputTextarea styleClass="form-control" id="address" value="#{employeeController.selected.address}" title="نشانی" required="true" requiredMessage="نشانی را وارد کنید"  />

                    </p:panelGrid>
                    <p:commandLink styleClass="btn btn-info" actionListener="#{employeeController.create}" value="#{bundle.Save}" update="display,:EmployeeListForm:datalist,:growl" oncomplete="handleSubmitModal(args,'EmployeeCreateDialog');"/>
                    <p:commandLink styleClass="btn btn-danger" type="button" value="#{bundle.Cancel}" onclick="$('.EmployeeCreateDialog').modal('hide')"/>
                </h:panelGroup>
            </h:form>
        </bnu:modal>

    </ui:composition>
</html>
