<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a='http://xmlns.jcp.org/jsf/passthrough'
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition >
        <script src="#{request.contextPath}/resources/ckeditor/ckeditor.js" type="text/javascript"></script>
        <style>
            table td{
                vertical-align: middle!important
            }
        </style>
        <h:form id="EmployeeListForm">

            <p:dataTable binding="#{table}" id="datalist" widgetVar="datalist" value="#{employeeController.items}" var="item"
                         paginator="true"
                         rowKey="#{item.id}"
                         rows="5"
                         reflow="true"
                         paginatorPosition="bottom"
                         paginatorAlwaysVisible="false"
                         emptyMessage="رکوردی درج نشده."
                         rowsPerPageTemplate="10,20,30,40,50"
                         >

                <p:column  width="90">
                    <f:facet name="header">
                        <h:outputText value="تصویر"/>
                    </f:facet>
                    <p:commandLink id="imageLink" action="#{employeeController.setComponent(table)}" update=":imageForm" actionListener="#{employeeController.setSelected(item)}" oncomplete="$('.modalPseudoClass').modal();return false;">
                        <bnu:thumbnail >
                            <h:panelGroup rendered="#{empty item.photo}" style="font-size: 80px;color:#ccc" styleClass="fa fa-4x fa-user" />
                            <p:graphicImage cache="false" rendered="#{not empty item.photo}" width="200px" value="/media/employee/image/#{item.photo}" />
                        </bnu:thumbnail>
                    </p:commandLink>
                </p:column>
                <p:column filterBy="#{item.name}" sortBy="#{item.name}">
                    <f:facet name="header">
                        <h:outputText value="نام"/>
                    </f:facet>
                    <h:outputText value="#{item.name}"/>
                </p:column>
                <p:column  filterBy="#{item.family}" sortBy="#{item.family}">
                    <f:facet name="header">
                        <h:outputText value="نام خانوادگی"/>
                    </f:facet>
                    <h:outputText value="#{item.family} "/>
                </p:column>
                <p:column  filterBy="#{item.mobile}" sortBy="#{item.mobile}">
                    <f:facet name="header">
                        <h:outputText value="موبایل"/>
                    </f:facet>
                    <h:outputText value="#{item.mobile}"/>
                </p:column>
                <p:column  filterBy="#{item.city}" sortBy="#{item.city}" filterMatchMode="contains">
                    <f:facet name="header">
                        <h:outputText value="شهر"/>
                    </f:facet>
                    <f:facet name="filter">
                        <h:selectOneMenu binding="#{filter}" styleClass="form-control selectpicker"  a:data-live-search="true">
                            <p:ajax event="change" oncomplete="PF('datalist').filter()" />
                            <f:selectItem itemLabel="" itemValue="" />
                            <f:selectItems value="#{cityController.itemsAvailableSelectOne}"
                                           var="cityItem"
                                           itemValue="#{cityItem.name}" itemLabel="#{cityItem.name}"/>
                        </h:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{item.city}"/>
                </p:column>
                <p:column>
                    <p:commandLink rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_EDIT')}" styleClass="btn btn-info btn-xs" update=":EmployeeEditForm" title="#{bundle.Edit}" actionListener="#{employeeController.setSelected(item)}"  oncomplete="$('.EmployeeEditDialog').modal()">
                        <span class="fa fa-pencil-square-o"></span>
                    </p:commandLink>
                    <p:commandLink rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_EDIT')}" styleClass="btn btn-success btn-xs" update=":documentForm" oncomplete="$('.documentModal').modal();return false;" title="مدارک" actionListener="#{employeeController.setSelected(item)}" >
                        <span class="fa fa-file-o"></span>
                    </p:commandLink>
                    <p:commandLink rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_EDIT')}" styleClass="btn btn-primary btn-xs" update=":descForm" oncomplete="$('.description').modal();return false;" title="توضیحات" actionListener="#{employeeController.setSelected(item)}" >
                        <span class="fa fa-file-text-o"></span>
                    </p:commandLink>
                    <p:commandLink rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_EDIT_AREA')}" title="ناحیه پوشش" style="margin-left: 5px" styleClass="btn btn-warning  btn-xs"  actionListener="#{employeeController.setSelected(item)}"  action="#{employeeController.setPage('employee/type')}" update=":empanel" >
                        <span class="fa fa-map-marker"></span>
                    </p:commandLink>
                    <p:commandLink rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_CHANGE_PASSWORD')}" style="color:#555!important" styleClass="btn btn-default btn-xs" update=":passwordForm" oncomplete="$('.passwordClass').modal();return false;" title="تغییر رمز عبور" actionListener="#{employeeController.setSelected(item)}" >
                        <span class="fa fa-key"></span>
                    </p:commandLink>
                    <p:commandLink rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_CHANGE_ACCESS')}" style="color:#000!important" styleClass="btn btn-primary  btn-xs" update=":rolesForm" oncomplete="$('.rolesClass').modal();return false;" title="سطح دسترسی" actionListener="#{employeeController.setSelected(item)}" >
                        <span class="fa fa-ban"></span>
                    </p:commandLink>
                    <p:commandLink rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_REMOVE')}" styleClass="btn btn-danger btn-xs" title="#{bundle.Delete}" actionListener="#{employeeController.setSelected(item)}"  action="#{employeeController.destroy}" update=":growl,datalist" >
                        <p:confirm message="آیا از حذف اطمینان دارید؟" />
                        <span class="fa fa-trash"></span>
                    </p:commandLink>
                </p:column>
                <f:facet name="header">
                    <bnu:row>
                        <bnu:column colLg="6" colMd="6" colSm="6" colXs="12">
                            <h4 class="title">
                                کارمندان
                            </h4>
                        </bnu:column>
                        <bnu:column style="text-align: left" colLg="6" colMd="6" colSm="6" colXs="12">
                            
                            <p:commandLink  rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_ADD')}" styleClass="btn btn-primary" actionListener="#{employeeController.prepareCreate()}" update=":EmployeeCreateForm" oncomplete="$('.EmployeeCreateDialog').modal()">
                                <span class="fa fa-plus"></span> #{bundle.Create}
                            </p:commandLink>
                            <p:commandLink rendered="#{employeeController.currentUser.hasRole('EMPLOYEETYPE_ACCESS')}" style="margin-left: 5px" styleClass="btn btn-info" actionListener="#{employeeController.setPage('employeeType/List')}" update=":empanel" >
                                <span class="fa fa-lock"></span> سمت ها و سطح دسترسی ها
                            </p:commandLink>
                        </bnu:column>
                    </bnu:row>
                </f:facet>
            </p:dataTable>
        </h:form>
        <bnu:modal rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_EDIT')}" closable="true" size="modal-lg" styleClass="documentModal" closeOnEscape="true" >
            <h:form id="documentForm" enctype="multipart/form-data">
                <bnu:row rendered="#{employeeController.selected!=null}">
                    <bnu:column col-lg="12" col-md="12" col-sm="12" colXs="12" >
                        <div class="upload-button">
                            <div class="bg-button">
                                <span class="fa fa-upload fa-4x"></span>
                            </div>
                            <o:inputFile id="fileImage" multiple="true" value="#{employeeController.files}" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/pdf, image/*"  acceptMessage="فرمت تصویر انتخابی صحیح نیست.">
                                <f:ajax execute="@this" onevent="showProgress" render="@form :growl" listener="#{employeeController.upload()}" />
                            </o:inputFile>
                            <h:message for="fileImage" />
                            <div class="imageLoading">
                                <span class="fa fa-spinner fa-pulse fa-4x fa-fw"></span>
                            </div>
                        </div>
                    </bnu:column>
                    <bnu:column id="image" col-lg="12" col-md="12" col-sm="12"  colXs="12">
                        <div class='file-shower'>
                            <ui:repeat value="#{employeeController.selected.documents.entrySet().toArray()}" var="doc" >
                                <table style="margin: 2.5px 5px">
                                    <tr>
                                        <td style="width:60px">
                                            <bnu:thumbnail>
                                                <h:outputText value="#{employeeController.extension(doc.key)}" escape="false" />
                                            </bnu:thumbnail>
                                        </td>
                                        <td style="padding: 10px">
                                            <p>#{doc.value}</p>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <p:link styleClass="btn btn-success btn-xs" href="/media/employee/document/#{employeeController.selected.id}/#{doc.key}" target="_blank">
                                                            <span class="fa fa-download"></span>
                                                        </p:link>
                                                    </td>
                                                    <td>
                                                        <p:commandLink partialSubmit="true" process="@this" styleClass="btn btn-info btn-xs" update=":descriptionForm" title="#{bundle.Edit}" actionListener="#{employeeController.setDocKey(doc.key)}"  oncomplete="$('.descriptionClass').modal()">
                                                            <span class="fa fa-pencil-square-o"></span>
                                                        </p:commandLink>
                                                    </td>
                                                    <td>
                                                        <p:commandLink partialSubmit="true" process="@this" styleClass="btn btn-danger btn-xs" title="#{bundle.Delete}" actionListener="#{employeeController.removeDocument(doc.key)}"  update="@form" >
                                                            <p:confirm message="آیا از حذف اطمینان دارید؟" />
                                                            <span class="fa fa-trash"></span>
                                                        </p:commandLink>
                                                    </td>
                                                    <td>
                                                        <o:inputFile  id="fileImg" value="#{employeeController.image}" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/pdf, image/*"  acceptMessage="فرمت تصویر انتخابی صحیح نیست.">
                                                            <f:ajax execute="@this" onevent="showProgress" render="@form :growl" listener="#{employeeController.replaceDoc(doc.key)}" />
                                                        </o:inputFile>
                                                    </td>
                                                    <td>
                                                        <h:message for="fileImg" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </ui:repeat>
                            <h:panelGroup rendered="#{empty employeeController.selected.documents}">
                                <h1 class="empty">
                                    مدرکی درج نشده.
                                </h1>
                            </h:panelGroup>
                        </div>
                    </bnu:column>
                </bnu:row>
            </h:form>
        </bnu:modal>
        <bnu:modal rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_EDIT')}" closable="true" styleClass="descriptionClass" closeOnEscape="true">
            <h:form id="descriptionForm" >
                <bnu:row rendered="#{employeeController.selected!=null}">
                    <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                        <h:inputTextarea id='msg' value="#{employeeController.docValue}" class="form-control" required="true" requiredMessage="توضیحات را وارد کنید." />
                        <h:message for="msg" />
                    </bnu:column>
                    <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                        <p:commandLink   oncomplete="handleSubmitModal(args,'descriptionClass');" styleClass="btn btn-info btn-lg" update="@form :documentForm :growl" title="ذخیره" actionListener="#{employeeController.descriptionSave}" >
                            <span class="fa fa-save"></span>
                            ذخیره
                        </p:commandLink>
                    </bnu:column>
                </bnu:row>
            </h:form>
        </bnu:modal>
        <bnu:modal rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_CHANGE_PASSWORD')}" closable="true" size="modal-sm" styleClass="passwordClass" closeOnEscape="true">
            <h:form id="passwordForm" >
                <bnu:row rendered="#{employeeController.selected!=null}">
                    <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                        <h:outputLabel value="رمز عبور" for="password" />
                        <h:inputSecret styleClass="form-control" id="password" value="#{employeeController.selected.plainPassword}" required="true" requiredMessage="لطفا رمز عبور را وارد کنید" >
                            <f:validator validatorId="confirmPasswordValidator" />
                            <f:attribute name="confirm" value="#{confirmPassword.submittedValue}" />
                        </h:inputSecret>
                        <h:message style="color:#ff0000" for="password" />
                    </bnu:column>
                    <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                        <h:outputLabel value="تکرار رمز عبور" for="password2" />
                        <h:inputSecret styleClass="form-control" id="password2" value="#{employeeController.selected.plainPassword}" binding="#{confirmPassword}"  required="true" requiredMessage="لطفا تکرار رمز عبور را وارد کنید" />
                        <h:message style="color:#ff0000" for="password2" />
                    </bnu:column>
                    <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                        <p:commandLink   oncomplete="handleSubmitModal(args,'passwordClass');" styleClass="btn btn-info btn-lg" update="@form :growl" title="ذخیره" actionListener="#{employeeController.update()}" >
                            <span class="fa fa-save"></span>
                            ذخیره
                        </p:commandLink>
                    </bnu:column>
                </bnu:row>
            </h:form>
        </bnu:modal>
        <bnu:modal rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_CHANGE_ACCESS')}" closable="true" size="modal-lg" styleClass="rolesClass" closeOnEscape="true">
            <h:form id="rolesForm" >
                <bnu:row rendered="#{employeeController.selected!=null}">
                    <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                        <h:outputLabel value="سطوح دسترسی" for="roles" />
                        <p:selectManyCheckbox id="roles" layout="grid" columns="3" value="#{employeeController.marktingRoles}" >
                            <f:selectItems value="#{employeeController.selected.position.grants}" var="entry" itemLabel="#{entry.value}" itemValue="#{entry.key}" />
                        </p:selectManyCheckbox>
                        <h:message style="color:#ff0000" for="roles" />
                    </bnu:column>
                    <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                        <p:commandLink   oncomplete="handleSubmitModal(args,'rolesClass');" styleClass="btn btn-info btn-lg" update="@form :growl" title="ذخیره" actionListener="#{employeeController.saveRoles()}" >
                            <span class="fa fa-save"></span>
                            ذخیره
                        </p:commandLink>
                    </bnu:column>
                </bnu:row>
            </h:form>
        </bnu:modal>
        <bnu:modal rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_EDIT')}" closable="true" styleClass="modalPseudoClass" closeOnEscape="true" id="imageDlg">
            <h:form id="imageForm" enctype="multipart/form-data">
                <bnu:row rendered="#{employeeController.selected!=null}">
                    <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                        <div class="upload-button">
                            <div class="bg-button">
                                <span class="fa fa-upload fa-4x"></span>
                            </div>
                            <o:inputFile style="width: 100%;height: 100px" id="fileImage" value="#{employeeController.image}" accept="image/*"  acceptMessage="فرمت تصویر انتخابی صحیح نیست.">
                                <f:ajax execute="@this"  onevent="showProgress"  render="@form :growl" listener="#{employeeController.imageUpload}" />
                            </o:inputFile>
                            <h:message for="fileImage" />
                            <div class="imageLoading">
                                <span class="fa fa-spinner fa-pulse fa-4x fa-fw"></span>
                            </div>
                        </div>
                    </bnu:column>
                    <bnu:column id="image" col-lg="12" col-md="12" col-sm="12" col-xs="12" >
                        <div class='file-shower' style="text-align: center">
                            <p:graphicImage cache="false" rendered="#{not empty employeeController.selected.photo}" height="100%" value="/media/employee/image/#{employeeController.selected.photo}" />
                            <h:panelGroup rendered="#{empty employeeController.selected.photo}">
                                <h1 class="empty">
                                    تصویری درج نشده.
                                </h1>
                            </h:panelGroup>
                        </div>
                    </bnu:column>
                </bnu:row>
            </h:form>
        </bnu:modal>
        <bnu:modal rendered="#{employeeController.currentUser.hasRole('EMPLOYEE_EDIT')}" closable="true" size="modal-lg" styleClass="description" closeOnEscape="true">
            <h:form id="descForm" >
                <bnu:row rendered="#{employeeController.selected!=null}">
                    <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                        <h:inputTextarea style="height:450px" binding="#{textarea}"  value="#{employeeController.selected.description}" rendered="true" requiredMessage="توضیحات را وارد کنید." />
                        <script>
                            CKEDITOR.replace('#{textarea.clientId}');
                            CKEDITOR.instances['#{textarea.clientId}'].on('change', function () {
                                CKEDITOR.instances['#{textarea.clientId}'].updateElement()
                            });
                        </script>
                    </bnu:column>
                    <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                        <p:commandLink   oncomplete="handleSubmitModal(args,'description');" styleClass="btn btn-info" update="@form :growl" title="ذخیره" actionListener="#{employeeController.update()}" >
                            <span class="fa fa-save"></span>
                            ذخیره
                        </p:commandLink>
                        <p:commandLink styleClass="btn btn-danger" type="button" title="#{bundle.Cancel}" onclick="handleSubmitModal(args, 'description');"> 
                            <span class="fa fa-remove"></span>
                            #{bundle.Cancel}
                        </p:commandLink>
                    </bnu:column>
                </bnu:row>
            </h:form>
        </bnu:modal>
        <ui:include src="Create.xhtml"/>
        <ui:include src="Edit.xhtml"/>
        <ui:include src="View.xhtml"/>
        <script>
            $.ajaxPrefilter(function (options, original_Options, jqXHR) {
                options.async = true;
            });
            function showProgress(data) {
                switch (data.status) {
                    case "begin": // This is called right before ajax request is been sent.
                        $('.imageLoading').show();
                        break;

                    case "complete": // This is called right after ajax response is received.
                        $('.imageLoading').hide();
                        break;

                    case "success": // This is called when ajax response is successfully processed.

                        break;
                }
            }
        </script>

    </ui:composition>

</html>
