<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition >
        <h:form id="form" prependId="false">
            <div style="position: relative;display: inline-block;height: 100vh;width: 100%">
                <div id='map' style="position: absolute;width:100%;height:100%"></div>
                <div class="searchbar">
                    <table style="width: 365px;margin: 10px 0;vertical-align: middle">
                        <tr>
                            <td style="vertical-align: middle;width: 35px">
                                <h:commandLink action="#{marketingController.setFullPiont(true)}">
                                    <f:ajax execute="@this" render="@this" />
                                    <span  class="fa fa-2x #{marketingController.fullPiont?'fa-podcast':'fa-rotate-45 fa-arrows'}"></span> 
                                </h:commandLink>
                            </td>
                            <td id="search_btn" style="vertical-align: middle;width: 37px;cursor: pointer">
                                <span  class="fa fa-2x fa-search"></span> 
                            </td>
                            <td><input id="searchTextField" placeholder="جست و جوی مکان ..." type="text" class="form-control searchinputr"  /></td>
                        </tr>
                    </table>
                </div>
                <div class="notificationBar" style="display: block;">
                    <div class="toolbar">
                        <a onclick="saveShape()" class="btn btn-primary">
                            دخیره
                            <span  class="fa fa-save"></span> 
                        </a>
                        <a href="#" onclick="removeShape()" class="btn btn-danger">
                            حذف
                            <span  class="fa fa-remove"></span> 
                        </a>
                        <h:commandLink actionListener="#{employeeController.setAllShape()}"  action="#{employeeController.allShape()}" class="btn btn-success">
                            <f:ajax execute="@this" render="@this" />
                            #{employeeController.allShape?'مشاهده ناحیه کارمند':'مشاهده تمام نواحی '}

                            <span  class="fa fa-map-signs"></span> 
                        </h:commandLink>
                        <o:commandScript execute="@this" name="removeMarket" action="#{employeeController.removePoints}" />
                        <h:commandLink class="btn btn-info pull-left" action="#{employeeController.setPage('employee/List')}">
                            <f:ajax execute="@this" render=":empanel" />
                            بازگشت
                            <span  class="fa fa-arrow-left"></span> 
                        </h:commandLink>
                    </div>

                </div>
            </div>
            <h:inputHidden binding="#{selectLat}" id='selectLat' value="2" />
            <h:inputHidden binding="#{selectLng}" id='selectLng'  value="2" />
            <o:commandScript execute="selectLat selectLng" name="callMarkers" action="#{marketingController.callMarkers}" />
            <o:commandScript execute="selectLat selectLng" name="selectMarker" action="#{marketingController.onMarkerSelect}" />
        </h:form>
        <h:form>
            <o:commandScript name="prepareCreate" oncomplete="markerAddComplete();" action="#{marketingController.prepareCreate}" />
            <o:commandScript name="removePoint" action="#{employeeController.removePoints}" />
            <o:commandScript name="saveShapeInDB"  action="#{employeeController.saveShape}" />
        </h:form>

        <script>
            var hasShape =#{employeeController.selected.points.size() gt 2};
            var path =#{employeeController.selected.jsonPath()};
            var map;
            var autocomplete;
            var geocoder;
            var mypos = {
                lat: 0,
                lng: 0
            };
            var markerMe;
            var markersList = [];
            var markers = [];
            var shape;
            function handleMessage() {
                var data = OmniFaces.Ajax.data;
                markers = $.parseJSON(data.markers);
                $.each(markersList, function (m) {
                    markersList[m].setMap(null);
                });
                $.each(markers, function (m) {
                    markersList.push(createMarker(markers[m], map));
                });
            }

            function removeShape() {
                if (confirm('آیا از حذف اطمینان دارید؟')) {
                    shape.setMap(null);
                    removePoint();
                }
                return  false;
            }



            var shapes = [];
            function showAllShapes() {
                var data = OmniFaces.Ajax.data;
                var dshapes = $.parseJSON(data.shapes);
                $.each(shapes, function (m) {
                    shapes[m].setMap(null);
                });
                if (dshapes, length > 0) {
                    $.each(dshapes, function (m) {
                        shapes.push(createShape(dshapes[m], map));
                    });
                }
            }
            function createShape(d, map) {
                var s = new google.maps.Polygon({
                    paths: d,
                    strokeColor: '#0000FF',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#0000FF',
                    fillOpacity: 0.1,
                    clickable: false,
                    editable: false,
                    zIndex: 1,
                    geodesic: false
                });
                s.setMap(map);
                return s;
            }

            function marketSelect() {
                var data = OmniFaces.Ajax.data;
                var market = $.parseJSON(data.market);
                $('#market_title').text(market.title);
                $('#market_type').text(market.type);
                $('.notificationBar').slideDown('fast');
            }
            function initMap() {
                var latLng = {lat: -25.363, lng: 131.044};
                var options = {
                    zoom: 11,
                    center: latLng
                };
                map = new google.maps.Map(document.getElementById('map'), options);
                geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    'address': '#{employeeController.selected.city}'
                }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                    }
                });
                var drawingManager = new google.maps.drawing.DrawingManager({
                    drawingControl: true,
                    drawingControlOptions: {
                        position: google.maps.ControlPosition.TOP_RIGHT,
                        drawingModes: ['polygon']
                    },
                    polygonOptions: {
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 3,
                        fillColor: '#FF0000',
                        fillOpacity: 0.1,
                        clickable: false,
                        editable: true,
                        zIndex: 1,
                        geodesic: true
                    }
                });
                if (hasShape) {
                    shape = new google.maps.Polygon({
                        paths: path,
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 3,
                        fillColor: '#FF0000',
                        fillOpacity: 0.1,
                        clickable: false,
                        editable: true,
                        zIndex: 1,
                        geodesic: true
                    });
                    shape.setMap(map);
                }
                map.addListener('center_changed', function () {
                    console.log(map.getCenter().lat())
                });
                google.maps.event.addListener(drawingManager, 'overlaycomplete', function (event) {
                    if (confirm("آیا تمایل به ثبت محدوده جدید هستید؟")) {
                        if (shape) {
                            shape.setMap(null);
                        }
                        shape = event.overlay;
                        saveShape();
                    } else {
                        event.overlay.setMap(null);
                    }
                });
                drawingManager.setMap(map);
                var input = document.getElementById('searchTextField');
                var options = {
                    componentRestrictions: {country: 'ir'}
                };
                autocomplete = new google.maps.places.Autocomplete(input, options);
                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    serachLocation();
                });
            }

            var rad = function (x) {
                return x * Math.PI / 180;
            };
            var getDistance = function (p1, p2) {
                var R = 6378137; // Earth’s mean radius in meter
                var dLat = rad(p2.lat - p1.lat);
                var dLong = rad(p2.lng - p1.lng);
                var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                        Math.cos(rad(p1.lat)) * Math.cos(rad(p2.lat)) *
                        Math.sin(dLong / 2) * Math.sin(dLong / 2);
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                var d = R * c;
                return d; // returns the distance in meter
            };
            function showPosition(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(pos);
                markerMe.setPosition(pos);
                markerMe.setMap(map);
                if (getDistance(mypos, pos) > 300) {
                    document.getElementById('#{selectLat.clientId}').value = pos.lat;
                    document.getElementById('#{selectLng.clientId}').value = pos.lng;
                    callMarkers();
                }
            }

            function serachLocation() {
                var place = autocomplete.getPlace();
                map.setCenter(place.geometry.location);
            }
            var currentMarker = null;
            var latlng;
            function handlePointClick(event) {
                document.getElementById('#{lat.clientId}').value = event.latLng.lat();
                document.getElementById('#{lng.clientId}').value = event.latLng.lng();
                latlng = new google.maps.LatLng(event.latLng.lat(), event.latLng.lng());
                if (confirm("آیا این مکان برای ثبت مورد تایید است؟")) {
                    prepareCreate();
                }
            }

            function getAddress(latLng) {
                geocoder.geocode({'latLng': latLng},
                        function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                if (results[0]) {

                                    document.getElementById("#{address.clientId}").value = results[0].formatted_address;
                                    var l = results[0].address_components.length;
                                    document.getElementById("#{province.clientId}").value = results[0].address_components[l - 2].long_name;
                                    document.getElementById("#{city.clientId}").value = results[0].address_components[l - 3].long_name;
                                    console.log(l);
                                }
                            } else {

                            }
                        }
                );
            }

            function markerAddComplete() {
                getAddress(latlng);
                $('.mymodal').show();
            }

            function cancel() {
                PF('dlg').hide();
                return false;
            }
            function cancelForm() {
                $('.mymodal').hide();
            }

            function finishSubmit(data) {
                cancelForm();
                var market = $.parseJSON(data);
                markersList.push(createMarker(market, map));
                markers.push(market);
            }

            $(document).ready(function () {
                $('#search_btn').click(function () {
                    if ($('.searchbar').hasClass('open-search')) {
                        $('.searchbar').removeClass('open-search');
                    } else {
                        $('.searchbar').addClass('open-search');
                    }
                });
            });

            var prev_infowindow = false;
            function createMarker(market, map) {
                var marker = new google.maps.Marker(market);
                marker.setMap(map);
                marker.setIcon("#{request.contextPath}/media/" + market.icon);
                var contentString = "<h2>" + market.title + "</h2><p>" + market.market_type + "</p>";
                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });
                google.maps.event.addListener(marker, "click", function (e) {
                    if (prev_infowindow) {
                        prev_infowindow.close();
                    }
                    prev_infowindow = infowindow;
                    infowindow.open(map, marker);
                });
                marker.addListener('dblclick', function (e) {
                    $('.notificationBar').slideUp('fast');
                    document.getElementById('#{selectLat.clientId}').value = e.latLng.lat();
                    document.getElementById('#{selectLng.clientId}').value = e.latLng.lng();
                    selectMarker();
                });
                return marker;
            }
        </script>
        <h:outputScript library="js" name="map.js" />
        <script>
            $.ajaxPrefilter(function (options, original_Options, jqXHR) {
                options.async = true;
            });
        </script>
    </ui:composition>
</html>
