<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmployeeViewDlg" widgetVar="EmployeeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEmployeeTitle}">
            <h:form id="EmployeeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{employeeController.selected != null}">
                        <h:outputText value="#{bundle.ViewEmployeeLabel_id}"/>
                        <h:outputText value="#{employeeController.selected.id}" title="#{bundle.ViewEmployeeTitle_id}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_name}"/>
                        <h:outputText value="#{employeeController.selected.name}" title="#{bundle.ViewEmployeeTitle_name}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_family}"/>
                        <h:outputText value="#{employeeController.selected.family}" title="#{bundle.ViewEmployeeTitle_family}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_phone}"/>
                        <h:outputText value="#{employeeController.selected.phone}" title="#{bundle.ViewEmployeeTitle_phone}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_mobile}"/>
                        <h:outputText value="#{employeeController.selected.mobile}" title="#{bundle.ViewEmployeeTitle_mobile}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_email}"/>
                        <h:outputText value="#{employeeController.selected.email}" title="#{bundle.ViewEmployeeTitle_email}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_sex}"/>
                        <h:outputText value="#{employeeController.selected.sex}" title="#{bundle.ViewEmployeeTitle_sex}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_address}"/>
                        <h:outputText value="#{employeeController.selected.address}" title="#{bundle.ViewEmployeeTitle_address}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_photo}"/>
                        <h:outputText value="#{employeeController.selected.photo}" title="#{bundle.ViewEmployeeTitle_photo}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_nationcode}"/>
                        <h:outputText value="#{employeeController.selected.nationcode}" title="#{bundle.ViewEmployeeTitle_nationcode}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_status}"/>
                        <h:outputText value="#{employeeController.selected.status}" title="#{bundle.ViewEmployeeTitle_status}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_password}"/>
                        <h:outputText value="#{employeeController.selected.password}" title="#{bundle.ViewEmployeeTitle_password}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_salt}"/>
                        <h:outputText value="#{employeeController.selected.salt}" title="#{bundle.ViewEmployeeTitle_salt}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_parrent}"/>
                        <h:outputText value="#{employeeController.selected.parrent}" title="#{bundle.ViewEmployeeTitle_parrent}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_province}"/>
                        <h:outputText value="#{employeeController.selected.province}" title="#{bundle.ViewEmployeeTitle_province}"/>
                        <h:outputText value="#{bundle.ViewEmployeeLabel_city}"/>
                        <h:outputText value="#{employeeController.selected.city}" title="#{bundle.ViewEmployeeTitle_city}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EmployeeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
