<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BaseattributeMarkrttypeCreateDlg" widgetVar="BaseattributeMarkrttypeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateBaseattributeMarkrttypeTitle}">
            <h:form id="BaseattributeMarkrttypeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{baseattributeMarkrttypeController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateBaseattributeMarkrttypeLabel_id}" for="id" />
                        <p:inputText id="id" value="#{baseattributeMarkrttypeController.selected.id}" title="#{bundle.CreateBaseattributeMarkrttypeTitle_id}" required="true" requiredMessage="#{bundle.CreateBaseattributeMarkrttypeRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateBaseattributeMarkrttypeLabel_required}" for="required" />
                        <p:inputText id="required" value="#{baseattributeMarkrttypeController.selected.required}" title="#{bundle.CreateBaseattributeMarkrttypeTitle_required}" required="true" requiredMessage="#{bundle.CreateBaseattributeMarkrttypeRequiredMessage_required}"/>
                        <p:outputLabel value="#{bundle.CreateBaseattributeMarkrttypeLabel_multiple}" for="multiple" />
                        <p:inputText id="multiple" value="#{baseattributeMarkrttypeController.selected.multiple}" title="#{bundle.CreateBaseattributeMarkrttypeTitle_multiple}" required="true" requiredMessage="#{bundle.CreateBaseattributeMarkrttypeRequiredMessage_multiple}"/>
                        <p:outputLabel value="#{bundle.CreateBaseattributeMarkrttypeLabel_datatype}" for="datatype" />
                        <p:inputText id="datatype" value="#{baseattributeMarkrttypeController.selected.datatype}" title="#{bundle.CreateBaseattributeMarkrttypeTitle_datatype}" />
                        <p:outputLabel value="#{bundle.CreateBaseattributeMarkrttypeLabel_priorty}" for="priorty" />
                        <p:inputText id="priorty" value="#{baseattributeMarkrttypeController.selected.priorty}" title="#{bundle.CreateBaseattributeMarkrttypeTitle_priorty}" />
                        <p:outputLabel value="#{bundle.CreateBaseattributeMarkrttypeLabel_baseattribute}" for="baseattribute" />
                        <p:selectOneMenu id="baseattribute" value="#{baseattributeMarkrttypeController.selected.baseattribute}" required="true" requiredMessage="#{bundle.EditBaseattributeMarkrttypeRequiredMessage_baseattribute}">
                            <f:selectItems value="#{baseattributeController.itemsAvailableSelectOne}"
                                           var="baseattributeItem"
                                           itemValue="#{baseattributeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateBaseattributeMarkrttypeLabel_markrttype}" for="markrttype" />
                        <p:selectOneMenu id="markrttype" value="#{baseattributeMarkrttypeController.selected.markrttype}" required="true" requiredMessage="#{bundle.EditBaseattributeMarkrttypeRequiredMessage_markrttype}">
                            <f:selectItems value="#{markrttypeController.itemsAvailableSelectOne}"
                                           var="markrttypeItem"
                                           itemValue="#{markrttypeItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{baseattributeMarkrttypeController.create}" value="#{bundle.Save}" update="display,:BaseattributeMarkrttypeListForm:datalist,:growl" oncomplete="handleSubmit(args,'BaseattributeMarkrttypeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BaseattributeMarkrttypeCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
