<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListBaseattributeMarkrttypeTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="BaseattributeMarkrttypeListForm">
                <p:panel header="#{bundle.ListBaseattributeMarkrttypeTitle}">
                    <p:dataTable id="datalist" value="#{baseattributeMarkrttypeController.items}" var="item"
                                 selectionMode="single" selection="#{baseattributeMarkrttypeController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBaseattributeMarkrttypeTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBaseattributeMarkrttypeTitle_required}"/>
                            </f:facet>
                            <h:outputText value="#{item.required}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBaseattributeMarkrttypeTitle_multiple}"/>
                            </f:facet>
                            <h:outputText value="#{item.multiple}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBaseattributeMarkrttypeTitle_datatype}"/>
                            </f:facet>
                            <h:outputText value="#{item.datatype}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBaseattributeMarkrttypeTitle_priorty}"/>
                            </f:facet>
                            <h:outputText value="#{item.priorty}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBaseattributeMarkrttypeTitle_baseattribute}"/>
                            </f:facet>
                            <h:outputText value="#{item.baseattribute}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBaseattributeMarkrttypeTitle_markrttype}"/>
                            </f:facet>
                            <h:outputText value="#{item.markrttype}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{baseattributeMarkrttypeController.prepareCreate}" update=":BaseattributeMarkrttypeCreateForm" oncomplete="PF('BaseattributeMarkrttypeCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":BaseattributeMarkrttypeViewForm" oncomplete="PF('BaseattributeMarkrttypeViewDialog').show()" disabled="#{empty baseattributeMarkrttypeController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":BaseattributeMarkrttypeEditForm" oncomplete="PF('BaseattributeMarkrttypeEditDialog').show()" disabled="#{empty baseattributeMarkrttypeController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{baseattributeMarkrttypeController.destroy}" update=":growl,datalist" disabled="#{empty baseattributeMarkrttypeController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
