<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BaseattributeMarkrttypeViewDlg" widgetVar="BaseattributeMarkrttypeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBaseattributeMarkrttypeTitle}">
            <h:form id="BaseattributeMarkrttypeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{baseattributeMarkrttypeController.selected != null}">
                        <h:outputText value="#{bundle.ViewBaseattributeMarkrttypeLabel_id}"/>
                        <h:outputText value="#{baseattributeMarkrttypeController.selected.id}" title="#{bundle.ViewBaseattributeMarkrttypeTitle_id}"/>
                        <h:outputText value="#{bundle.ViewBaseattributeMarkrttypeLabel_required}"/>
                        <h:outputText value="#{baseattributeMarkrttypeController.selected.required}" title="#{bundle.ViewBaseattributeMarkrttypeTitle_required}"/>
                        <h:outputText value="#{bundle.ViewBaseattributeMarkrttypeLabel_multiple}"/>
                        <h:outputText value="#{baseattributeMarkrttypeController.selected.multiple}" title="#{bundle.ViewBaseattributeMarkrttypeTitle_multiple}"/>
                        <h:outputText value="#{bundle.ViewBaseattributeMarkrttypeLabel_datatype}"/>
                        <h:outputText value="#{baseattributeMarkrttypeController.selected.datatype}" title="#{bundle.ViewBaseattributeMarkrttypeTitle_datatype}"/>
                        <h:outputText value="#{bundle.ViewBaseattributeMarkrttypeLabel_priorty}"/>
                        <h:outputText value="#{baseattributeMarkrttypeController.selected.priorty}" title="#{bundle.ViewBaseattributeMarkrttypeTitle_priorty}"/>
                        <h:outputText value="#{bundle.ViewBaseattributeMarkrttypeLabel_baseattribute}"/>
                        <h:outputText value="#{baseattributeMarkrttypeController.selected.baseattribute}" title="#{bundle.ViewBaseattributeMarkrttypeTitle_baseattribute}"/>
                        <h:outputText value="#{bundle.ViewBaseattributeMarkrttypeLabel_markrttype}"/>
                        <h:outputText value="#{baseattributeMarkrttypeController.selected.markrttype}" title="#{bundle.ViewBaseattributeMarkrttypeTitle_markrttype}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BaseattributeMarkrttypeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
