<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MarketplaceFeatureCreateDlg" widgetVar="MarketplaceFeatureCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMarketplaceFeatureTitle}">
            <h:form id="MarketplaceFeatureCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{marketplaceFeatureController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateMarketplaceFeatureLabel_id}" for="id" />
                        <p:inputText id="id" value="#{marketplaceFeatureController.selected.id}" title="#{bundle.CreateMarketplaceFeatureTitle_id}" required="true" requiredMessage="#{bundle.CreateMarketplaceFeatureRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateMarketplaceFeatureLabel_marketplaceId}" for="marketplaceId" />
                        <p:selectOneMenu id="marketplaceId" value="#{marketplaceFeatureController.selected.marketplaceId}" required="true" requiredMessage="#{bundle.EditMarketplaceFeatureRequiredMessage_marketplaceId}">
                            <f:selectItems value="#{marketplaceController.itemsAvailableSelectOne}"
                                           var="marketplaceIdItem"
                                           itemValue="#{marketplaceIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateMarketplaceFeatureLabel_markrttypeId}" for="markrttypeId" />
                        <p:selectOneMenu id="markrttypeId" value="#{marketplaceFeatureController.selected.markrttypeId}" required="true" requiredMessage="#{bundle.EditMarketplaceFeatureRequiredMessage_markrttypeId}">
                            <f:selectItems value="#{markrttypeController.itemsAvailableSelectOne}"
                                           var="markrttypeIdItem"
                                           itemValue="#{markrttypeIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{marketplaceFeatureController.create}" value="#{bundle.Save}" update="display,:MarketplaceFeatureListForm:datalist,:growl" oncomplete="handleSubmit(args,'MarketplaceFeatureCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MarketplaceFeatureCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
