<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MarketplaceFeatureEditDlg" widgetVar="MarketplaceFeatureEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditMarketplaceFeatureTitle}">
            <h:form id="MarketplaceFeatureEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{marketplaceFeatureController.selected != null}">
                        <p:outputLabel value="#{bundle.EditMarketplaceFeatureLabel_id}" for="id" />
                        <p:inputText id="id" value="#{marketplaceFeatureController.selected.id}" title="#{bundle.EditMarketplaceFeatureTitle_id}" required="true" requiredMessage="#{bundle.EditMarketplaceFeatureRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditMarketplaceFeatureLabel_marketplaceId}" for="marketplaceId" />
                        <p:selectOneMenu id="marketplaceId" value="#{marketplaceFeatureController.selected.marketplaceId}" required="true" requiredMessage="#{bundle.EditMarketplaceFeatureRequiredMessage_marketplaceId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{marketplaceController.itemsAvailableSelectOne}"
                                           var="marketplaceIdItem"
                                           itemValue="#{marketplaceIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditMarketplaceFeatureLabel_markrttypeId}" for="markrttypeId" />
                        <p:selectOneMenu id="markrttypeId" value="#{marketplaceFeatureController.selected.markrttypeId}" required="true" requiredMessage="#{bundle.EditMarketplaceFeatureRequiredMessage_markrttypeId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{markrttypeController.itemsAvailableSelectOne}"
                                           var="markrttypeIdItem"
                                           itemValue="#{markrttypeIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{marketplaceFeatureController.update}" value="#{bundle.Save}" update="display,:MarketplaceFeatureListForm:datalist,:growl" oncomplete="handleSubmit(args, 'MarketplaceFeatureEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MarketplaceFeatureEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
