<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListMarketplaceFeatureTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="MarketplaceFeatureListForm">
                <p:panel header="#{bundle.ListMarketplaceFeatureTitle}">
                    <p:dataTable id="datalist" value="#{marketplaceFeatureController.items}" var="item"
                                 selectionMode="single" selection="#{marketplaceFeatureController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMarketplaceFeatureTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMarketplaceFeatureTitle_marketplaceId}"/>
                            </f:facet>
                            <h:outputText value="#{item.marketplaceId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMarketplaceFeatureTitle_markrttypeId}"/>
                            </f:facet>
                            <h:outputText value="#{item.markrttypeId}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{marketplaceFeatureController.prepareCreate}" update=":MarketplaceFeatureCreateForm" oncomplete="PF('MarketplaceFeatureCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":MarketplaceFeatureViewForm" oncomplete="PF('MarketplaceFeatureViewDialog').show()" disabled="#{empty marketplaceFeatureController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":MarketplaceFeatureEditForm" oncomplete="PF('MarketplaceFeatureEditDialog').show()" disabled="#{empty marketplaceFeatureController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{marketplaceFeatureController.destroy}" update=":growl,datalist" disabled="#{empty marketplaceFeatureController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
