<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MarketplaceFeatureViewDlg" widgetVar="MarketplaceFeatureViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewMarketplaceFeatureTitle}">
            <h:form id="MarketplaceFeatureViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{marketplaceFeatureController.selected != null}">
                        <h:outputText value="#{bundle.ViewMarketplaceFeatureLabel_id}"/>
                        <h:outputText value="#{marketplaceFeatureController.selected.id}" title="#{bundle.ViewMarketplaceFeatureTitle_id}"/>
                        <h:outputText value="#{bundle.ViewMarketplaceFeatureLabel_marketplaceId}"/>
                        <h:outputText value="#{marketplaceFeatureController.selected.marketplaceId}" title="#{bundle.ViewMarketplaceFeatureTitle_marketplaceId}"/>
                        <h:outputText value="#{bundle.ViewMarketplaceFeatureLabel_markrttypeId}"/>
                        <h:outputText value="#{marketplaceFeatureController.selected.markrttypeId}" title="#{bundle.ViewMarketplaceFeatureTitle_markrttypeId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="MarketplaceFeatureViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
