<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmployeeTypeCreateDlg" widgetVar="EmployeeTypeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="افزودن سمت">
            <h:form id="EmployeeTypeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{employeeTypeController.selected != null}">
                        <p:outputLabel value="عنوان" for="name" />
                        <p:inputText id="name" value="#{employeeTypeController.selected.name}" title="عنوان" required="true" requiredMessage="لطفا عنوان را وارد کنید."/>
                        <p:outputLabel value="دسترسی ها" for="roles" />
                        <p:selectManyCheckbox layout="grid" columns="2" id="roles" value="#{employeeTypeController.grantList}">
                            <f:selectItems  value="#{employeeTypeController.marktingRoles}" var="role" itemLabel="#{role.value}" itemValue="#{role.key}" />
                        </p:selectManyCheckbox>
                    </p:panelGrid>
                    <p:commandLink styleClass="btn btn-info" actionListener="#{employeeTypeController.create}" value="#{bundle.Save}" update="display,:EmployeeTypeListForm:datalist,:growl" oncomplete="handleSubmit(args,'EmployeeTypeCreateDialog');"/>
                    <p:commandLink styleClass="btn btn-danger" type="button" value="#{bundle.Cancel}" onclick="PF('EmployeeTypeCreateDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
