<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmployeeTypeViewDlg" widgetVar="EmployeeTypeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle2.ViewEmployeeTypeTitle}">
            <h:form id="EmployeeTypeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{employeeTypeController.selected != null}">
                        <h:outputText value="#{bundle2.ViewEmployeeTypeLabel_id}"/>
                        <h:outputText value="#{employeeTypeController.selected.id}" title="#{bundle2.ViewEmployeeTypeTitle_id}"/>
                        <h:outputText value="#{bundle2.ViewEmployeeTypeLabel_name}"/>
                        <h:outputText value="#{employeeTypeController.selected.name}" title="#{bundle2.ViewEmployeeTypeTitle_name}"/>
                        <h:outputText value="#{bundle2.ViewEmployeeTypeLabel_roles}"/>
                        <h:outputText value="#{employeeTypeController.selected.roles}" title="#{bundle2.ViewEmployeeTypeTitle_roles}"/>
                        <h:outputText value="#{bundle2.ViewEmployeeTypeLabel_status}"/>
                        <h:outputText value="#{employeeTypeController.selected.status}" title="#{bundle2.ViewEmployeeTypeTitle_status}"/>
                        <h:outputText value="#{bundle2.ViewEmployeeTypeLabel_updatedat}"/>
                        <h:outputText value="#{employeeTypeController.selected.updatedat}" title="#{bundle2.ViewEmployeeTypeTitle_updatedat}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle2.Close}" onclick="EmployeeTypeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
