<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FeatureCreateDlg" widgetVar="FeatureCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateFeatureTitle}">
            <h:form id="FeatureCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{featureController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateFeatureLabel_id}" for="id" />
                        <p:inputText id="id" value="#{featureController.selected.id}" title="#{bundle.CreateFeatureTitle_id}" required="true" requiredMessage="#{bundle.CreateFeatureRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateFeatureLabel_value}" for="value" />
                        <p:inputText id="value" value="#{featureController.selected.value}" title="#{bundle.CreateFeatureTitle_value}" required="true" requiredMessage="#{bundle.CreateFeatureRequiredMessage_value}"/>
                        <p:outputLabel value="#{bundle.CreateFeatureLabel_meta}" for="meta" />
                        <p:inputText id="meta" value="#{featureController.selected.meta}" title="#{bundle.CreateFeatureTitle_meta}" />
                        <p:outputLabel value="#{bundle.CreateFeatureLabel_status}" for="status" />
                        <p:inputText id="status" value="#{featureController.selected.status}" title="#{bundle.CreateFeatureTitle_status}" />
                        <p:outputLabel value="#{bundle.CreateFeatureLabel_updateat}" for="updateat" />
                        <p:calendar id="updateat" pattern="MM/dd/yyyy HH:mm:ss" value="#{featureController.selected.updateat}" title="#{bundle.EditFeatureTitle_updateat}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateFeatureLabel_employee}" for="employee" />
                        <p:selectOneMenu id="employee" value="#{featureController.selected.employee}" >
                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                           var="employeeItem"
                                           itemValue="#{employeeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateFeatureLabel_marketplace}" for="marketplace" />
                        <p:selectOneMenu id="marketplace" value="#{featureController.selected.marketplace}" required="true" requiredMessage="#{bundle.EditFeatureRequiredMessage_marketplace}">
                            <f:selectItems value="#{marketplaceFeatureController.itemsAvailableSelectOne}"
                                           var="marketplaceItem"
                                           itemValue="#{marketplaceItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateFeatureLabel_basefeature}" for="basefeature" />
                        <p:selectOneMenu id="basefeature" value="#{featureController.selected.basefeature}" required="true" requiredMessage="#{bundle.EditFeatureRequiredMessage_basefeature}">
                            <f:selectItems value="#{baseattributeController.itemsAvailableSelectOne}"
                                           var="basefeatureItem"
                                           itemValue="#{basefeatureItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{featureController.create}" value="#{bundle.Save}" update="display,:FeatureListForm:datalist,:growl" oncomplete="handleSubmit(args,'FeatureCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FeatureCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
