<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FeatureEditDlg" widgetVar="FeatureEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditFeatureTitle}">
            <h:form id="FeatureEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{featureController.selected != null}">
                        <p:outputLabel value="#{bundle.EditFeatureLabel_id}" for="id" />
                        <p:inputText id="id" value="#{featureController.selected.id}" title="#{bundle.EditFeatureTitle_id}" required="true" requiredMessage="#{bundle.EditFeatureRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditFeatureLabel_value}" for="value" />
                        <p:inputText id="value" value="#{featureController.selected.value}" title="#{bundle.EditFeatureTitle_value}" required="true" requiredMessage="#{bundle.EditFeatureRequiredMessage_value}"/>
                        <p:outputLabel value="#{bundle.EditFeatureLabel_meta}" for="meta" />
                        <p:inputText id="meta" value="#{featureController.selected.meta}" title="#{bundle.EditFeatureTitle_meta}" />
                        <p:outputLabel value="#{bundle.EditFeatureLabel_status}" for="status" />
                        <p:inputText id="status" value="#{featureController.selected.status}" title="#{bundle.EditFeatureTitle_status}" />
                        <p:outputLabel value="#{bundle.EditFeatureLabel_updateat}" for="updateat" />
                        <p:calendar id="updateat" pattern="MM/dd/yyyy HH:mm:ss" value="#{featureController.selected.updateat}" title="#{bundle.EditFeatureTitle_updateat}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditFeatureLabel_employee}" for="employee" />
                        <p:selectOneMenu id="employee" value="#{featureController.selected.employee}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                           var="employeeItem"
                                           itemValue="#{employeeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditFeatureLabel_marketplace}" for="marketplace" />
                        <p:selectOneMenu id="marketplace" value="#{featureController.selected.marketplace}" required="true" requiredMessage="#{bundle.EditFeatureRequiredMessage_marketplace}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{marketplaceFeatureController.itemsAvailableSelectOne}"
                                           var="marketplaceItem"
                                           itemValue="#{marketplaceItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditFeatureLabel_basefeature}" for="basefeature" />
                        <p:selectOneMenu id="basefeature" value="#{featureController.selected.basefeature}" required="true" requiredMessage="#{bundle.EditFeatureRequiredMessage_basefeature}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{baseattributeController.itemsAvailableSelectOne}"
                                           var="basefeatureItem"
                                           itemValue="#{basefeatureItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{featureController.update}" value="#{bundle.Save}" update="display,:FeatureListForm:datalist,:growl" oncomplete="handleSubmit(args, 'FeatureEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FeatureEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
