<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">

        <ui:define name="body">
            <h:form id="FeatureListForm">
                <p:dataTable id="datalist" value="#{featureController.items}" var="item"
                             paginator="true"
                             rowKey="#{item.id}"
                             rows="10"
                             paginatorPosition="bottom"
                             paginatorAlwaysVisible="false"
                             emptyMessage="رکوردی درج نشده."
                             rowsPerPageTemplate="10,20,30,40,50"
                             >
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="ردیف"/>
                        </f:facet>
                        <h:outputText value="#{featureController.items.indexOf(item)+1}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFeatureTitle_value}"/>
                        </f:facet>
                        <h:outputText value="#{item.value}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFeatureTitle_meta}"/>
                        </f:facet>
                        <h:outputText value="#{item.meta}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFeatureTitle_status}"/>
                        </f:facet>
                        <h:outputText value="#{item.status}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFeatureTitle_updateat}"/>
                        </f:facet>
                        <h:outputText value="#{item.updateat}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFeatureTitle_employee}"/>
                        </f:facet>
                        <h:outputText value="#{item.employee}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFeatureTitle_marketplace}"/>
                        </f:facet>
                        <h:outputText value="#{item.marketplace}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFeatureTitle_basefeature}"/>
                        </f:facet>
                        <h:outputText value="#{item.basefeature}"/>
                    </p:column>
                    <f:facet name="footer">
                        <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{featureController.prepareCreate}" update=":FeatureCreateForm" oncomplete="PF('FeatureCreateDialog').show()"/>
                        <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":FeatureViewForm" oncomplete="PF('FeatureViewDialog').show()" disabled="#{empty featureController.selected}"/>
                        <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":FeatureEditForm" oncomplete="PF('FeatureEditDialog').show()" disabled="#{empty featureController.selected}"/>
                        <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{featureController.destroy}" update=":growl,datalist" disabled="#{empty featureController.selected}"/>
                    </f:facet>
                </p:dataTable>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
