<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FeatureViewDlg" widgetVar="FeatureViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFeatureTitle}">
            <h:form id="FeatureViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{featureController.selected != null}">
                        <h:outputText value="#{bundle.ViewFeatureLabel_id}"/>
                        <h:outputText value="#{featureController.selected.id}" title="#{bundle.ViewFeatureTitle_id}"/>
                        <h:outputText value="#{bundle.ViewFeatureLabel_value}"/>
                        <h:outputText value="#{featureController.selected.value}" title="#{bundle.ViewFeatureTitle_value}"/>
                        <h:outputText value="#{bundle.ViewFeatureLabel_meta}"/>
                        <h:outputText value="#{featureController.selected.meta}" title="#{bundle.ViewFeatureTitle_meta}"/>
                        <h:outputText value="#{bundle.ViewFeatureLabel_status}"/>
                        <h:outputText value="#{featureController.selected.status}" title="#{bundle.ViewFeatureTitle_status}"/>
                        <h:outputText value="#{bundle.ViewFeatureLabel_updateat}"/>
                        <h:outputText value="#{featureController.selected.updateat}" title="#{bundle.ViewFeatureTitle_updateat}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewFeatureLabel_employee}"/>
                        <h:outputText value="#{featureController.selected.employee}" title="#{bundle.ViewFeatureTitle_employee}"/>
                        <h:outputText value="#{bundle.ViewFeatureLabel_marketplace}"/>
                        <h:outputText value="#{featureController.selected.marketplace}" title="#{bundle.ViewFeatureTitle_marketplace}"/>
                        <h:outputText value="#{bundle.ViewFeatureLabel_basefeature}"/>
                        <h:outputText value="#{featureController.selected.basefeature}" title="#{bundle.ViewFeatureTitle_basefeature}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FeatureViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
