<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductserialsEditDlg" widgetVar="ProductserialsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProductserialsTitle}">
            <h:form id="ProductserialsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productserialsController.selected != null}">
                        <p:outputLabel value="#{bundle.EditProductserialsLabel_serial}" for="serial" />
                        <p:inputText id="serial" value="#{productserialsController.selected.serial}" title="#{bundle.EditProductserialsTitle_serial}" required="true" requiredMessage="#{bundle.EditProductserialsRequiredMessage_serial}"/>
                        <p:outputLabel value="#{bundle.EditProductserialsLabel_status}" for="status" />
                        <p:inputText id="status" value="#{productserialsController.selected.status}" title="#{bundle.EditProductserialsTitle_status}" />
                        <p:outputLabel value="#{bundle.EditProductserialsLabel_product}" for="product" />
                        <p:selectOneMenu id="product" value="#{productserialsController.selected.product}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productController.itemsAvailableSelectOne}"
                                           var="productItem"
                                           itemValue="#{productItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productserialsController.update}" value="#{bundle.Save}" update="display,:ProductserialsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProductserialsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProductserialsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
