<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductserialsViewDlg" widgetVar="ProductserialsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProductserialsTitle}">
            <h:form id="ProductserialsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productserialsController.selected != null}">
                        <h:outputText value="#{bundle.ViewProductserialsLabel_serial}"/>
                        <h:outputText value="#{productserialsController.selected.serial}" title="#{bundle.ViewProductserialsTitle_serial}"/>
                        <h:outputText value="#{bundle.ViewProductserialsLabel_status}"/>
                        <h:outputText value="#{productserialsController.selected.status}" title="#{bundle.ViewProductserialsTitle_status}"/>
                        <h:outputText value="#{bundle.ViewProductserialsLabel_product}"/>
                        <h:outputText value="#{productserialsController.selected.product}" title="#{bundle.ViewProductserialsTitle_product}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProductserialsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
