<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>
        <h:form>

            <bnu:row styleClass="ui-widget-header" style="padding-bottom: 3px">
                <bnu:column colLg="6" colMd="6" colSm="6" colXs="6">
                    <h4 class="title">
                        بارکد
                    </h4>
                </bnu:column>
                <bnu:column  style="text-align: left" colLg="6" colMd="6" colSm="6" colXs="6">
                    <p:inputNumber minValue="1" maxValue="1000" value="#{productController.numberBarcode}" placeholder="تعداد بارکد" />
                    <p:commandLink update=":barcodeShow" title="تولید بارکد" action="#{productController.generateBarcode()}" styleClass="btn btn-primary">
                        <span class="fa fa-barcode" /> تولید بارکد
                    </p:commandLink>
                    <p:commandLink style="color:#000!important" styleClass="btn btn-default" title="پرینت">
                        <span class="fa fa-print" />
                        <p:printer target=":barcodeShow" /> پرینت
                    </p:commandLink>
                    <p:commandLink style="color:#000!important" styleClass="btn btn-info"  title="بازگشت" action="#{productController.setPage('product/List')}" update=":empanel" >
                        <span class="fa fa-arrow-left"></span> بازگشت
                    </p:commandLink>
                </bnu:column>
            </bnu:row>
        </h:form>
        <bnu:container>

            <h:form id="barcodeShow" style="margin-top: 20px">
                <p:panelGrid columns="7" >
                    <c:forEach  items="#{productController.serials}" var="barcode" >
                        <p:barcode cache="true" value="#{barcode.serial}"  type="int2of5"  />
                    </c:forEach>
                </p:panelGrid>
            </h:form>
        </bnu:container>
    </ui:composition>
</html>
