<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition>
        <bnu:modal closable="true" closeOnEscape="true" styleClass="addModal">
            <h:form id="ProductCreateForm" >
                <h:panelGroup id="display"  rendered="#{productController.selected != null}">
                    <p:panelGrid columnClasses="col-sm-3,col-sm-9" layout="grid" columns="2" style="width:100% ">
                        <p:outputLabel value="نام" for="name" />
                        <p:inputText styleClass="form-control" id="name" value="#{productController.selected.name}" title="نام محصول" required="true" requiredMessage="نام محصول را وارد کنید" />
                        <p:outputLabel value="قیمت" for="price" />
                        <p:inputNumber inputStyleClass="form-control" decimalPlaces="0" id="price" value="#{productController.selected.price}" title="قیمت"  required="true" requiredMessage="قیمت محصول را وارد کنید" />
                        <p:outputLabel value="وزن" for="weight" />
                        <p:inputText  styleClass="form-control"  id="weight" value="#{productController.selected.weight}" title="وزن" />
                        <p:outputLabel value="کد محصول" for="partnumber" />
                        <p:inputText  styleClass="form-control"  id="partnumber" value="#{productController.selected.partnumber}" title="کد محصول" />
                        <p:outputLabel value="محدودیت هشدار" for="limit" />
                        <p:inputText  styleClass="form-control"  id="limit" value="#{productController.selected.limit}" title="کد محصول" />
                        <p:outputLabel value="دسته بندی" for="category" />
                        <h:selectOneMenu styleClass="form-control" id="category" value="#{productController.selected.category}" >
                            <f:selectItems value="#{categoryController.childList}"
                                           var="categoryItem"
                                           itemValue="#{categoryItem}"/>
                        </h:selectOneMenu>
                        <p:outputLabel value="توضیحات کوتاه" for="meta" />
                        <p:inputTextarea  styleClass="form-control"  id="meta" value="#{productController.selected.meta}" title="توضیحات کوتاه" />
                    </p:panelGrid>
                    <bnu:row>
                        <bnu:column colLg="12" colMd="12" colSm="12" colXs="12" >
                            <p:commandLink styleClass="btn btn-info btn-lg" actionListener="#{productController.create}" value="#{bundle.Save}"  update=":ProductListForm:datalist,:growl" oncomplete="handleSubmitModal(args,'addModal');"  />
                            <p:commandLink styleClass="btn btn-danger btn-lg" value="#{bundle.Cancel}" onclick="$('.addModal').modal('hide')" />
                        </bnu:column>
                    </bnu:row>
                </h:panelGroup>
            </h:form>
        </bnu:modal>
    </ui:composition>
</html>
