<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition>
        <div style="position: relative;height: 100vh;">
            <h:form id="ProductListForm">
                <script src="#{request.contextPath}/resources/ckeditor/ckeditor.js" type="text/javascript"></script>
                <style>
                    .default{
                        background: #fff;
                        color:#000
                    }
                </style>
                <p:dataTable  id="datalist" editable="true" editMode="cell" rowStatePreserved="true" 
                              currentPageReportTemplate="(تعداد رکورد: {startRecord} تا {endRecord} از {totalRecords}, صفحه: {currentPage}/{totalPages})"
                              paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} " 
                              reflow="true" emptyMessage="محصولی درج نشده است."  widgetVar="datalist" value="#{productController.items}" var="item">
                    <f:facet name="header" >
                        <bnu:row>
                            <bnu:column colLg="6" colMd="6" colSm="6" colXs="12">
                                <h4 class="title">
                                    محصولات
                                    <h:outputText style="margin-right: 10px" value="سال انبار #{inventoryController.years}"/>
                                    <h:panelGroup rendered="#{inventoryController.financialYears.end}" styleClass="fa fa-lock" />
                                </h4>
                            </bnu:column>
                            <!--                            <bnu:column colLg="4" colMd="4" colSm="4" colXs="12">
                                                            <table style="text-align: center">
                                                                <tr>
                                                                    <td class="alert-danger">موجودی منفی</td>
                                                                    <td class="alert-warning">موجودی صفر</td>
                                                                    <td class="alert-info">محدوده هشدار</td>
                                                                    <td class="default">موجود</td>
                                                                </tr>
                                                            </table>
                                                        </bnu:column>-->
                            <bnu:column style="text-align: left" colLg="6" colMd="6" colSm="6" colXs="12">
                                <p:commandLink styleClass="btn btn-primary" title="#{bundle.Edit}" action="#{productController.prepareCreate()}" update=":ProductCreateForm" oncomplete="$('.addModal').modal()">
                                    <span class="fa fa-plus"></span> افزودن
                                </p:commandLink>
                                <p:commandLink styleClass="btn btn-danger" ajax="false">
                                    خروجی اکسل
                                    <span class="fa fa-file-excel-o"></span>
                                    <p:fileDownload value="#{productController.postProcessXLS()}" />
                                </p:commandLink>
                                <p:commandLink styleClass="btn btn-info" actionListener="#{productController.setPage('category/List')}" update=":empanel">
                                    <span class="fa fa-list"></span> دسته بندی ها
                                </p:commandLink>
                            </bnu:column>
                        </bnu:row>
                    </f:facet>
                    <p:ajax event="cellEdit" listener="#{productController.onCellEdit}" update=":growl" />
                    <p:column filterBy="#{item.partnumber}" sortBy="#{item.partnumber}">
                        <f:facet name="header">
                            <h:outputText value="کد محصول"/>
                        </f:facet>
                        <h:outputText value="#{item.partnumber}"/>
                    </p:column>
                    <p:column filterBy="#{item.name}" sortBy="#{item.name}">
                        <f:facet name="header">
                            <h:outputText value="نام مجصول"/>
                        </f:facet>
                        <h:outputText value="#{item.name}"/>
                    </p:column>
                    <p:column headerText="بها (تومان)">
                        <h:outputText style="display: inline-block;direction: ltr;text-align: left;font-family: 'B Yekan'" value="#{item.price}">
                            <f:convertNumber integerOnly="true" maxFractionDigits="0" />
                        </h:outputText>
                    </p:column> 

                    <p:column filterOptions="#{categoryController.selectitemsCategories}"  filterBy="#{item.category}" >
                        <f:facet name="header">
                            <h:outputText value="دسته بندی"/>
                        </f:facet>
                        <h:outputText value="#{item.category.name}"/>
                    </p:column>
                    <p:column visible="false" exportFunction="#{productController.exportFunction(item)}">
                        <f:facet name="header">
                            <h:outputText value="ورودی"/>
                        </f:facet>
                        <h:outputText value="#{item.category.name}"/>
                    </p:column>
                    <p:column  visible="false"  exportFunction="#{productController.exportFunction(item)}">
                        <f:facet name="header">
                            <h:outputText value="خروجی"/>
                        </f:facet>
                        <h:outputText value="#{item.category.name}"/>
                    </p:column>
                    <p:column  visible="false"  exportFunction="#{productController.exportFunction(item)}">
                        <f:facet name="header">
                            <h:outputText value="موجودی"/>
                        </f:facet>
                        <h:outputText value="#{item.category.name}"/>
                    </p:column>
                    <p:column exportable="false" headerText="فعالیت">
                        <p:commandLink styleClass="btn btn-info btn-xs" title="#{bundle.Edit}" action="#{productController.setSelected(item)}" update=":ProductEditForm" oncomplete="$('.editModal').modal()">
                            <span class="fa fa-pencil-square-o"></span>
                        </p:commandLink>
                        <p:commandLink style="color:#000!important" styleClass="btn btn-primary  btn-xs"  title="بارکد" actionListener="#{productController.setSelected(item)}" action="#{productController.setPage('product/Barcode')}" update=":empanel" >
                            <span class="fa fa-barcode"></span>
                        </p:commandLink>
                        <p:commandLink styleClass="btn btn-danger btn-xs" title="#{bundle.Delete}" actionListener="#{productController.setSelected(item)}" update=":growl , @form" action="#{productController.destroy}" >
                            <p:confirm message="آیا از حذف اطمینان دارید؟" />
                            <span class="fa fa-trash"></span>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </h:form>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="Create.xhtml"/>
        </div>
    </ui:composition>

</html>
