@font-face{
    font-family:'B Yekan';
    src:url('#{request.contextPath}/resources/css/font/BYekan.eot');
    src:url('#{request.contextPath}/resources/css/font/BYekan.eot?#iefix') format('embedded-opentype'),
        url('#{request.contextPath}/resources/css/font/BYekan.woff')  format('woff'),
        url('#{request.contextPath}/resources/css/font/BYekan.ttf') format('truetype'),
        url('#{request.contextPath}/resources/css/font/BYekan#alternategothic')
}
@font-face{
    font-family:'B Koodak';
    src:url('#{request.contextPath}/resources/css/font/BKoodakBold.eot');
    src:url('#{request.contextPath}/resources/css/font/BKoodakBold.eot?#iefix') format('embedded-opentype'),
        url('#{request.contextPath}/resources/css/font/BKoodakBold.woff')  format('truetype'),
        url('#{request.contextPath}/resources/css/font/BKoodakBold.ttf')  format('woff'),
        url('#{request.contextPath}/resources/css/font/BKoodakBold#alternategothic')
}
.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}

div,p,select,option,input,button,a,label,td,th,tr{
    font-family: 'B Koodak'!important
}
span{
   font-family: 'B Koodak' 
}
h1,h2,h3,h4,h5,h6,.title{
    font-family: 'B Yekan'!important;
}
.ui-panelgrid, .ui-panelgrid tr,.ui-panelgrid td{
    border:none!important
}
.ui-commandlink{
    color:#fff!important;
    margin: 2px
}
.ui-tooltip .ui-tooltip-text {
    background-color: #fafafa!important;
    color: #000!important;
}
.ui-tooltip-right .ui-tooltip-arrow {
    border-right-color: #fafafa!important;
}
.nav-tabs > li {
    float: right!important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float:right!important}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float:right!important}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:right!important}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{float:right!important}
.title{margin: 5px;text-align: right}
.loading{
    background: url(#{request.contextPath}/resources/img/loading.gif);background-size: cover;position: fixed;width: 100%;height: 100%;top:0;left:0;height: 100%;
    display: none;z-index: 99999999;background-position: center
}
.ui-datatable-reflow .ui-datatable-data td[role="gridcell"]{
    text-align: right!important
}
div,form{
    direction: rtl;text-align: right
}
#ajaxloader{
    display: none
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    opacity: 0.2;
}
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
/*body{
    overflow-y: hidden
}*/
p,input,select,option,label,div{
    font-family: 'B Koodak'
}
h1,h2,h3,h4,h5,h6{
    text-align: right;
    direction: rtl;
    font-family: 'B Yekan'
}
.leftSide{
    height: 100vh;overflow: auto;width: 310px;color:#fff;position: fixed;right:0;top:0;
    transition: all 0.5s ease-in-out;direction: ltr;text-align: left;overflow-x: hidden;
    background:#ee6e73;
}
.leftSide >div> table{
    margin: 10px;width:290px;margin-right: 0
}
.ui-panelgrid,.ui-panelgrid tr,.ui-panelgrid td{
    border:none!important
}
table td{
    vertical-align: top;
    text-align: right;
    direction: rtl
}
.toggler{
    cursor: pointer;
}
.container{
    transition: all 0.5s ease-in-out; 
}
.close-nav{
    width: 50px;
}
.leftSide .thumbnail{
    display: inline-block;
    width: 60px;
    border-radius: 30px;
    overflow: hidden;
    margin: 10px;
    float: right
}
.thumbnail{
    margin-bottom: 0px
}
.navlinks{
    list-style: none;
    padding: 0;
    direction: ltr;
    margin-top: 0px
}
.badge{
    color:#fff!important
}
.navlinks li > a{
    display: block;
    line-height: 30px;
    text-decoration: none;
    min-width: 300px;
    width: 100%;
    color: #fff;
    font-size: large;
    padding: 10px;
    transition: all 0.5s ease-in-out; 
    border-bottom: solid 1px #ea454b;
    clear: both;

    direction: rtl;text-align: right
}
.navlinks li > .active{background: #ea454b;}
.navlinks li > a:hover{background: #ea454b;cursor: pointer }
.navlinks i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    float:left

}
.float-special-left{
    float:left  ; 
}
.float-special-right{
    float:right;   
}

.ui-widget-header,.ui-datatable-tablewrapper .ui-state-default{
    border:none!important;
    background: #ee6e73!important;
    font-weight: bold;
    color: #ffffff!important;
    text-shadow:none!important;
    border-radius: 0!important
}
.ui-datatable-tablewrapper .ui-state-active{
    background: #b9565a!important;
}
.ui-sortable-column-icon{
    color: #ffffff!important;
}
.ui-paginator a{
    background: #b9565a!important;
    color:#fff!important
}
.rtl{
    text-align: right;direction: rtl;
}
.ui-growl{
    right: auto!important;left:20px!important;
}
.ui-growl-item{
    background: #b9565a!important
}
.admin{
    background-color: #e6b5b7!important
}
.help{
    /*border-radius: 4px;*/
    border:1px solid #ccc;
    padding: 3px;
    display: inline-block;
    text-align: center;
    float: right;
    margin: 5px 5px 0 0
}
.row > div{
    direction: rtl;
    text-align: right;float: right
}
.nav-tabs > li {
    float: right;
}
.title{
    border-bottom: 2px solid #ccc
}
.ui-grid-responsive{
    border: none!important;
    direction: rtl
}
/*            .tag{
                display: inline-block;
                padding: 2px 5px;
                background: #37474f;
                color:#fff;
                border-radius: 3px;
                margin: 1px;
                cursor: pointer
            }*/
.ui-panelgrid-cell > .col-xs-12{
    padding: 0!important
}

.ui-grid-row > div{ float:right!important}
.ui-datascroller-content{
    border:none!important
}
ul{
    list-style: none!important;
    padding-right: 0;
}


/*************************************** map page css ****************************************/
.searchinputr{
    width:100%;
    transition: all 0.4s ease-in-out
}
.searchbar{
    transition: all 0.4s ease-in-out;
    overflow-x: hidden;
    display: inline-block;position: absolute;top:10px;left:10px;background: #fff;border:2px solid #ccc;border-radius: 5px;padding: 0px 10px;
    width:90px;
}
.open-search{
    width: 390px;
}
.ui-widget{
    border-radius: 0!important
}
.mymodal,.showmodal{
    position: absolute;
    width: 100%;height: 100vh;
    background: #fdfdfd;
    top:0;
    left:0;
    z-index: 999;
    overflow: hidden;
    display: none;
}
.inputAttr{
    position: relative;
}
.inputAttr a{
    position: absolute;
    left:10px;
    top:7px
}
.form-control input[type="radio"]{
    margin-right: 20px
}
.fa-rotate-45{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.notificationBar{
    position: absolute;width: 100%;
    background: #f4f4f4;left:0;bottom: 0;
    border-top: 1px solid #e4e4e4;
    padding:0 20px;
    display: none
}
.toolbar a{
    margin: 2.5px
}
.thumbnail{
    margin-bottom: 0px!important
}
.imageLoading{
    position: absolute;width:100%;height: 100%;top:0;left:0;background: rgba(0,0,0,0.1);text-align: center;display: none
}
.ui-dialog.ui-widget-content{
    z-index: 99999!important
}
.upload-button{
    position: relative;border: #ee6e73 dotted 2px;border-radius: 4px;margin-bottom: 10px
}
.upload-button .bg-button{
    position: absolute;width: 100%;height: 100%;text-align: center
}
 .upload-button span{
    color:#ee6e73;margin-top: 4%
}
.upload-button input{
    width: 100%;height: 100px;opacity: 0;cursor: pointer
}
.file-shower{
    border: #ee6e73 dotted 2px;border-radius: 4px;margin: 0px;overflow-y: auto;height: 400px
}
.file-shower .empty{
    line-height: 400px;text-align: center;color:#ee6e73
}
.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: 0;
    width: 16px;
    height: 100%;
    position: absolute;
    right: auto!important;
    left:0!important;
}
.ui-selectonemenu .ui-selectonemenu-label{
    padding: 6px 12px;
    text-align: right!important;
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item{
   text-align: right!important; 
}
.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon{
    left:0!important;
    right:auto!important
}
.ui-selectonemenu-panel .ui-selectonemenu-filter{
    left:15px;
    right:4px!important;
    width:90%!important
}
.ui-selectonemenu-panel .ui-selectonemenu-filter-container{
    width:100%!important
}
.chart * {
    direction: ltr!important
}
.jqplot-title{
    direction: rtl!important;
}