<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition>

        <bnu:modal closable="true" closeOnEscape="true" styleClass="editModal" >
            <h:form id="CategoryEditForm">
                <h:panelGroup id="display" rendered="#{categoryController.selected != null}">
                     <bnu:row>
                        <bnu:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
                            <bnu:row>
                                <bnu:column col-lg="3" col-md="3" col-sm="4" col-xs="12">
                                    <p:outputLabel value="عنوان" for="name" />
                                </bnu:column>
                                <bnu:column col-lg="9" col-md="9" col-sm="8" col-xs="12">
                                    <p:inputText styleClass="form-control" id="name" value="#{categoryController.selected.name}" title="عنوان" required="true" requiredMessage="عنوان دسته بندی را وارد کنید" />
                                </bnu:column>
                            </bnu:row> 
                        </bnu:column>  
                        <bnu:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
                            <bnu:row>
                                <bnu:column col-lg="3" col-md="3" col-sm="4" col-xs="12">
                                    <p:outputLabel value="دسته بندی والد" for="parrent" />
                                </bnu:column>
                                <bnu:column col-lg="9" col-md="9" col-sm="8" col-xs="12">
                                    <h:selectOneMenu styleClass="form-control" style="width:100%" id="parrent" value="#{categoryController.selected.parrent}" >
                                        <f:selectItem itemLabel="دسته بندی اصلی" itemValue="" />
                                        <f:selectItems value="#{categoryController.itemsAvailableSelectOne}"
                                                       var="parrentItem"
                                                       itemValue="#{parrentItem}"/>
                                    </h:selectOneMenu>
                                </bnu:column>
                            </bnu:row> 
                        </bnu:column>  
                        <bnu:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
                            <bnu:row>
                                <bnu:column col-lg="3" col-md="3" col-sm="4" col-xs="12">
                                    <p:outputLabel value="رنگ زمینه" for="color" />
                                </bnu:column>
                                <bnu:column col-lg="9" col-md="9" col-sm="8" col-xs="12">
                                    <p:colorPicker  id='color' value="#{categoryController.selected.color}" required="true" requiredMessage="لطفا رنگ زمینه دسته بندی را انتخاب کنید." />
                                </bnu:column>
                            </bnu:row> 
                        </bnu:column> 

                        </bnu:row>
                    <p:commandLink styleClass="btn btn-info" actionListener="#{categoryController.update}" value="#{bundle.Save}" update="display,:CategoryListForm,:growl" oncomplete="handleSubmitModal(args,'editModal');"/>
                    <p:commandLink styleClass="btn btn-danger" type="button" value="#{bundle.Cancel}" onclick="$('editModal').modal('hide')"/>
                </h:panelGroup>
            </h:form>
        </bnu:modal>

    </ui:composition>
</html>
