<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o='http://omnifaces.org/ui'
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>
        <h:form id="CategoryListForm">
            <p:dataTable value="#{categoryController.items}" var="item">
                <f:facet name="header">
                    <bnu:row>
                        <bnu:column colLg="6" colMd="6" colSm="6" colXs="6">
                            <h4 class="title">
                                دسته بندی ها
                            </h4>
                        </bnu:column>
                        <bnu:column style="text-align: left" colLg="6" colMd="6" colSm="6" colXs="6">
                            <p:commandLink styleClass="btn btn-primary" actionListener="#{categoryController.prepareCreate()}" update=":CategoryCreateForm" oncomplete="$('.createModal').modal()">
                                <span class="fa fa-plus"></span> #{bundle.Create}
                            </p:commandLink>
                            <p:commandLink styleClass="btn btn-info" actionListener="#{productController.setPage('product/List')}" update=":empanel">
                                <span class="fa fa-product-hunt"></span> محصولات
                            </p:commandLink>
                        </bnu:column>
                    </bnu:row>
                </f:facet>
                <p:column width="50">
                    <f:facet name="header">
                        <h:outputText value="ردیف"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="نام دسته بندی"/>
                    </f:facet>
                    <h:outputText value="#{item.name}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="دسته بندی والد"/>
                    </f:facet>
                    <h:outputText value="#{item.parrent.name}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#"/>
                    </f:facet>
                    <p:commandLink styleClass="btn btn-success" action="#{categoryController.setSelected(item)}"  update=":CategoryEditForm" oncomplete="$('.editModal').modal()" >
                        <span class="fa fa-edit"></span>
                        #{bundle.Edit}
                    </p:commandLink>
                    <p:commandLink style="margin-right: 5px" styleClass="btn btn-danger" action="#{categoryController.setSelected(item)}" update="@form" actionListener="#{categoryController.destroy}" >
                        <span class="fa fa-remove"></span>
                        #{bundle.Delete}
                        <p:confirm />
                    </p:commandLink>
                </p:column>
            </p:dataTable>
        </h:form>
        <ui:include src="Create.xhtml"/>
        <ui:include src="Edit.xhtml"/>
    </ui:composition>

</html>
