<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
    <ui:composition template="template.xhtml">
        <ui:define name="body">

            <p:growl id='growl' />
            <b:container fluid="true" style="padding-top: 15px">
                
                <b:row>
                    
                </b:row>
            </b:container>
        </ui:define>
    </ui:composition>
</html>
