<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title><ui:insert name="title">سامانه بازاریابی ریبوم ایران</ui:insert></title>
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>
        <h:outputStylesheet library="css" name="font-awesome.min.css"/>
        <style>
            .row{
                margin-top: 10px
            }
            body{
                overflow-x: hidden;
                direction: rtl;
                padding: 20px
            }
            .alert {
                padding: 15px;
                margin-bottom: 20px;
                border: 1px solid transparent;
                border-radius: 4px;
            }
            .alert-info {
                color: #31708f;
                background-color: #d9edf7;
                border-color: #bce8f1;
            }
            .alert-warning {
                color: #8a6d3b;
                background-color: #fcf8e3;
                border-color: #faebcc;
            }
            ul{
                list-style: none;padding-right: 0px
            }
            
        </style>
    </h:head>

    <h:body style="background: #fafafa">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-0">
                <div style="margin: 0 50px">
                    <h:graphicImage style="width: 100%" library="img" name="logo.png" />
                </div> 
                <h:form  style="border: solid 3px #e0e0e0;padding: 10px;border-radius: 5px;position: relative">
                    <div style="text-align: center;position: absolute;width: 100%;top:-30px">
                        <span style="border: 3px solid #e0e0e0;color:#e0e0e0;border-radius: 30px;padding: 5px 7px;background: #fafafa;" class="fa fa-3x fa-user-secret"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h:messages  globalOnly="true" errorClass="alert alert-warning" infoClass="alert alert-info" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <h:outputLabel value="نام کاربری" for="username" />
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">  
                            <h:inputText required="true" requiredMessage="نام کاربری را وارد کنید." styleClass="form-control" value="#{authController.username}" id="username" />
                            <h:message for="username" style="color:red" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <h:outputLabel value="رمز عبور" for="password" />
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <h:inputSecret required="true" requiredMessage="رمز عبور را وارد کنید." styleClass="form-control" value="#{authController.password}" id="password" />
                            <h:message for="username" style="color:red" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <h:commandLink value="ورود" styleClass="btn btn-primary btn-block" action="#{authController.login()}" >
                                <f:ajax execute="@form" render="@form" />
                            </h:commandLink>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>
    </h:body>
</html>
