<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title><ui:insert name="title">سامانه بازاریابی ریبوم ایران</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>     
    </h:head>

    <h:body style="background: #fafafa">
        <h:outputScript library="omnifaces" name="fixviewstate.js" />    
        <div class="leftSide close-nav" style="z-index: 999;">
            <div style="background: #b9565a;overflow: hidden;border-bottom: solid 2px #ccc;direction: ltr" >
                <table>
                    <tr>
                        <td style="width: 30px;text-align: center">
                            <i data-toggle="leftSide" class="toggler fa fa-bars fa-2x" />
                        </td>
                        <td>
                            <div>
                                <h:form id='headerNavbar'>
<!--                                    <a href="#{request.contextPath}/panel/user/profile.xhtml">
                                        <h:inputText style="display: none" id="firstname" value="#{userView.firstname}">
                                            <p:ajax event="keyup" update="out1" />
                                        </h:inputText>
                                        <h:outputText id="out1" value="#{userView.firstname}" />
                                        <b:thumbnail rendered="">
                                            <b:image style="width:50px" library="profile" name="" />
                                        </b:thumbnail>
                                        <b:thumbnail rendered="" >
                                            <b:image style="width:50px" library="profile" name="" />
                                        </b:thumbnail>
                                        <p style="margin-top: 30px;float: right;color:#fff">
                                            MrMostafa Hosseinzade<br/>
                                            Test@Test.test
                                        </p>
                                    </a>-->
                                </h:form>
                                <div class="clearfix"></div>
                            </div>

                        </td>

                    </tr>
                </table>
            </div>
            <div>
                <h:form>
                    <ul class="navlinks" >
                        <li>
                            <a class="#{view.viewId == '/marketing/marketing.xhtml'?'active':''}" href="#{request.contextPath}/marketing/marketing.xhtml"><i class="s-i fa fa-map fa-2x"/><span>بازاریابی</span>&nbsp;</a>
                        </li>
                        <li>
                            <a class="#{view.viewId == '/marketing/products.xhtml'?'active':''}" href="#{request.contextPath}/marketing/products.xhtml"><i class="s-i fa fa-product-hunt fa-2x"/><span>محصولات</span>&nbsp;</a>
                        </li>
                        <li>
                            <a class="#{view.viewId == '/inventory/inventory.xhtml'?'active':''}" href="#{request.contextPath}/inventory/inventory.xhtml"><i class="s-i fa fa-list-alt fa-2x"/><span>انبار</span>&nbsp;</a>
                        </li>
                        <li>
                            <a class="#{view.viewId == '/marketing/employee.xhtml'?'active':''}" href="#{request.contextPath}/marketing/employee.xhtml"><i class="s-i fa fa-users fa-2x"/><span>کارمندان</span>&nbsp;</a>
                        </li>
                        <li>
                            <a class="#{view.viewId == '/marketing/setting.xhtml'?'active':''}" href="#{request.contextPath}/marketing/setting.xhtml"><i class="s-i fa fa-gear fa-2x"/><span>تنظیمات</span>&nbsp;</a>
                        </li>
                        <li>
                            <h:commandLink action="#{authController.logout()}"><i class="fa fa-sign-out fa-2x s-i"/><span>خروج</span>&nbsp;</h:commandLink>
                        </li>
                    </ul>
                </h:form>

            </div>
        </div>
        <div style="height: 100vh;margin-right: 50px">
            <ui:insert name="body" />
        </div>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:body>

</html>
