<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CityCreateDlg" widgetVar="CityCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="افزودن شهر">
            <h:form id="CityCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{provinceController.citySelected != null}">
                        <p:outputLabel value="نام شهر" for="name" />
                        <p:inputText id="name" value="#{provinceController.citySelected.name}" title="نام شهر" required="true" requiredMessage="نام شهر را وارد کنید" />
                    </p:panelGrid>
                    <p:commandLink styleClass="btn btn-info" actionListener="#{provinceController.createCity()}" value="#{bundle.Save}" update="display,:ProvinceListForm:datalistCity,:growl" oncomplete="handleSubmit(args,'CityCreateDialog');"/>
                    <p:commandLink styleClass="btn btn-danger" type="button" value="#{bundle.Cancel}" onclick="PF('CityCreateDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
