<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o='http://omnifaces.org/ui'
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition>
        <bnu:modal closable="true" closeOnEscape="true" styleClass="imageModal">
            <h:panelGroup id='imageFromAdd'>
                <bnu:row rendered="#{productController.selected!=null}">
                    <bnu:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
                        <h:form  enctype="multipart/form-data">
                            <div class="upload-button">
                                <div class="bg-button">
                                    <span class="fa fa-upload fa-4x"></span>
                                </div>
                                <o:inputFile id='image' accept="image/*" value="#{productController.file}" >
                                    <f:ajax execute="@form" onevent="showProgress"  render=":imageForm:cropper" listener="#{productController.uploadImage()}" />
                                </o:inputFile>
                                <h:message for="image" />
                                <div class="imageLoading">
                                    <span class="fa fa-spinner fa-pulse fa-4x fa-fw"></span>
                                </div>
                            </div>
                        </h:form>
                    </bnu:column>
                    <bnu:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
                        <h:form id='imageForm'>
                            <h:panelGroup >
                                <div class='file-shower' style="text-align: center;height: 250px">
                                    <h:panelGroup id='cropper'>
                                        <bnu:thumbnail >
                                            <p:imageCropper boxWidth="500" rendered="#{not empty productController.temp}" value="#{productController.cropper}" image="/resources/temp/#{productController.temp.name}" aspectRatio="1.33" initialCoords="0,0,300,225" />
                                            <h:panelGroup rendered="#{empty productController.temp}">
                                                <h1 class="empty"  style="height: 250px;line-height: 250px">
                                                    عکسی بار گزاری نشده.
                                                </h1>
                                            </h:panelGroup>
                                        </bnu:thumbnail>
                                    </h:panelGroup>
                                </div>
                            </h:panelGroup>
                            <p:commandLink styleClass="btn btn-info" actionListener="#{productController.saveImage}" value="#{bundle.Save}"  update=":imageList,:growl,@form" />
                        </h:form>
                    </bnu:column>
                    <bnu:column id="imageList"  rendered="#{productController.selected!=null}" col-lg="12" col-md="12" col-sm="12" col-xs="12">
                        <div style="overflow-x: auto;height: auto!important;margin-top: 3px" class="file-shower">
                            <h:form>
                                <table>
                                    <tr>
                                        <ui:repeat value="#{productController.selected.imgs}" var="img" >
                                            <td>
                                                <bnu:thumbnail  style="width:200px;position: relative">
                                                    <p:graphicImage cache="true" value="/images/thumb/#{img}" />
                                                    <p:commandLink style="position: absolute;top:0;left:0" styleClass="btn btn-danger" update="@form" action="#{productController.removeImage(img)}">
                                                        <span class="fa fa-remove"  />
                                                    </p:commandLink>
                                                </bnu:thumbnail>
                                            </td>
                                        </ui:repeat>
                                    </tr>
                                </table>
                            </h:form>
                            <h:panelGroup rendered="#{empty productController.selected.imgs}">
                                <h1 class="empty" style="height: 150px;line-height: 150px">
                                    عکسی بار گزاری نشده.
                                </h1>
                            </h:panelGroup>
                        </div>
                    </bnu:column>
                </bnu:row> 
            </h:panelGroup>
        </bnu:modal>
    </ui:composition>
</html>
