<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui">

    <ui:composition>   
        <style>
            .default{
                background: #fff;
                color:#000
            }
        </style>
        <p:dataTable editable="true" editMode="cell" rowStatePreserved="true" rowStyleClass="#{item.inventory lt 0?'alert-danger':(item.inventory==0?'alert-warning':(item.inventory lt 10?'alert-info':'default'))}" reflow="true" emptyMessage="محصولی درج نشده است."  widgetVar="datatable" value="#{productController.items}" var="item">
            <f:facet name="header" >
                <bnu:row>
                    <bnu:column colLg="4" colMd="4" colSm="4" colXs="12">
                        <h4 class="title">
                            محصولات
                        </h4>
                    </bnu:column>
                    <bnu:column colLg="4" colMd="4" colSm="4" colXs="12">
                        <table style="text-align: center">
                            <tr>
                                <td class="alert-danger">موجودی منفی</td>
                                <td class="alert-warning">موجودی صفر</td>
                                <td class="alert-info">محدوده هشدار</td>
                                <td class="default">موجود</td>
                            </tr>
                        </table>
                    </bnu:column>
                    <bnu:column style="text-align: left" colLg="4" colMd="4" colSm="4" colXs="12">
                        <p:commandLink styleClass="btn btn-primary" title="#{bundle.Edit}" action="#{productController.prepareCreate()}" update=":ProductCreateForm" oncomplete="$('.addModal').modal()">
                            <span class="fa fa-plus"></span> افزودن
                        </p:commandLink>
                        <p:commandLink styleClass="btn btn-info" actionListener="#{productController.setPage('category/List')}" update=":empanel">
                            <span class="fa fa-list"></span> دسته بندی ها
                        </p:commandLink>
                    </bnu:column>
                </bnu:row>
            </f:facet>
            <p:ajax event="cellEdit" listener="#{productController.onCellEdit}" update=":growl" />
            <p:column filterBy="#{item.partnumber}" sortBy="#{item.partnumber}">
                <f:facet name="header">
                    <h:outputText value="کد محصول"/>
                </f:facet>
                <h:outputText value="#{item.partnumber}"/>
            </p:column>
            <p:column filterBy="#{item.name}" sortBy="#{item.name}">
                <f:facet name="header">
                    <h:outputText value="نام مجصول"/>
                </f:facet>
                <h:outputText value="#{item.name}"/>
            </p:column>
            <p:column headerText="بها (تومان)">
                <h:outputText style="display: inline-block;direction: ltr;text-align: left;font-family: 'B Yekan'" value="#{item.price}">
                    <f:convertNumber integerOnly="true" maxFractionDigits="0" />
                </h:outputText>
            </p:column> 
            <p:column filterFunction="#{productController.filterByInventory}" filterBy="#{item.inventory}" filterOptions="#{productController.inventoryFilter}" >
                <f:facet name="header">
                    <h:outputText value="موجودی"/>
                </f:facet>
                <h:outputText style="display: inline-block;direction: ltr;text-align: left;font-family: 'B Yekan'" value="#{item.inventory}">
                    <f:convertNumber integerOnly="true" maxFractionDigits="0" />
                </h:outputText>
            </p:column> 
            <p:column filterOptions="#{categoryController.selectitemsCategories}"  filterBy="#{item.category}" >
                <f:facet name="header">
                    <h:outputText value="دسته بندی"/>
                </f:facet>
                <h:outputText value="#{item.category.name}"/>
            </p:column>
            <p:column headerText="فعالیت">
                <p:commandLink styleClass="btn btn-info btn-xs" title="#{bundle.Edit}" action="#{productController.setSelected(item)}" update=":ProductEditForm" oncomplete="$('.editModal').modal()">
                    <span class="fa fa-pencil-square-o"></span>
                </p:commandLink>
                <p:commandLink style="color:#000!important" styleClass="btn btn-primary  btn-xs"  title="بارکد" actionListener="#{productController.setSelected(item)}" action="#{productController.setPage('product/Barcode')}" update=":empanel" >
                    <span class="fa fa-barcode"></span>
                </p:commandLink>
                <p:commandLink styleClass="btn btn-danger btn-xs" title="#{bundle.Delete}" actionListener="#{productController.setSelected(item)}" update=":growl , @form" action="#{productController.destroy}" >
                    <p:confirm message="آیا از حذف اطمینان دارید؟" />
                    <span class="fa fa-trash"></span>
                </p:commandLink>
            </p:column>
        </p:dataTable>
    </ui:composition>
</html>
