<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>
        <div style="position: relative;height: 100vh;">
            <h:form id="ProductListForm">
                <script src="#{request.contextPath}/resources/ckeditor/ckeditor.js" type="text/javascript"></script>
                <style>
                    .category_link{
                        width:80px;margin:5px 2.5px;display:inline-block;height:40px;border-radius:4px;float:right
                    }
                    .category_link:hover{
                        border: 2px blue dotted;
                    }
                    .image_product{
                        text-align: center;
                        position: relative;
                        display: inline-block;
                        width: 100%
                    }
                    .image_product .label{
                        position: absolute;width: 100%;background: rgba(0,0,0,0.5);color: #fff;bottom:0;left:0;padding: 5px               }
                    .ui-autocomplete-panel{
                        z-index: 2001!important
                    }
                    .mymodal{
                        position: absolute;width:100%;height: 100%;display: none;top:0;left:0;overflow-y: auto
                    }
                </style>
                <bnu:row styleClass="ui-widget-header" style="padding-bottom: 3px">
                    <bnu:column colLg="6" colMd="6" colSm="6" colXs="6">
                        <h4 class="title">
                            محصولات
                        </h4>
                    </bnu:column>
                    <bnu:column style="text-align: left" colLg="6" colMd="6" colSm="6" colXs="6">
                        <p:commandLink styleClass="btn btn-info" actionListener="#{productController.setPage('category/List')}" update=":empanel">
                            <span class="fa fa-list"></span> دسته بندی ها
                        </p:commandLink>
                    </bnu:column>
                </bnu:row>
                <bnu:row>
                    <bnu:column colLg="12" colMd="12" colSm="12" colXs="12">
                        <ui:repeat value="#{categoryController.items}" var="ctg">
                            <p:commandLink update=":ProductListForm:datalist" action="#{productController.setCategorySelected(ctg)}"  styleClass="category_link" style="background: ##{empty ctg.color?'ccc':ctg.color};">
                                <h:graphicImage style="width:80px" rendered="#{not empty ctg.image}" value="/images/thumb/#{ctg.image}" />
                                <h:outputText style="width:80px;display:inline-block;height:40px;line-height: 60px;padding: 0 5px" rendered="#{empty ctg.image}" value="#{ctg.name}" />
                            </p:commandLink>
                        </ui:repeat>
                    </bnu:column>
                </bnu:row>
                <script>
                    $(function () {
                        var div = $('.thumbnail');
                        var width = div.width();
                        $('.image_product').css('height', width * 0.75).css('width', width);
                        $(window).resize(function () {

                            var div = $('.thumbnail');
                            var width = div.width();
                            $('.image_product').css('height', width * 0.75).css('width', width);
                        })
                    });
                </script>
                <p:dataGrid emptyMessage="محصولی درج نشده است." layout="grid" columns="4" id="datalist" value="#{productController.items}" var="item" >

                    <f:facet name="header">#{productController.categorySelected.name}</f:facet>
                    <bnu:thumbnail>
                        <div class="image_product" style="border: 2px solid ##{item.category.color};">
                            <p:commandLink update=":ProductViewForm" actionListener="#{productController.setSelected(item)}" oncomplete="$('.mymodal').show()">
                                <h:panelGroup  rendered="#{empty item.imgs}" style="font-size: 100px;color:##{item.category.color}" styleClass="fa fa-product-hunt" />
                                <h:graphicImage style="width: 100%" rendered="#{not empty item.imgs}" value="/images/thumb/#{item.imgs.get('0')}" />
                            </p:commandLink>
                            <div class="label">
                                <bnu:row>
                                    <bnu:column colLg="4" colMd="12" colSm="12" colXs="12" style="font-size: medium">#{item.name}</bnu:column>
                                    <bnu:column colLg="8" colMd="12" colSm="12" colXs="12" style="text-align: left">
                                        <p:commandLink styleClass="btn btn-success btn-xs"  oncomplete="$('.imageModal').modal();" update=":imageFromAdd" title="تصاویر" actionListener="#{productController.setSelected(item)}" >
                                            <span class="fa fa-image"></span>
                                        </p:commandLink>
                                        <p:commandLink styleClass="btn btn-primary btn-xs" update=":descForm"  oncomplete="$('.description').modal();return false;" title="توضیحات" actionListener="#{productController.setSelected(item)}" >
                                            <span class="fa fa-file-text-o"></span>
                                        </p:commandLink>
                                        <p:commandLink title="ویذیو و کاتالوگ" update=":videoForm" style="margin-left: 5px" styleClass="btn btn-warning  btn-xs"  actionListener="#{productController.setSelected(item)}" oncomplete="$('.modalPseudoClass').modal();" >
                                            <span class="fa fa-video-camera"></span>
                                        </p:commandLink>
                                        <p:commandLink style="color:#555!important" update=":featuresForm" styleClass="btn btn-default btn-xs" oncomplete="$('.features').modal();return false;" title="ویژگی محصول" actionListener="#{productController.setSelected(item)}" >
                                            <span class="fa fa-tags"></span>
                                        </p:commandLink>
                                    </bnu:column>
                                </bnu:row>
                            </div>
                        </div>
                    </bnu:thumbnail>
                </p:dataGrid >
            </h:form>
            <bnu:modal closable="true" size="modal-lg" styleClass="description" closeOnEscape="true">
                <h:form id="descForm" >
                    <bnu:row rendered="#{productController.selected!=null}">
                        <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                            <h:inputTextarea style="height:450px" binding="#{textarea}"  value="#{productController.selected.description}" rendered="true" requiredMessage="توضیحات را وارد کنید." />
                            <script>
                                CKEDITOR.replace('#{textarea.clientId}');
                                CKEDITOR.instances['#{textarea.clientId}'].on('change', function () {
                                    CKEDITOR.instances['#{textarea.clientId}'].updateElement();
                                });
                            </script>
                        </bnu:column>
                        <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                            <p:commandLink   oncomplete="handleSubmitModal(args,'description');" styleClass="btn btn-info" update="@form :growl" title="ذخیره" actionListener="#{productController.update()}" >
                                <span class="fa fa-save"></span>
                                ذخیره
                            </p:commandLink>
                            <p:commandLink styleClass="btn btn-danger" type="button" title="#{bundle.Cancel}" onclick="handleSubmitModal(args, 'description');"> 
                                <span class="fa fa-remove"></span>
                                #{bundle.Cancel}
                            </p:commandLink>
                        </bnu:column>
                    </bnu:row>
                </h:form>
            </bnu:modal>
            <bnu:modal closable="true" size="modal-lg" styleClass="features" closeOnEscape="true">
                <h:form id="featuresForm" >
                    <bnu:row rendered="#{productController.selected!=null}">
                        <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                            <h:outputLabel value="ویژگی" for="key" />
                            <p:autoComplete rendered="true" panelStyle="z-index:2001" requiredMessage="ویژگی مورد نظر را وارد کنید"  style="padding: 0" styleClass="form-control" value="#{productController.selected.tempFeature.key}" cache="true" completeMethod="#{productController.autoComplateSuggestion}" inputStyleClass="form-control" id='key' />
                            <h:message for="key" />
                            <h:outputLabel value="مقدار" for="value" />
                            <p:inputText required="true" requiredMessage="مقدار ویژگی را وارد کنید" value="#{productController.selected.tempFeature.value}"  styleClass="form-control" id='value' />
                            <h:message for="value" />
                        </bnu:column>
                        <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                            <p:commandLink style="margin: 10px 0" action="#{productController.reinitFeature()}" styleClass="btn btn-info" update="@form :growl" title="افزودن" >
                                <span class="fa fa-save"></span>
                                <p:collector value="#{productController.selected.tempFeature}" addTo="#{productController.selected.features}" unique="true" />
                                ذخیره
                            </p:commandLink>
                        </bnu:column>
                        <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                            <p:dataTable paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="5"
                                         value="#{productController.selected.features}" var="feature" >
                                <p:column headerText="ویژگی">
                                    <h:outputText value="#{feature.key}" />
                                </p:column>
                                <p:column headerText="مقدار">
                                    <h:outputText value="#{feature.value}" />
                                </p:column>
                                <p:column>
                                    <p:commandLink partialSubmit="true" process="@this" update="@form" action="#{productController.removeFeature}">
                                        <span style="color:red" class="fa fa-remove" />
                                        <p:collector unique="true" value="#{feature}" removeFrom="#{productController.selected.features}" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </bnu:column>
                    </bnu:row>
                </h:form>
            </bnu:modal>
            <bnu:modal closable="true" styleClass="modalPseudoClass" closeOnEscape="true">
                <h:form id="videoForm" enctype="multipart/form-data">
                    <bnu:row rendered="#{productController.selected!=null}">
                        <bnu:column col-lg="12" col-md="12" col-sm="12"  col-xs="12" >
                            <div class="upload-button">
                                <p:fileUpload update="@form" accept="video/webm, video/mp4, image/jpg, image/png, application/pdf" required="true" requiredMessage="" dragDropSupport="true" auto="true" cancelLabel="انصراف"
                                              allowTypes="/(\.|\/)(mp4|webm|pdf|jpe?g|png)$/" fileUploadListener="#{productController.fileUploadListener}" invalidFileMessage="نوع فایل انتخاب شده معتبر نیست" label="انتخاب ویدیو یا کاتالوگ" oncomplete="videos" />
                                <h:message for="fileImage" />
                            </div>
                        </bnu:column>
                        <bnu:column id="videos" col-lg="12" col-md="12" col-sm="12" col-xs="12" >
                            <div class='file-shower' >
                                <bnu:tabView>
                                    <bnu:tab title="ویدیو" rendered="#{not empty productController.selected.videoMp4 or not empty productController.selected.videoWebm}" >
                                        <video controls='true' style='width: 100%' >
                                            <c:if test="#{not empty productController.selected.videoMp4}" ><source src="#{request.contextPath}/images/videos/#{productController.selected.videoMp4}" type="video/mp4" /></c:if>
                                            <c:if test="#{not empty productController.selected.videoWebm}" ><source src="#{request.contextPath}/images/videos/#{productController.selected.videoWebm}" type="video/webm" /></c:if>
                                            <p>ویدیویی را درج نشده است.</p>
                                        </video>
                                    </bnu:tab>
                                    <bnu:tab rendered="#{not empty productController.selected.catalog}" title="کاتالوگ" >
                                        <div style="text-align: center;margin: 20px" >
                                            <p:link href="/images/videos/#{productController.selected.catalog}" target="_blank" >دانلود کاتالوگ <span class='fa fa-download'/></p:link>
                                        </div>
                                    </bnu:tab>
                                </bnu:tabView>

                            </div>
                        </bnu:column>
                    </bnu:row>
                </h:form>
            </bnu:modal>
            <ui:include src="Image.xhtml"/>
            <ui:include src="View.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="Create.xhtml"/>
        </div>
        <script>
            $.ajaxPrefilter(function (options, original_Options, jqXHR) {
                options.async = true;
            });
            function showProgress(data) {
                switch (data.status) {
                    case "begin": // This is called right before ajax request is been sent.
                        $('.imageLoading').show();
                        break;

                    case "complete": // This is called right after ajax response is received.
                        $('.imageLoading').hide();
                        break;

                    case "success": // This is called when ajax response is successfully processed.

                        break;
                }
            }
        </script>
    </ui:composition>

</html>
