<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>
        <div class="mymodal">
            <h:form id="ProductViewForm">
                <h:panelGroup rendered="#{productController.selected != null}">
                    <b:row styleClass="ui-widget-header" style="padding-bottom: 3px">
                        <b:column colLg="6" colMd="6" colSm="6" colXs="6">
                            <h4 class="title">
                                <h:outputText value="#{productController.selected.name}" />
                            </h4>
                        </b:column>
                        <b:column style="text-align: left" colLg="6" colMd="6" colSm="6" colXs="6">
                            <p:commandLink styleClass="btn btn-info" onclick="$('.mymodal').hide()">
                                <span class="fa fa-arrow-left"></span> بازگشت
                            </p:commandLink>
                        </b:column>
                    </b:row>
                    <b:container style="margin-top: 10px">
                        <b:row>
                            <b:column style="margin-bottom: 10px" col-lg="6" col-md="6" col-sm="6" col-xs="12"> 
                                <b:thumbnail>
                                    <b:carousel  activeIndex="0" >
                                        <c:forEach items="#{productController.selected.imgs}" var="image">
                                            <b:carouselItem >
                                                <h:graphicImage width="100%" height="auto" value="/images/#{image}" />
                                            </b:carouselItem>
                                        </c:forEach>
                                    </b:carousel>
                                </b:thumbnail>
                            </b:column>
                            <b:column  col-lg="6" col-md="6" col-sm="6" col-xs="12">
                                <b:tabView>
                                    <b:tab title="مشخصات">
                                        <p:panelGrid columns="2">
                                            <h:outputText value="نام"/>
                                            <h:outputText value="#{productController.selected.name}" />
                                            <h:outputText value="پروانه بهداشت"/>
                                            <h:outputText value="#{productController.selected.licenseNumber}" />
                                            <h:outputText value="توضیحات"/>
                                            <h:outputText value="#{productController.selected.meta}" />
                                            <c:forEach items="#{productController.selected.features}" var="feature" >
                                                <h:outputText value="#{feature.key}"/>
                                                <h:outputText value="#{feature.value}" />
                                            </c:forEach>
                                        </p:panelGrid>
                                    </b:tab>
                                    <b:tab rendered="#{not empty productController.selected.videoMp4 or not empty productController.selected.videoWebm}" title="ویذیو">
                                        <video controls='true' style='width: 100%' >
                                            <c:if test="#{not empty productController.selected.videoMp4}" ><source src="#{request.contextPath}/images/videos/#{productController.selected.videoMp4}" type="video/mp4" /></c:if>
                                            <c:if test="#{not empty productController.selected.videoWebm}" ><source src="#{request.contextPath}/images/videos/#{productController.selected.videoWebm}" type="video/webm" /></c:if>
                                            <p>ویدیویی را درج نشده است.</p>
                                        </video>
                                    </b:tab>
                                    <b:tab title="توضیحات">
                                        <h:outputText escape="false" value="#{productController.selected.description}" />
                                    </b:tab>
                                </b:tabView>
                            </b:column>
                        </b:row>
                    </b:container>
                </h:panelGroup>
            </h:form>
        </div>
    </ui:composition>
</html>
