<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrderproductCreateDlg" widgetVar="OrderproductCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateOrderproductTitle}">
            <h:form id="OrderproductCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{orderproductController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateOrderproductLabel_id}" for="id" />
                        <p:inputText id="id" value="#{orderproductController.selected.id}" title="#{bundle.CreateOrderproductTitle_id}" required="true" requiredMessage="#{bundle.CreateOrderproductRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateOrderproductLabel_status}" for="status" />
                        <p:inputText id="status" value="#{orderproductController.selected.status}" title="#{bundle.CreateOrderproductTitle_status}" />
                        <p:outputLabel value="#{bundle.CreateOrderproductLabel_updateat}" for="updateat" />
                        <p:calendar id="updateat" pattern="MM/dd/yyyy HH:mm:ss" value="#{orderproductController.selected.updateat}" title="#{bundle.EditOrderproductTitle_updateat}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateOrderproductLabel_insertdate}" for="insertdate" />
                        <p:calendar id="insertdate" pattern="MM/dd/yyyy HH:mm:ss" value="#{orderproductController.selected.insertdate}" title="#{bundle.EditOrderproductTitle_insertdate}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateOrderproductLabel_deliverydate}" for="deliverydate" />
                        <p:calendar id="deliverydate" pattern="MM/dd/yyyy HH:mm:ss" value="#{orderproductController.selected.deliverydate}" title="#{bundle.EditOrderproductTitle_deliverydate}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateOrderproductLabel_discount}" for="discount" />
                        <p:inputText id="discount" value="#{orderproductController.selected.discount}" title="#{bundle.CreateOrderproductTitle_discount}" />
                        <p:outputLabel value="#{bundle.CreateOrderproductLabel_meta}" for="meta" />
                        <p:inputText id="meta" value="#{orderproductController.selected.meta}" title="#{bundle.CreateOrderproductTitle_meta}" />
                        <p:outputLabel value="#{bundle.CreateOrderproductLabel_deliverytype}" for="deliverytype" />
                        <p:inputText id="deliverytype" value="#{orderproductController.selected.deliverytype}" title="#{bundle.CreateOrderproductTitle_deliverytype}" />
                        <p:outputLabel value="#{bundle.CreateOrderproductLabel_paymenttype}" for="paymenttype" />
                        <p:inputText id="paymenttype" value="#{orderproductController.selected.paymenttype}" title="#{bundle.CreateOrderproductTitle_paymenttype}" />
                        <p:outputLabel value="#{bundle.CreateOrderproductLabel_employee}" for="employee" />
                        <p:selectOneMenu id="employee" value="#{orderproductController.selected.employee}" >
                            <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"
                                           var="employeeItem"
                                           itemValue="#{employeeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateOrderproductLabel_marketplace}" for="marketplace" />
                        <p:selectOneMenu id="marketplace" value="#{orderproductController.selected.marketplace}" >
                            <f:selectItems value="#{marketplaceController.itemsAvailableSelectOne}"
                                           var="marketplaceItem"
                                           itemValue="#{marketplaceItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{orderproductController.create}" value="#{bundle.Save}" update="display,:OrderproductListForm:datalist,:growl" oncomplete="handleSubmit(args,'OrderproductCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="OrderproductCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
