<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListOrderproductTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="OrderproductListForm">
                <p:panel header="#{bundle.ListOrderproductTitle}">
                    <p:dataTable id="datalist" value="#{orderproductController.items}" var="item"
                                 selectionMode="single" selection="#{orderproductController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderproductTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderproductTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderproductTitle_updateat}"/>
                            </f:facet>
                            <h:outputText value="#{item.updateat}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderproductTitle_insertdate}"/>
                            </f:facet>
                            <h:outputText value="#{item.insertdate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderproductTitle_deliverydate}"/>
                            </f:facet>
                            <h:outputText value="#{item.deliverydate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderproductTitle_discount}"/>
                            </f:facet>
                            <h:outputText value="#{item.discount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderproductTitle_meta}"/>
                            </f:facet>
                            <h:outputText value="#{item.meta}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderproductTitle_deliverytype}"/>
                            </f:facet>
                            <h:outputText value="#{item.deliverytype}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderproductTitle_paymenttype}"/>
                            </f:facet>
                            <h:outputText value="#{item.paymenttype}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderproductTitle_employee}"/>
                            </f:facet>
                            <h:outputText value="#{item.employee}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderproductTitle_marketplace}"/>
                            </f:facet>
                            <h:outputText value="#{item.marketplace}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{orderproductController.prepareCreate}" update=":OrderproductCreateForm" oncomplete="PF('OrderproductCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":OrderproductViewForm" oncomplete="PF('OrderproductViewDialog').show()" disabled="#{empty orderproductController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":OrderproductEditForm" oncomplete="PF('OrderproductEditDialog').show()" disabled="#{empty orderproductController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{orderproductController.destroy}" update=":growl,datalist" disabled="#{empty orderproductController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
