<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrderproductViewDlg" widgetVar="OrderproductViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewOrderproductTitle}">
            <h:form id="OrderproductViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{orderproductController.selected != null}">
                        <h:outputText value="#{bundle.ViewOrderproductLabel_id}"/>
                        <h:outputText value="#{orderproductController.selected.id}" title="#{bundle.ViewOrderproductTitle_id}"/>
                        <h:outputText value="#{bundle.ViewOrderproductLabel_status}"/>
                        <h:outputText value="#{orderproductController.selected.status}" title="#{bundle.ViewOrderproductTitle_status}"/>
                        <h:outputText value="#{bundle.ViewOrderproductLabel_updateat}"/>
                        <h:outputText value="#{orderproductController.selected.updateat}" title="#{bundle.ViewOrderproductTitle_updateat}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewOrderproductLabel_insertdate}"/>
                        <h:outputText value="#{orderproductController.selected.insertdate}" title="#{bundle.ViewOrderproductTitle_insertdate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewOrderproductLabel_deliverydate}"/>
                        <h:outputText value="#{orderproductController.selected.deliverydate}" title="#{bundle.ViewOrderproductTitle_deliverydate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewOrderproductLabel_discount}"/>
                        <h:outputText value="#{orderproductController.selected.discount}" title="#{bundle.ViewOrderproductTitle_discount}"/>
                        <h:outputText value="#{bundle.ViewOrderproductLabel_meta}"/>
                        <h:outputText value="#{orderproductController.selected.meta}" title="#{bundle.ViewOrderproductTitle_meta}"/>
                        <h:outputText value="#{bundle.ViewOrderproductLabel_deliverytype}"/>
                        <h:outputText value="#{orderproductController.selected.deliverytype}" title="#{bundle.ViewOrderproductTitle_deliverytype}"/>
                        <h:outputText value="#{bundle.ViewOrderproductLabel_paymenttype}"/>
                        <h:outputText value="#{orderproductController.selected.paymenttype}" title="#{bundle.ViewOrderproductTitle_paymenttype}"/>
                        <h:outputText value="#{bundle.ViewOrderproductLabel_employee}"/>
                        <h:outputText value="#{orderproductController.selected.employee}" title="#{bundle.ViewOrderproductTitle_employee}"/>
                        <h:outputText value="#{bundle.ViewOrderproductLabel_marketplace}"/>
                        <h:outputText value="#{orderproductController.selected.marketplace}" title="#{bundle.ViewOrderproductTitle_marketplace}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="OrderproductViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
