<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <ui:composition >
        <fieldset style="margin-top: 30px">
            <legend>اطلاعات اولیه</legend>
            <div class="row">
                <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h:outputLabel value="نشانی" />
                    <h:inputText  styleClass="form-control" binding="#{address}" id="address" value="#{marketingController.marketSelected.address}" />
                </div>
                <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h:inputHidden binding="#{lat}" id="lat" value="#{marketingController.marketSelected.latitude}" />
                    <h:inputHidden binding="#{lng}" id="lng" value="#{marketingController.marketSelected.longitude}" />
                    <h:inputHidden binding="#{province}" id="province" value="#{marketingController.marketSelected.province}" />
                    <h:inputHidden binding="#{city}" id="city" value="#{marketingController.marketSelected.city}" />
                    <h:outputLabel value="اولویت" />
                    <h:selectOneMenu id="priorty"  styleClass="form-control" value="#{marketingController.marketSelected.priorty}">
                        <f:selectItem itemLabel="متوسط" itemValue="#{1}"/>
                        <f:selectItem itemLabel="پایین" itemValue="#{0}"/>
                        <f:selectItem itemLabel="بالا" itemValue="#{2}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="نوع بازار" />
                    <h:selectOneMenu disabled="#{marketingController.marketSelected.id!=null}" styleClass="form-control" value="#{marketingController.marketSelected.markrttype}">
                        <o:skipValidators />
                        <f:ajax execute="@this lat lng address province city priorty" render="formsection" listener="#{marketingController.changeMarketType()}" />
                        <f:selectItem itemLabel="انتخاب کنید ..."/>
                        <f:selectItems value="#{marketingController.marketTypes}" var="item" itemLabel="#{item.name}" itemValue="#{item}" />
                    </h:selectOneMenu>
                </div>
            </div>
            <h:panelGroup id="baseattr" rendered="#{marketingController.marketSelected.markrttype!=null}">
                <div class="row">
                    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h:outputLabel for="name" value="نام مکان" />
                        <h:inputText  id="name"  styleClass="form-control" value="#{marketingController.marketSelected.name}" required="true" requiredMessage="نام مکان تجاری را وارد کنید" />
                        <h:message for="name" />
                    </div>
                    <ui:repeat varStatus="l" value="#{marketingController.marketSelected.baseAttr}" var="base">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h:outputText value="#{marketingController.baseAttr[l.index].feature}" />
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        <h:panelGroup binding="#{inputAttrList}" id="inputAttrList">
                                            <ui:repeat varStatus="in" value="#{marketingController.baseAttr[l.index].valueList}" var="val">
                                                <div class="inputAttr">
                                                    <h:inputText rendered="#{base.datatype==0 or base.datatype==1}" a:type="#{base.datatype==1?'number':'text'}" required="#{base.required}" id="inputField" requiredMessage=" لطفا این مقدار را تکمیل کنید!" a:placeholder="#{marketingController.baseAttr[l.index].feature}"  style="margin-bottom: 5px" styleClass="form-control" value="#{marketingController.baseAttr[l.index].valueList[in.index]}" />
                                                    <h:message  rendered="#{base.datatype==0 or base.datatype==1}" style="color:red" for="inputField" />

                                                    <h:selectOneRadio   rendered="#{base.datatype==2}" id="inputField2" required="#{base.required}"  requiredMessage=" لطفا این مقدار را تکمیل کنید!"  style="margin-bottom: 5px" styleClass="form-control" value="#{marketingController.baseAttr[l.index].valueList[in.index]}">
                                                        <f:selectItem itemValue="بله" itemLabel="بله" />
                                                        <f:selectItem itemValue="خیر"  itemLabel="خیر" />
                                                    </h:selectOneRadio>
                                                    <h:message  rendered="#{base.datatype==2}" style="color:red" for="inputField2" />

                                                    <h:selectOneMenu  rendered="#{base.datatype==3}" id="inputField3" required="#{base.required}"  requiredMessage=" لطفا این مقدار را تکمیل کنید!"  style="margin-bottom: 5px" styleClass="form-control" value="#{marketingController.baseAttr[l.index].valueList[in.index]}">
                                                        <f:selectItem itemLabel="انتخاب کنید..." />
                                                        <f:selectItems value="#{base.getSelectItems()}" var="s" itemValue="#{s}" />
                                                    </h:selectOneMenu>
                                                    <h:message  rendered="#{base.datatype==3}" style="color:red" for="inputField3" />

                                                    <h:inputTextarea rendered="#{base.datatype==4}"  required="#{base.required}" id="inputField4" requiredMessage=" لطفا این مقدار را تکمیل کنید!" a:placeholder="#{marketingController.baseAttr[l.index].feature}"  style="margin-bottom: 5px" styleClass="form-control" value="#{marketingController.baseAttr[l.index].valueList[in.index]}" ></h:inputTextarea>
                                                    <h:message  rendered="#{base.datatype==4}" style="color:red" for="inputField4" />

                                                    <h:commandLink rendered="#{marketingController.baseAttr[l.index].valueList.size() gt 1}" action="#{marketingController.removeAttr(1,l.index,in.index)}">
                                                        <i class="fa fa-remove" />
                                                        <f:ajax execute="@this #{inputAttrList.clientId}" render="#{inputAttrList.clientId}" />
                                                        <o:skipValidators />
                                                    </h:commandLink>
                                                </div>
                                            </ui:repeat>
                                        </h:panelGroup>
                                    </td>
                                    <td style="width:45px;padding-right: 5px">
                                        <h:commandLink rendered="#{base.multiple}" styleClass="btn btn-primary" action="#{marketingController.plusAtr(1,l.index)}" >
                                            <i class="fa fa-plus" />
                                            <o:skipValidators />
                                            <f:ajax execute="@this #{inputAttrList.clientId}" render="#{inputAttrList.clientId}" />
                                        </h:commandLink>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </ui:repeat>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;margin-top: 10px">
                        <h:commandLink style="margin-left: 10px" onclick="cancelForm();return false;"  styleClass="btn btn-danger btn-1g" value="انصراف"  >
                            <span class="fa fa-remove" hidden-area="true" />
                        </h:commandLink>
                        <h:commandLink  style="margin-left: 10px" rendered="#{marketingController.marketSelected.id!=null}" styleClass="btn btn-primary btn-1g" value=" ثبت اطلاعات"  action="#{marketingController.submit()}" >
                            <f:ajax execute="@form" render="formsection" />
                            <span class="fa fa-save" hidden-area="true" />
                        </h:commandLink>
                        <h:commandLink styleClass="btn btn-success btn-1g" value="اطلاعات مکان"  action="#{marketingController.setPage('places')}" >
                            <f:ajax execute="@form" render="formsection" />
                            <span class="fa fa-arrow-left" hidden-area="true" />
                        </h:commandLink>
                    </div>
                </div>
            </h:panelGroup>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                    <h:commandButton id='close' rendered="#{marketingController.marketSelected.markrttype==null}" type="button" style="margin-top: 10px" onclick="cancelForm()" styleClass="btn btn-warnning btn-1g" value="انصراف"  >
                    </h:commandButton>
                </div>
            </div>
        </fieldset>
    </ui:composition>
</html>
