<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <ui:composition >
        <fieldset style="margin-top: 30px">
            <legend>اطلاعات مکان</legend>
            <h:panelGroup id="baseattr" rendered="#{marketingController.marketSelected!=null}">
                <div class="row">
                    <ui:repeat varStatus="l" value="#{marketingController.marketSelected.placesAttr}" var="base">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h:outputText value="#{marketingController.placesAttr[l.index].feature}" />
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        <h:panelGroup binding="#{inputAttrList1}" id="inputAttrList">
                                            <ui:repeat varStatus="in" value="#{marketingController.placesAttr[l.index].valueList}" var="val">
                                                <div class="inputAttr">
                                                    
                                                    <h:inputText rendered="#{base.datatype==0 or base.datatype==1}" a:type="#{base.datatype==1?'number':'text'}" required="#{base.required}" id="inputField" requiredMessage=" لطفا این مقدار را تکمیل کنید!" a:placeholder="#{marketingController.placesAttr[l.index].feature}"  style="margin-bottom: 5px" styleClass="form-control" value="#{marketingController.placesAttr[l.index].valueList[in.index]}" />
                                                    <h:message  rendered="#{base.datatype==0 or base.datatype==1}" style="color:red" for="inputField" />

                                                    <h:selectOneRadio   rendered="#{base.datatype==2}" id="inputField2" required="#{base.required}"  requiredMessage=" لطفا این مقدار را تکمیل کنید!"  style="margin-bottom: 5px" styleClass="form-control" value="#{marketingController.placesAttr[l.index].valueList[in.index]}">
                                                        <f:selectItem itemValue="بله" itemLabel="بله" />
                                                        <f:selectItem itemValue="خیر"  itemLabel="خیر" />
                                                    </h:selectOneRadio>
                                                    <h:message  rendered="#{base.datatype==2}" style="color:red" for="inputField2" />

                                                    <h:selectOneMenu  rendered="#{base.datatype==3}" id="inputField3" required="#{base.required}"  requiredMessage=" لطفا این مقدار را تکمیل کنید!"  style="margin-bottom: 5px" styleClass="form-control" value="#{marketingController.placesAttr[l.index].valueList[in.index]}">
                                                        <f:selectItem itemLabel="انتخاب کنید..." />
                                                        <f:selectItems value="#{base.getSelectItems()}" var="s" itemValue="#{s}" />
                                                    </h:selectOneMenu>
                                                    <h:message  rendered="#{base.datatype==3}" style="color:red" for="inputField3" />

                                                    <h:inputTextarea rendered="#{base.datatype==4}"  required="#{base.required}" id="inputField4" requiredMessage=" لطفا این مقدار را تکمیل کنید!" a:placeholder="#{marketingController.placesAttr[l.index].feature}"  style="margin-bottom: 5px" styleClass="form-control" value="#{marketingController.placesAttr[l.index].valueList[in.index]}" ></h:inputTextarea>
                                                    <h:message  rendered="#{base.datatype==4}" style="color:red" for="inputField4" />
                                                    
                                                    <h:commandLink rendered="#{marketingController.placesAttr[l.index].valueList.size() gt 1}" action="#{marketingController.removeAttr(2,l.index,in.index)}">
                                                        <i class="fa fa-remove" />
                                                        <f:ajax execute="@this #{inputAttrList1.clientId}" render="#{inputAttrList1.clientId}" />
                                                        <o:skipValidators />
                                                    </h:commandLink>
                                                </div>
                                            </ui:repeat>
                                        </h:panelGroup>
                                    </td>
                                    <td style="width:45px;padding-right: 5px">
                                        <h:commandLink rendered="#{base.multiple}" styleClass="btn btn-primary" action="#{marketingController.plusAtr(2,l.index)}" >
                                            <i class="fa fa-plus" />
                                            <o:skipValidators />
                                            <f:ajax execute="@this #{inputAttrList1.clientId}" render="#{inputAttrList1.clientId}" />
                                        </h:commandLink>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </ui:repeat>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                         <h:commandLink  rendered="#{marketingController.marketSelected.id!=null}"  style="margin-left: 10px" onclick="cancelForm()" action="#{marketingController.setPage('base')}" styleClass="btn btn-danger btn-1g" value="انصراف"  >
                            <f:ajax execute="@form" render="formsection" />
                            <span class="fa fa-remove" hidden-area="true" />
                        </h:commandLink>
                        <h:commandLink  style="margin-left: 10px" action="#{marketingController.setPage('base')}" styleClass="btn btn-info btn-1g" value="اطلاعات پایه"  >
                            <f:ajax execute="@form" render="formsection" />
                            <o:skipValidators />
                            <span class="fa fa-arrow-right" hidden-area="true" />
                        </h:commandLink>
                        <h:commandLink  style="margin-left: 10px" rendered="#{marketingController.marketSelected.id!=null}" styleClass="btn btn-primary btn-1g" value=" ثبت اطلاعات"  action="#{marketingController.submit()}" >
                            <f:ajax execute="@form" render=":growl formsection" />
                            <span class="fa fa-save" hidden-area="true" />
                        </h:commandLink>
                        <h:commandLink styleClass="btn btn-success btn-1g" value="اطلاعات رقابتی"  action="#{marketingController.setPage('competition')}" >
                            <f:ajax execute="@form" render="formsection" />
                            <span class="fa fa-arrow-left" hidden-area="true" />
                        </h:commandLink>
                    </div>
                </div>
            </h:panelGroup>
        </fieldset>
    </ui:composition>
</html>
