<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition >
        <h:panelGroup rendered="#{marketingController.marketSelected!=null}">
            <fieldset style="margin-top: 30px">
                <legend>اطلاعات اولیه</legend>
                <div class="row">
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">نام مکان</div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">#{marketingController.marketSelected.name}</div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">نوع بازار</div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">#{marketingController.marketSelected.markrttype.name}</div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">اولویت</div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h:outputText rendered="#{marketingController.marketSelected.priorty==1}" value="متوسط" />
                        <h:outputText rendered="#{marketingController.marketSelected.priorty==0}" value="پایین" />
                        <h:outputText rendered="#{marketingController.marketSelected.priorty==2}" value="بالا" />
                    </div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">نشانی</div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">#{marketingController.marketSelected.address}</div>
                    <ui:repeat value="#{marketingController.marketSelected.baseFeature}" var="basef">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">#{basef.feature}</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ui:repeat value="#{basef.valueList}" var="v">#{v}<br/></ui:repeat>
                        </div>
                        <hr/>
                    </ui:repeat>
                </div>
            </fieldset>
            <fieldset style="margin-top: 30px">
                <legend>اطلاعات مکانی</legend>
                <div class="row">
                    <ui:repeat value="#{marketingController.marketSelected.placesFeature}"  var="basef">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">#{basef.feature}</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ui:repeat value="#{basef.valueList}" var="v">#{v}<br/></ui:repeat>
                        </div>
                        <hr/>
                    </ui:repeat>
                </div>
            </fieldset>
            <fieldset style="margin-top: 30px">
                <legend>اطلاعات رقابتی</legend>
                <div class="row">
                    <ui:repeat value="#{marketingController.marketSelected.competitionFeature}" var="basef">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">#{basef.feature}</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ui:repeat value="#{basef.valueList}" var="v">#{v}<br/></ui:repeat>
                        </div>
                        <hr/>
                    </ui:repeat>
                </div>
            </fieldset>
        </h:panelGroup>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                <h:commandButton  type="button" style="margin-top: 10px" onclick="$('.showmodal').hide();" styleClass="btn btn-warnning btn-1g" value="انصراف"  >
                </h:commandButton>
            </div>
        </div>

    </ui:composition>
</html>
