<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition >
        <h:form id="form" prependId="false">
            <div style="position: relative;display: inline-block;height: 100vh;width: 100%">
                <div id='map' style="position: absolute;width:100%;height:100%"></div>
                <div class="mymodal">
                    <div class="container" >
                        <h:panelGroup id="formsection">
                            <ui:include src="#{marketingController.page}.xhtml" />
                        </h:panelGroup>
                    </div>
                </div>
                <div class="showmodal">
                    <div class="container" >
                        <h:panelGroup id="sectionShow">
                            <h:panelGroup rendered="#{marketingController.isGrant('SHOW', marketingController.marketSelected)}">
                                <ui:include src="show.xhtml" />
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </div>
                <div class="searchbar">
                    <table style="width: 365px;margin: 10px 0;vertical-align: middle">
                        <tr>
                            <td style="vertical-align: middle;width: 35px">
                                <h:commandLink action="#{marketingController.setFullPiont(true)}">
                                    <f:ajax execute="@this" render="@this" />
                                    <span  class="fa fa-2x #{marketingController.fullPiont?'fa-podcast':'fa-rotate-45 fa-arrows'}"></span> 
                                </h:commandLink>
                            </td>
                            <td style="vertical-align: middle" id="search_btn"><span  class="fa fa-2x fa-search"></span> </td>
                            <td><input id="searchTextField" placeholder="جست و جوی مکان ..." type="text" class="form-control searchinputr"  /></td>
                        </tr>
                    </table>
                </div>
                <div class="notificationBar">
                    <div style="position: relative">
                        <a onclick="$('.notificationBar').slideUp('fast');" style="position: absolute;left: 0;top:5px;cursor: pointer"><span   class="fa fa-remove"></span> </a>
                    </div>
                    <h2 id='market_title'></h2>
                    <p id='market_type'></p>

                    <div class="toolbar">
                        <h:panelGroup id="toolbar">
                            <h:panelGroup rendered="#{marketingController.marketSelected!=null}">
                                <h:commandLink styleClass="btn btn-primary">
                                    ثبت سفارش
                                    <f:ajax execute="@this" render="@this" />
                                    <span  class="fa fa-cart-plus"></span> 
                                </h:commandLink>
                                <h:commandLink rendered="#{marketingController.isGrant('SHOW', marketingController.marketSelected)}"  styleClass="btn btn-info">
                                    مشاهده اطلاعات
                                    <f:ajax execute="@this" render="sectionShow" onevent="function(event){if(event.status=='complete'){$('.showmodal').show();}}" />
                                    <span  class="fa fa-search"></span> 
                                </h:commandLink>
                                <h:commandLink rendered="#{marketingController.isGrant('EDIT', marketingController.marketSelected)}"  styleClass="btn btn-warning" action="#{marketingController.preparEdit}">
                                    ویرایش
                                    <f:ajax execute="@this" render="@this" />
                                    <span  class="fa fa-edit"></span> 
                                </h:commandLink>
                                <h:commandLink rendered="#{marketingController.isGrant('REMOVE', marketingController.marketSelected)}" onclick="if (confirm('آیا از حذف اطمینان دارید؟')) {
                                            removeMarket();
                                        }
                                        $('.notificationBar').slideUp('fast');
                                        return  false;" class="btn btn-danger">
                                    حذف
                                    <span  class="fa fa-remove"></span> 
                                </h:commandLink>
                                <o:commandScript rendered="#{marketingController.isGrant('REMOVE', marketingController.marketSelected)}"  execute="@this" name="removeMarket" action="#{marketingController.removeMarket}" />
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>

                </div>
            </div>
            <h:inputHidden binding="#{selectLat}" id='selectLat' value="2" />
            <h:inputHidden binding="#{selectLng}" id='selectLng'  value="2" />
            <o:commandScript execute="selectLat selectLng" name="callMarkers" action="#{marketingController.callMarkers}" />
            <o:commandScript execute="selectLat selectLng" name="selectMarker" render="toolbar" action="#{marketingController.onMarkerSelect}" />
        </h:form>
        <h:form>
            <o:commandScript name="prepareCreate" oncomplete="markerAddComplete();" action="#{marketingController.prepareCreate}" />
        </h:form>
        <script type="text/javascript">
            var context_path = '#{request.contextPath}';
            var editLat = document.getElementById('#{lat.clientId}');
            var editLng = document.getElementById('#{lng.clientId}');
            var address = document.getElementById("#{address.clientId}");
            var province = document.getElementById("#{province.clientId}");
            var city = document.getElementById("#{city.clientId}");
            var selectedLat = document.getElementById('#{selectLat.clientId}');
            var selectedLng = document.getElementById('#{selectLng.clientId}');
            var path =#{marketingController.currentUser.jsonPath()};
            var has_role_self_add=#{marketingController.currentUser.hasRole('MARKETING_SELF_ADD')};
            var has_role_all_add=#{marketingController.currentUser.hasRole('MARKETING_ALL_ADD')};
        </script>
        <h:outputScript library="js" name="marketing.js" />
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcSs4fEMdrLrauggKfRbRqmgM86Wt1OE4&amp;libraries=places&amp;language=fa&amp;callback=initMap" type="text/javascript"></script>
    </ui:composition>
</html>
