<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrderitemsCreateDlg" widgetVar="OrderitemsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateOrderitemsTitle}">
            <h:form id="OrderitemsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{orderitemsController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateOrderitemsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{orderitemsController.selected.id}" title="#{bundle.CreateOrderitemsTitle_id}" required="true" requiredMessage="#{bundle.CreateOrderitemsRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateOrderitemsLabel_numberorder}" for="numberorder" />
                        <p:inputText id="numberorder" value="#{orderitemsController.selected.numberorder}" title="#{bundle.CreateOrderitemsTitle_numberorder}" />
                        <p:outputLabel value="#{bundle.CreateOrderitemsLabel_status}" for="status" />
                        <p:inputText id="status" value="#{orderitemsController.selected.status}" title="#{bundle.CreateOrderitemsTitle_status}" />
                        <p:outputLabel value="#{bundle.CreateOrderitemsLabel_meta}" for="meta" />
                        <p:inputText id="meta" value="#{orderitemsController.selected.meta}" title="#{bundle.CreateOrderitemsTitle_meta}" />
                        <p:outputLabel value="#{bundle.CreateOrderitemsLabel_product}" for="product" />
                        <p:selectOneMenu id="product" value="#{orderitemsController.selected.product}" >
                            <f:selectItems value="#{productController.itemsAvailableSelectOne}"
                                           var="productItem"
                                           itemValue="#{productItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateOrderitemsLabel_orderproduct}" for="orderproduct" />
                        <p:selectOneMenu id="orderproduct" value="#{orderitemsController.selected.orderproduct}" >
                            <f:selectItems value="#{orderproductController.itemsAvailableSelectOne}"
                                           var="orderproductItem"
                                           itemValue="#{orderproductItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{orderitemsController.create}" value="#{bundle.Save}" update="display,:OrderitemsListForm:datalist,:growl" oncomplete="handleSubmit(args,'OrderitemsCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="OrderitemsCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
