<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrderitemsEditDlg" widgetVar="OrderitemsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditOrderitemsTitle}">
            <h:form id="OrderitemsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{orderitemsController.selected != null}">
                        <p:outputLabel value="#{bundle.EditOrderitemsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{orderitemsController.selected.id}" title="#{bundle.EditOrderitemsTitle_id}" required="true" requiredMessage="#{bundle.EditOrderitemsRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditOrderitemsLabel_numberorder}" for="numberorder" />
                        <p:inputText id="numberorder" value="#{orderitemsController.selected.numberorder}" title="#{bundle.EditOrderitemsTitle_numberorder}" />
                        <p:outputLabel value="#{bundle.EditOrderitemsLabel_status}" for="status" />
                        <p:inputText id="status" value="#{orderitemsController.selected.status}" title="#{bundle.EditOrderitemsTitle_status}" />
                        <p:outputLabel value="#{bundle.EditOrderitemsLabel_meta}" for="meta" />
                        <p:inputText id="meta" value="#{orderitemsController.selected.meta}" title="#{bundle.EditOrderitemsTitle_meta}" />
                        <p:outputLabel value="#{bundle.EditOrderitemsLabel_product}" for="product" />
                        <p:selectOneMenu id="product" value="#{orderitemsController.selected.product}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productController.itemsAvailableSelectOne}"
                                           var="productItem"
                                           itemValue="#{productItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditOrderitemsLabel_orderproduct}" for="orderproduct" />
                        <p:selectOneMenu id="orderproduct" value="#{orderitemsController.selected.orderproduct}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{orderproductController.itemsAvailableSelectOne}"
                                           var="orderproductItem"
                                           itemValue="#{orderproductItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{orderitemsController.update}" value="#{bundle.Save}" update="display,:OrderitemsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'OrderitemsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="OrderitemsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
