<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrderitemsViewDlg" widgetVar="OrderitemsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewOrderitemsTitle}">
            <h:form id="OrderitemsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{orderitemsController.selected != null}">
                        <h:outputText value="#{bundle.ViewOrderitemsLabel_id}"/>
                        <h:outputText value="#{orderitemsController.selected.id}" title="#{bundle.ViewOrderitemsTitle_id}"/>
                        <h:outputText value="#{bundle.ViewOrderitemsLabel_numberorder}"/>
                        <h:outputText value="#{orderitemsController.selected.numberorder}" title="#{bundle.ViewOrderitemsTitle_numberorder}"/>
                        <h:outputText value="#{bundle.ViewOrderitemsLabel_status}"/>
                        <h:outputText value="#{orderitemsController.selected.status}" title="#{bundle.ViewOrderitemsTitle_status}"/>
                        <h:outputText value="#{bundle.ViewOrderitemsLabel_meta}"/>
                        <h:outputText value="#{orderitemsController.selected.meta}" title="#{bundle.ViewOrderitemsTitle_meta}"/>
                        <h:outputText value="#{bundle.ViewOrderitemsLabel_product}"/>
                        <h:outputText value="#{orderitemsController.selected.product}" title="#{bundle.ViewOrderitemsTitle_product}"/>
                        <h:outputText value="#{bundle.ViewOrderitemsLabel_orderproduct}"/>
                        <h:outputText value="#{orderitemsController.selected.orderproduct}" title="#{bundle.ViewOrderitemsTitle_orderproduct}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="OrderitemsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
